<template>
  <v-dialog
    v-model="open"
    :max-width="getSize"
    :persistent="false"
  >
    <onboarding-stepper
      :open="open"
      :persistentModal="false"
    >
    </onboarding-stepper>
  </v-dialog>
</template>

<script>
  import storeOnboardingDialog from "../store";
  import storeOnboarding from "../stepper/register/store";
  import OnboardingStepper from "../stepper/OnboardingStepper.vue";
  import { mapState, mapActions } from 'vuex';

  export default {
    computed: {
      open: {
        get: function() {
          return this.$store.state.onboarding_dialog.open;
        },
        set: function(newValue) {
          if(newValue == true) {
            this.openOnboardingDialog();
          } else {
            this.closeOnboardingDialog();
          }
        }
      },
      ...mapState(
        "onboarding_dialog", [
          "current_step_dialog",
          "initStep"
        ]
      ),
      getSize() {
        if (this.current_step_dialog == 1) {
          return '570px'
        } else if (this.current_step_dialog == 2) {
          return '1100px'
        }
      }
    },
    created() {
      if(!this.$store.hasModule("onboarding_dialog")) {
        this.$store.registerModule("onboarding_dialog", storeOnboardingDialog);
      }
      if(!this.$store.hasModule("onboarding")) {
        this.$store.registerModule("onboarding", storeOnboarding);
      }
    },
    methods: {
      ...mapActions(
        "onboarding_dialog", [
          "openOnboardingDialog",
          "closeOnboardingDialog"
        ]
      )
    },
    components: {
      OnboardingStepper
    }
  };
</script>