<i18n>
{
  "es": {
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas",
    "headline-sign-in-continue": "¡Hola! Inicia sesión para continuar",
    "subheadline-first-time": "¿Tu primera vez en SeSocio?",
    "subheadline-register": "Registrate",
    "forgot_password": "¿Olvidaste tu contraseña?",
    "submit": "Iniciar sesión",
    "or_with": "O ingresa con",
    "login_apple": "Iniciar sesión con Apple",
    "login_google": "Iniciar sesión con Google",
    "user": {
      "email": "Email",
      "password": "Contraseña"
    },
    "error_ocurred": "No es posible efectuar el login. Por favor intentar nuevamente más tarde.",
    "not_logged": "Aún no has ingresado.",
    "unauthorized": "El email o contraseña ingresados son incorrectos.",
    "account_blocked": "No es posible efectuar el login. Por favor comunicarse con arg-support@blockchain.com.",
    "errors": {
      "required": "Requerido",
      "min": "Mínimo 8 caracteres",
      "oneLowerCaseLetter": "Al menos una letra minúscula",
      "oneUpperCaseLetter": "Al menos una letra mayúscula",
      "oneDigit": "Al menos un número",
      "oneNonWord": "Al menos un caracter especial (-+_!@#$%^&*.,?)",
      "email": "El correo debe ser válido"
    }
  },
  "es-AR": {
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas",
    "headline-sign-in-continue": "¡Hola! Inicia sesión para continuar",
    "subheadline-first-time": "¿Tu primera vez en SeSocio?",
    "subheadline-register": "Registrate",
    "forgot_password": "¿Olvidaste tu contraseña?",
    "submit": "Iniciar sesión",
    "or_with": "O ingresa con",
    "login_apple": "Iniciar sesión con Apple",
    "login_google": "Iniciar sesión con Google",
    "user": {
      "email": "Email",
      "password": "Contraseña"
    },
    "error_ocurred": "No es posible efectuar el login. Por favor intentar nuevamente más tarde.",
    "not_logged": "Aún no has ingresado.",
    "unauthorized": "El email o contraseña ingresados son incorrectos.",
    "account_blocked": "No es posible efectuar el login. Por favor comunicarse con arg-support@blockchain.com.",
    "errors": {
      "required": "Requerido",
      "min": "Mínimo 8 caracteres",
      "oneLowerCaseLetter": "Al menos una letra minúscula",
      "oneUpperCaseLetter": "Al menos una letra mayúscula",
      "oneDigit": "Al menos un número",
      "oneNonWord": "Al menos un caracter especial (-+_!@#$%^&*.,?)",
      "email": "El correo debe ser válido"
    }
  },
  "en": {
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas",
    "subheadline-first-time": "¿Tu primera vez en SeSocio?",
    "subheadline-register": "Register",
    "forgot_password": "¿Olvidaste tu contraseña?",
    "submit": "Login",
    "or_with": "Or sign in with",
    "login_apple": "Sign in with Apple",
    "login_google": "Sign in with Google",
    "user": {
      "email": "E-mail",
      "password": "Password"
    },
    "error_ocurred": "It is not possible to login. Please try again later.",
    "not_logged": "You haven't been logged in yet!",
    "unauthorized": "Incorrect email and/or password",
    "account_blocked": "It is not possible to login. Please contact arg-support@blockchain.com.",
    "errors": {
      "required": "Required",
      "min": "Min 8 characters",
      "oneLowerCaseLetter": "At least one lower case letter",
      "oneUpperCaseLetter": "At least one upper case letter",
      "oneDigit": "At least one digit",
      "oneNonWord": "At least one non-word character (-+_!@#$%^&*.,?)",
      "email": "E-mail must be valid"
    }
  }
}
</i18n>

<template>
  <v-card
    class="elevation-0"
    color="transparent"
  >
    <div>
      <v-img
        v-if="!welcomeMessage() || $vuetify.breakpoint.smAndDown"
        :src="$vuetify.breakpoint.smAndUp ?
          require('../../../../../../assets/onboarding/images/image-login-header.jpg') :
          require('../../../../../../assets/onboarding/images/image-login-header-mobile.jpg')
        "
        :lazy-src="$vuetify.breakpoint.smAndUp ?
          require('../../../../../../assets/onboarding/images/image-login-header.jpg?lazy') :
          require('../../../../../../assets/onboarding/images/image-login-header-mobile.jpg?lazy')
        "
        height="67px"
        class="bg-black"
      >
      </v-img>
    </div>

    <v-card
      class="pt-2 pt-md-6 pb-8 px-7 elevation-0"
      color="transparent"
    >
      <v-form
        ref="form"
        v-model="valid"
        autocomplete="on"
        @submit.prevent="loginWith()"
      >
        <v-row
          class="justify-center"
          no-gutters
        >
          <v-col
            cols="12"
            class="d-md-block"
          >
            <h3
              class="text-h5 pt-4 pt-md-0"
            >
              <span
                v-if="welcomeMessage()"
                v-text="$t('headline-welcome-back')"
                class="font-weight-bold poppins"
              ></span>
              <span
                v-else
                v-text="$t('headline-sign-in-continue')"
                class="font-weight-bold poppins"
              ></span>
            </h3>
          </v-col>
          <v-col
            cols="12"
          >
            <h4
              class="pt-2 text-body-2 font-weight-medium"
            >
              {{$t('subheadline-first-time')}}
              <a
                @click="nextStepDialog()"
                v-text="$t('subheadline-register')"
                class="text-decoration-underline font-weight-black text-body-1"
              ></a>
            </h4>
          </v-col>
          <v-col
            cols="12"
            class="pt-3 pt-md-3"
          >
            <v-text-field
              v-model="user.email"
              :rules="[rules.required, rules.email]"
              :label="$t('user.email')"
              autocomplete="email"
              data-test-email
              :placeholder="!persistent ? ' ' : undefined"
              :persistent-placeholder="!persistent"
              name="email"
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :append-icon="show ? 'mdi-eye-outline' : 'mdi-eye-off-outline'"
              :rules="[
                rules.required
              ]"
              :type="show ? 'text' : 'password'"
              :label="$t('user.password')"
              @click:append="show = !show"
              autocomplete="password"
              data-test-password
              :placeholder="!persistent ? ' ' : undefined"
              :persistent-placeholder="!persistent"
              name="password"
            ></v-text-field>
            <router-link
              to="/recover"
            >
              <span
                class="pl-0 text-decoration-underline font-weight-black text-body-1"
              >
                {{$t('forgot_password')}}
              </span>
            </router-link>
          </v-col>
          <v-col
            cols="12"
            class="pt-7 pt-md-8"
          >
            <v-btn
              class="mx-auto py-5 font-weight-black text-body-1"
              :disabled="!valid"
              color="primary"
              width="100%"
              type="submit"
              data-test-submit
            >
              {{ $t("submit") }}
            </v-btn>
          </v-col>
          <v-col
            cols="12"
            class="pt-3 pt-md-7"
          >
            <h4
              class="pt-2 text-body-2 font-weight-medium text-center"
            >
              {{$t('or_with')}}
            </h4>
          </v-col>
          <v-col
            cols="12"
            class="pt-4 pt-sm-6"
          >
            <v-row
              justify="center"
            >
              <v-col
                cols="12"
                md="6"
                class="pb-0 pb-md-2"
              >
                <v-btn
                  @click="loginWith('apple')"
                  class="px-5 py-5 mx-auto rounded-lg text-body-2 font-weight-black black--text"
                  color="white"
                  width="100%"
                >
                  <v-icon
                    class="mr-1"
                    medium
                    color="black"
                  >
                    mdi-apple
                  </v-icon>
                  <span>
                    {{$t('login_apple')}}
                  </span>
                </v-btn>
              </v-col>
              <v-col
                cols="12"
                md="6"
              >
                <v-btn
                  @click="loginWith('google')"
                  class="px-5 py-5 mx-auto rounded-lg text-body-2 font-weight-black black--text"
                  color="white"
                  width="100%"
                >
                  <v-avatar size="20" class="mr-2" tile>
                    <v-img src="../../../../../../assets/onboarding/icons/icon-google.svg"/>
                  </v-avatar>
                  <span>
                    {{$t('login_google')}}
                  </span>
                </v-btn>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-form>
    </v-card>
  </v-card>
</template>

<script>
import Axios from "axios";
import { mapActions, mapState } from "vuex";
import { Capacitor } from '@capacitor/core';

import "../../../../../../plugins/firebase";
import 'firebase/auth';
import firebase from 'firebase/app';
import { cfaSignIn } from 'capacitor-firebase-auth/alternative';

export default {
  props: {
    persistent: {
      required: false,
      default: false,
      type: Boolean
    }
  },
  name: "Login",
  data() {
    return {
      show: false,
      locale: "es",
      valid: true,
      user: {
        password: "",
        email: ""
      },
      rules: {
        required: value => !!value || this.$t("errors.required"),
        email: v => /.+@.+/.test(v) || this.$t("errors.email"),
      },
      fb_recover_warning: false
    };
  },
  watch: {
    locale(val) {
      this.$i18n.locale = val;
    },
    isCordovaEnvironment: {
      immediate: true,
      handler(newVal, oldVal) {
        if(newVal) {
          if(this.getSocialLoginCookie()) {
            this.hideSpinnerLoader();
          }
          this.withRedirectResponse();
        }
      }
    }
  },
  computed: {
    ...mapState(
      "core", [
        "country",
        "isCordovaEnvironment"
      ]
    ),
    ...mapState(
      "onboarding_dialog", [
        "redirectUrl"
      ]
    ),
  },
  methods: {
    ...mapActions(
      'user', [
        'login'
      ]
    ),
    ...mapActions(
      'ui-spinner', [
        'showSpinnerLoader',
        'hideSpinnerLoader'
      ]
    ),
    ...mapActions(
      'snackbar', [
        'showSnackbar'
      ]
    ),
    ...mapActions(
      'onboarding_dialog', [
        'goToDialogStep'
      ]
    ),
    welcomeMessage(){
      return ['/login', '/register'].includes(window.location.pathname);
    },
    loginWith(provider){
      this.showSpinnerLoader();

      let providers = {
        'google': () => {
          this.signIn('google');
          return true;
        },
        'apple': () => {
          this.signIn('apple');
          return true;
        },
        'default': () => {
          this.validate();
          return true;
        }
      }
      return (providers[provider] || providers['default'])();
    },
    signIn(provider) {
      let providers = {
        'facebook': () => {
          return ['ios', 'android'].includes(Capacitor.getPlatform()) ? 'facebook.com' : new firebase.auth.FacebookAuthProvider();
        },
        'google': () => {
          return ['ios', 'android'].includes(Capacitor.getPlatform()) ? 'google.com' : new firebase.auth.GoogleAuthProvider()
        },
        'apple': () => {
          return ['ios', 'android'].includes(Capacitor.getPlatform()) ? 'apple.com' : new firebase.auth.OAuthProvider('apple.com')
        },
        'default': () => {
          console.log("Please select a valid provider.");
          return false;
        }
      }
      if(this.isCordovaEnvironment) {
        this.withRedirect(
          (providers[provider] || providers['default'])()
        );
      }else if(['ios', 'android'].includes(Capacitor.getPlatform())) {
        this.withCapacitor(
          (providers[provider] || providers['default'])()
        );
      }else {
        this.withPopUp(
          (providers[provider] || providers['default'])()
        );
      }
    },
    withCapacitor(provider){
      cfaSignIn(provider)
      .subscribe(
        (result) => {
          if(result.userCredential) {
            this.loginSuccess(result.userCredential);
          }
        },
        (err) => {
          this.showSnackbar({
            message: this.$t('error_ocurred')
          });
          this.hideSpinnerLoader();
        }
      );
    },
    withPopUp(provider, method) {
      firebase.auth().languageCode = 'es';
      firebase.auth().signInWithPopup(provider).then((result) => {
        // console.log("APPLE DATA: ", result);
        this.loginSuccess(result, method);
      }).catch((error) => {
        this.showSnackbar({
          message: this.$t('error_ocurred')
        });
        this.removeSocialLoginCookie();
        this.hideSpinnerLoader();
      });
      // this.hideSpinnerLoader();
    },
    withRedirect(provider) {
      this.setSocialLoginCookie();

      firebase.auth().languageCode = 'es';
      firebase.auth().signInWithRedirect(provider);
    },
    withRedirectResponse() {
      firebase.auth().getRedirectResult().then(result => {
        if(result.user) {
          this.loginSuccess(result);
        }
      }).catch(function(error) {
        this.showSnackbar({
          message: this.$t('error_ocurred')
        });
        this.removeSocialLoginCookie();
        this.hideSpinnerLoader();
      });
    },
    loginSuccess(result) {
      this.$gtm.trackEvent({
        event: 'loginSuccessful', // Event type [default = 'interaction'] (Optional)
        category: 'Users',
        action: 'Login',
        label: this.$store.state.user.email,
        noninteraction: false // Optional
      });

      let user = result.user.toJSON();
      let credential = result.credential;

      if(result.additionalUserInfo && result.additionalUserInfo.profile) {
        user.familyName = result.additionalUserInfo.profile.family_name;
        user.givenName = result.additionalUserInfo.profile.given_name;
      }

      this.apiLoginSuccess(user, credential);
    },
    apiLoginSuccess(user, credential) {
      this.showSpinnerLoader();
      let apiMethod = credential.signInMethod === 'google.com' ? 'google_oauth2' : credential.signInMethod.replace('.com', '');
      Axios({
        url: process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/auth/" + apiMethod + "/login",
        data: { user: user, email: user.email, country: this.country, credential: credential },
        headers: { 'id_token': credential.idToken },
        method: "POST"
      }).then(response => {
        this.$store.dispatch("user/setToken", response.data.token).then(resp => {
          this.runRedirect();
          this.hideSpinnerLoader();
          this.emitCloseOnboardingDialog();
          this.removeSocialLoginCookie();
        });
      }).catch(error => {
        if(error.response.data && error.response.data.error == 'pwa_not_active') {
          location.href = process.env.VUE_APP_API_BASE_URL + '/my_home?token=' + error.response.data.token;
          return;
        }
        if (error.response.status == 401) {
          this.showSnackbar({
            message: this.$t(error.response.data.error)
          });
        }else {
          this.showSnackbar({
            message: this.$t('error_ocurred')
          });
        }
        this.removeSocialLoginCookie();
        this.hideSpinnerLoader();
      });
    },
    emitCloseOnboardingDialog() {
      this.$emit('close-onboarding-dialog')
    },
    nextStepDialog() {
      this.$emit('next-step-dialog')
    },
    async validate() {
      if(this.$refs.form.validate()) {
        await this.login({
          email: this.user.email.toLowerCase().trim(),
          password: this.user.password
        })
        .then(response => {
          this.$gtm.trackEvent({
            event: 'loginSuccessful', // Event type [default = 'interaction'] (Optional)
            category: 'Users',
            action: 'Login',
            label: this.user.email.toLowerCase().trim(),
            noninteraction: false // Optional
          });
          // ga('send', 'event', 'Users', 'Login', this.email.toLowerCase().trim());
          this.emitCloseOnboardingDialog();
          this.runRedirect();
          this.hideSpinnerLoader();
        })
        .catch(e => {
          if (e.response.status == 401) {
            this.showSnackbar({
              message: this.$t(e.response.data.error)
            });
          }else {
            this.showSnackbar({
              message: this.$t('error_ocurred')
            });
          }
          this.hideSpinnerLoader();
        });
      }
    },
    runRedirect() {
      if (this.$router.currentRoute.query.redirect) {
        this.$router.push(this.$router.currentRoute.query.redirect);
      } else {
        if(this.redirectUrl) {
          this.$router.push(this.redirectUrl).catch(() => {});
        } else {
          if (process.env.VUE_APP_NAME && process.env.VUE_APP_NAME === 'pwa') {
            if (this.$router.currentRoute.path == '/login'
                || this.$router.currentRoute.path == '/register'
                || this.$router.currentRoute.path == '/')
            {
                this.$router.push('/portfolio');
            }
          }else {
            if(this.$router.currentRoute.path !== '/') {
              this.$router.push('/');
            }
          }
        }
      }
    },
    setSocialLoginCookie() {
      this.$cookies.set('social_login', true);
    },
    getSocialLoginCookie() {
      return this.$cookies.get('social_login');
    },
    removeSocialLoginCookie() {
      this.$cookies.remove('social_login');
    },
  },
};
</script>

<style scoped>
  .bg-black{
    background-color: #000;
  }
</style>