<i18n>
{
  "es": {
    "header": "¡Ten tu tarjeta Sesocio y se parte de esta revolución!",
    "title": "Nueva dirección para el envío de la tarjeta",
    "info": "Al ser parte de esta comunidad puedes <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios."
  },
  "es-AR": {
    "header": "¡Tené tu tarjeta Sesocio y se parte de esta revolución!",
    "title": "Nueva dirección para el envío de la tarjeta",
    "info": "Al ser parte de esta comunidad podes <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios."
  },
  "en": {
    "header": "¡Tené tu tarjeta Sesocio y se parte de esta revolución!",
    "title": "Nueva dirección para el envío de la tarjeta",
    "info": "Al ser parte de esta comunidad podes <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios."
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
    ref="parent"
  >
    <v-row
      no-gutters
      justify="center"
    >
      <v-col
        cols="12"
      >
        <v-card
          elevation="0"
        >
          <v-card-title
            class="d-block text-center content-bg-color font-weight-bold"
            v-text="$t('header')"
          ></v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      v-if="formType != 1"
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-6 pb-0"
          elevation="0"
        >
          <div
            class="pb-8 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-place.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-window v-model="formType">
      <v-window-item :value="1">
        <same-user-address-card-delivery
          @newAddress="setNewFormType(2)"
          :persistent="persistent"
        >
        </same-user-address-card-delivery>
      </v-window-item>

      <v-window-item :value="2">
        <show-card-delivery-form
          @addCustomAddress="setNewFormType(3)"
          :persistent="persistent"
        >
        </show-card-delivery-form>
      </v-window-item>

      <v-window-item :value="3">
        <show-card-delivery-custom-form
          :persistent="persistent"
        >
        </show-card-delivery-custom-form>
      </v-window-item>
    </v-window>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import SameUserAddressCardDelivery from './forms/SameUserAddressCardDelivery';
  import ShowCardDeliveryForm from './forms/ShowCardDeliveryForm';
  import ShowCardDeliveryCustomForm from './forms/ShowCardDeliveryCustomForm';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      },
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        formType: 1
      };
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ],
      ),
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      ...mapState(
        "onboarding_dialog", [
          'cardStatus',
        ]
      )
    },
    watch: {
      current_step(value){
        if (value == 10) {
          if(this.cardStatus == 'solicitar'){
            this.gtm_track_event_start();
            this.setNewFormType(1);
          }else {
            this.closeOnboardingDialog()
          }
        }
      }
    },
    methods: {
      ...mapActions("onboarding_dialog", [
        'closeOnboardingDialog'
      ]),
      gtm_track_event_start(){
        this.$gtm.trackEvent({
          event: 'card-delivery-details-step-09', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      setNewFormType(value){
        this.formType = value;
      }
    },
    components: {
      SameUserAddressCardDelivery,
      ShowCardDeliveryForm,
      ShowCardDeliveryCustomForm
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
