<template>
  <ui-notification></ui-notification>
</template>

<script>
  import store from "./store";
  import UiNotification from "./UiNotification"

  export default {
    created() {
      if (!this.$store.hasModule("ui-notification")) {
        this.$store.registerModule("ui-notification", store);
      }
    },
    components: {
      UiNotification
    }
  };
</script>
