<i18n>
{
  "es": {
    "view_more": "Ver todo",
    "no_news": "Aún no tienes notificaciones.",
    "comment_mention": "Te mencionaron en un comentario.",
    "comment": "Hay comentarios que pueden interesarte",
    "comment_reply": "Respondieron a tu comentario",
    "like": "Tu comentario tiene nuevos me gusta",
    "dislike": "Tu comentario tiene nuevos no me gusta",
    "report": "Tu comentario fue reportado",
    "clps": "¡Felicitaciones! El CLPS generó comisiones por {amount} transacciones",
    "no_results": "No se encontraron resultados",
    "end_notifications": "Llegaste al final de tus notificaciones",
    "prev": "Anterior",
    "next": "Siguiente",
    "delete": "Eliminar",
    "warning_cvu": "En caso que tu banco no este aceptando transferir a un CVU, podés utilizar los siguientes datos:",
    "are_you_sure": "¿Está seguro que desea eliminar el movimiento?",
    "cancel": "Cancelar",
    "accept": "Aceptar",
    "pay": "Pagar",
    "pending_deposit": "Depósito pendiente",
    "complete_documentation": "Completar documentación",
    "complete_profile": "Completa tu perfil",
    "review_documentation": "Revisar documentación",
    "documentation_not_approved": "Tenemos que actualizar tu información.",
    "documentation_rejected": "Tienes documentación que ha sido rechazada, por favor vuelve a intentarlo.",
    "documentation_message": "Te pedimos que por favor nos suministres la documentación necesaria para verificar tu cuenta.",
    "documentation_rejected_message": "Te pedimos que por favor revises la documentación rechazada para poder verificar tu cuenta.",
    "alert_limit": "Documentación Faltante",
    "alert_limit_message": "Para seguir operando debes actualizar la documentación de ingresos en Documentación adicional.",
    "bank_tranfer": {
      "message": "Completa tu transferencia de <strong>{amount} {currency}</strong>. El código de referencia  es <b> {id} </b>"
    },
    "mercado_pago": {
      "message": "Tu pago con MercadoPago esta pendiente. Si ya lo hiciste contactate con el equipo de soporte <strong>(código {id})</strong>."
    },
    "rapipago": {
      "message": "Realiza el pago de <strong>{amount} ARS</strong> en la sucursal de Rapipago más cercana.<br> Luego, envianos a <a href='mailto:{email}?subject={subject}'><b>{email}</b></a> el comprobante de la misma indicando Nombre, Apellido, documento y el código de referencia  <b> {id} </b>."
    },
    "bank_account": "Datos de la cuenta",
    "account_info": {
      "tw_account_holder": "Titular de la cuenta TW",
      "iban": "IBAN",
      "bank_code": "Código bancario",
      "bank_name": "Nombre del banco",
      "address": "Dirección",
      "account_number": "Número de cuenta",
      "swift": "SWIFT",
      "agency": "Agencia",
      "account_type_cbu": "Tipo de cuenta/CBU",
      "uk_short_code": "Código corto GB",
      "10_bank": "Nombre del Banco",
      "20_checking_account_ars": "Nro de cuenta en Pesos",
      "20_checking_account_cvu_ars": "CVU en Pesos",
      "30_checking_account_cbu_ars": "CBU Pesos",
      "40_checking_account_alias_ars": "Alias Pesos",
      "50_account_holder": "Titular",
      "60_cuit": "CUIT",
      "20_checking_account_usd": "Nro de cuenta en Dólares",
      "30_checking_account_cbu_usd": "CBU Dólares",
      "40_checking_account_alias_usd": "Alias Dólares",
      "20_rut": "RUT",
      "20_ruc": "RUC",
      "20_nit": "Nit",
      "50_email": "Email",
      "60_address": "Dirección",
      "40_beneficiary": "Titular",
      "30_checking_account_clp": "Nro de cuenta CLP",
      "30_checking_account_pen": "Nro de Cta Cte SOLES",
      "30_checking_account_usd": "Nro de cuenta USD",
      "30_checking_account_cop": "Número de cta ahorros COP",
      "60_account_number": "Número de cuenta",
      "70_client_number": "Número de cliente",
      "80_clabe": "Clabe (transferencias)",
      "80_cci": "CCI",
      "90_account_type": "Tipo de cuenta",
      "bind_alert": "<b>SeSocio - BIND: Integración servicios tecnológicos</b><br>Hemos cerrado un nuevo acuerdo para tener transferencias y retiros de saldo más rápidos. Durante las próximas semanas estaremos desarrolando diversas integraciones con las API's tecnológicas del banco con este objetivo.<br>Por este motivo, a partir del 3 de Junio estamos migrando nuestras cuentas bancarias al BIND, y dejaremos de recibir transferencias en el BBVA. Para evitar cualquier inconveniente, borrá la cuenta que tenías agendada previamente, y cuando realices un nueva inversión, agendá la nueva."
    },
    "rapi_pago_info": {
      "info": {
        "code": "Código Empresa",
        "name": "Nombre de Empresa",
        "60_cuit": "CUIT"
      }
    },
    "address": "Address",
    "crypto_message": "Para completar tu depósito tenés que realizar una transferencia por <strong>{amount} {currency}</strong> a la address indicada a continuación.<br>Tendrás acreditados los {currency} dentro de los próximos minutos. Te notificaremos por email cuando lo hayamos recibido.",
    "view": "Ver",
    "hide": "Ocultar",
    "verify_phone": "Verificar teléfono",
    "verify_phone_description": "Confirmá tu teléfono para mayor seguridad"
  },
  "en": {
    "view_more": "View more",
    "no_news": "You don't have notifications yet.",
    "comment_mention": "You have been mentioned in a comment",
    "comment": "Hay comentarios que pueden interesarte",
    "comment_reply": "Respondieron a tu comentario",
    "like": "Tu comentario tiene nuevos me gusta",
    "dislike": "Tu comentario tiene nuevos no me gusta",
    "report": "Tu comentario fue reportado",
    "title": "My notifications",
    "clps": "¡Felicitaciones! El CLPS generó comisiones por {amount} transacciones",
    "no_results": "No se encontraron resultados",
    "end_notifications": "Llegaste al final de tus notificaciones",
    "prev": "Anterior",
    "next": "Siguiente",
    "delete": "Delete",
    "warning_cvu": "En caso que tu banco no este aceptando transferir a un CVU, podés utilizar los siguientes datos:",
    "are_you_sure": "¿Are you sure you want to remove it?",
    "cancel": "Cancel",
    "accept": "Accept",
    "pay": "Pay",
    "pending_deposit": "Pending deposit",
    "complete_documentation": "Complete documentation",
    "complete_profile": "Complete your profile",
    "review_documentation": "Review documentation",
    "documentation_not_approved": "We have to update your information.",
    "documentation_rejected": "You have rejected documentation, please try again.",
    "documentation_message": "Please, add your documentation in order to verify your account.",
    "documentation_rejected_message": "Please, tray again upload rejected documentation.",
    "alert_limit": "Documentación Faltante",
    "alert_limit_message": "Para seguir operando debes actualizar la documentación de ingresos en Documentación adicional.",
    "bank_tranfer": {
      "message": "Complete transfer for <strong>{amount} {currency}</strong>.<br> Then send to <a href='mailto:{email}?subject={subject}'><b>{email}</b></a> the proof of the same indicating First name, Last name, document and the reference code  <b> {id} </b> so we can confirm it."
    },
    "mercado_pago": {
      "message": "Your payment is pending. The reference code is <strong>{id}</strong>."
    },
    "rapipago": {
      "message": "Make the payment of <strong>{amount} ARS</strong> at the nearest Rapipago branch.<br> Then send to <a href='mailto:{email}?subject={subject}'><b>{email}</b></a> the proof of the same indicating First name, Last name, document and the reference code <b> {id} </b>."
    },
    "bank_account": "Bank account",
    "account_info": {
      "tw_account_holder": "Account Holder",
      "iban": "IBAN",
      "bank_code": "Bank Code",
      "bank_name": "Bank Name",
      "address": "Address",
      "account_number": "Account Number",
      "account_type": "Account Type",
      "swift": "SWIFT",
      "agency": "Agency",
      "account_type_cbu": "Account Type/CBU",
      "uk_short_code": "Short Code",
      "10_bank": "Bank Name",
      "20_checking_account_ars": "ARS Account Number",
      "30_checking_account_cbu_ars": "CBU ARS",
      "40_checking_account_alias_ars": "Alias ARs",
      "50_account_holder": "Account Holder",
      "60_cuit": "CUIT",
      "20_checking_account_usd": "Account Number USD",
      "30_checking_account_cbu_usd": "CBU USD",
      "40_checking_account_alias_usd": "Alias USD",
      "20_rut": "RUT",
      "20_ruc": "RUC",
      "20_nit": "Nit",
      "50 email": "Email",
      "60_address": "Address",
      "40_beneficiary": "Account Holder",
      "30_checking_account_clp": "Accout Number CLP",
      "30_checking_account_pen": "Accout Number SOLES",
      "30_checking_account_usd": "Nro Accout Number USD",
      "30_checking_account_cop": "Nro Accout Number COP",
      "60_account_number": "Accout Number",
      "70_client_number": "Client Number",
      "80_clabe": "Clabe (transfers)",
      "80_cci": "CCI",
      "90_account_type": "Account Type",
      "bind_alert": "<b>SeSocio - BIND: Integration of technological services</b><br>We have closed a new agreement to have faster transfers and withdrawals of balance. Over the next few weeks we will be developing various integrations with the bank's technologies with this API objective<br>For this reason, as of June 3, we are migrating our bank accounts in BIND, and we will stop receiving transfers in the BBVA. To avoid any inconvenience, take into account the account that was previously published, and when you make a new investment, the new account."
    },
    "rapi_pago_info": {
      "info": {
        "code": "Company Account",
        "name": "Company Name",
        "60_cuit": "CUIT"
      }
    },
    "address": "Address",
    "crypto_message": "Para completar tu depósito tenés que realizar una transferencia por <strong>{amount} {currency}</strong> a la address indicada a continuación.<br>Tendrás acreditados los {currency} dentro de los próximos minutos. Te notificaremos por email cuando lo hayamos recibido.",
    "view": "View",
    "hide": "Hide",
    "verify_phone": "Verify phone",
    "verify_phone_description": "Validate your number for more security"
  }
}
</i18n>
<template>
  <div>
    <v-menu
        v-model="isOpened"
        offset-y
        bottom
        transition="slide-y-transition"
        rounded="0"
        v-if="isLoggedIn"
    >
      <template v-slot:activator="{ on }">
        <v-btn
            icon
            color="black"
            v-on="on"
            class="ml-1"
            :class="{ h40px: !isXsSm(), h35px: isXsSm() }"
        >
          <v-icon>mdi-bell-ring</v-icon>
          <v-icon
              v-if="hasUnread"
              size="11"
              style="position: absolute; top: 7px; right: 4px"
              color="secondary"
          >
            mdi-circle
          </v-icon>
        </v-btn>
      </template>
      <v-list two-line dense class="pa-0">
        <template v-if="docRejected">
          <v-list-item style="background-color: rgba(65, 255, 175, 0.2);" to="/user/documentation">
            <v-list-item-avatar size="30">
              <v-icon color="red" class="danger--text size30" size="26">
                mdi-close-circle
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <template>
                <v-list-item-title>
                  {{ $t("documentation_rejected") }}
                </v-list-item-title>
                <v-list-item-title style="color: #707070">
                  {{ $t("documentation_rejected_message") }}
                </v-list-item-title>
              </template>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template v-if="docApproved">
          <v-list-item style="background-color: rgba(65, 255, 175, 0.2);" to="/user/documentation">
            <v-list-item-avatar size="30">
              <v-icon color="#f6941e" class="danger--text size30" size="26">
                mdi-alert-circle
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <template>
                <v-list-item-title>
                  {{ $t("documentation_not_approved") }}
                </v-list-item-title>
                <v-list-item-title style="color: #707070">
                  {{ $t("documentation_message") }}
                </v-list-item-title>
              </template>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template v-if="limitAlert">
          <v-list-item style="background-color: rgba(65, 255, 175, 0.2);" to="/user/documentation">
            <v-list-item-avatar size="30">
              <v-icon color="#f6941e" class="danger--text size30" size="26">
                mdi-alert-circle
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <template>
                <v-list-item-title>
                  {{ $t("alert_limit") }}
                </v-list-item-title>
                <v-list-item-title style="color: #707070">
                  {{ $t("alert_limit_message") }}
                </v-list-item-title>
              </template>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template v-if="unverifiedPhone">
          <v-list-item style="background-color: rgba(65, 255, 175, 0.2);" to="/user/information">
            <v-list-item-avatar size="30">
              <v-icon color="#f6941e" class="danger--text size30" size="26">
                mdi-alert-circle
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <template>
                <v-list-item-title>
                  {{ $t('verify_phone') }}
                </v-list-item-title>
                <v-list-item-title style="color: #707070">
                  {{ $t('verify_phone_description') }}
                </v-list-item-title>
              </template>
            </v-list-item-content>
          </v-list-item>
        </template>
        <template v-if="toggleCard && reminder != ''">
          <v-list-item style="background-color: rgba(65, 255, 175, 0.2);">
            <v-list-item-avatar size="30">
              <v-icon class="warning--text size30" size="26">
                mdi-alert-circle
              </v-icon>
            </v-list-item-avatar>
            <v-list-item-content>
              <template>
                <v-list-item-title>
                  {{ $t("pending_deposit") }}
                </v-list-item-title>
              </template>
            </v-list-item-content>
            <v-list-item-action>
              <v-btn fab x-small
                     :class="{'mr-2':  !isXsSm(), 'mt-1':  isXsSm(), 'd-none' : (toggleExtra), 'text--primary' : !(toggleExtra)}"
                     @click.stop="getExtraData(reminder.currency)" color="white" elevation="3">
                <v-icon size="20">mdi-eye-outline</v-icon>
              </v-btn>
              <v-btn fab x-small
                     :class="{'mr-2': !isXsSm(), 'mt-1':  isXsSm(), 'd-none' : !(toggleExtra), 'text--primary' : (toggleExtra)}"
                     @click.stop="getExtraData(reminder.currency)" color="white" elevation="3">
                <v-icon size="20">mdi-eye-off-outline</v-icon>
              </v-btn>
            </v-list-item-action>
          </v-list-item>
          <v-list-item-content v-show="toggleExtra" style="background-color: rgba(65, 255, 175, 0.2);">
            <div :class="{'ml-15':  !isXsSm(), 'ml-5':  isXsSm()}">
              <template v-if="reminder != ''">
                <div v-if="reminder.collectableType == 'MercadoPagoCollection'">
                  <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                     v-html="
                        $t('mercado_pago.message', {
                          amount: currencyFormat(reminder.amount, 'currencies'),
                          id: reminder.collectableId,
                        })
                      "></p>
                </div>
                <div v-if="reminder.collectableType == 'RapiPagoCollection'">
                  <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                     v-html="
                        $t('rapipago.message', {
                          amount: currencyFormat(reminder.amount, 'currencies'),
                          id: reminder.collectableId,
                          subject: `${this.current.firstname} ${this.current.lastname} - ${this.current.document} - ${reminder.collectableId}`,
                        })
                      "></p>
                </div>
                <div v-if="reminder.collectableType == 'BankTransferCollection'">
                  <template v-if="current.country == 'AR'">
                    <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                       v-html="
                          $t('bank_tranfer.message', {
                            amount: currencyFormat(
                              reminder.amount,
                              'currencies'
                            ),
                            currency: reminder.currency,
                            stable_coin_currency:
                              reminder.currency == 'USD' ? 'IUSDAR' : 'IARS',
                            id: reminder.collectableId,
                            email: getEmailByCountry(current.country),
                            subject: `${this.current.firstname} ${this.current.lastname} - ${this.current.document} - ${reminder.collectableId}`,
                          })
                        "></p>
                  </template>
                  <template v-else-if="reminder.currency == 'USD'">
                    <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                       v-html="
                          $t('bank_tranfer.message', {
                            amount: currencyFormat(
                              reminder.amount,
                              'currencies'
                            ),
                            currency: reminder.currency,
                            stable_coin_currency: 'IUSD',
                            id: reminder.collectableId,
                            email: getEmailByCountry(current.country),
                            subject: `${this.current.firstname} ${this.current.lastname} - ${this.current.document} - ${reminder.collectableId}`,
                          })
                        "></p>
                  </template>
                  <template v-else>
                    <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                       v-html="
                          $t('bank_tranfer.message', {
                            amount: currencyFormat(
                              reminder.amount,
                              'currencies'
                            ),
                            currency: reminder.currency,
                            id: reminder.collectableId,
                            email: getEmailByCountry(current.country),
                            subject: `${this.current.firstname} ${this.current.lastname} - ${this.current.document} - ${reminder.collectableId}`,
                          })
                        "></p>
                  </template>
                </div>
                <div v-if="reminder.collectableType == 'CryptoCollection'">
                  <p :class="{'black--text subtitle-3':  !isXsSm(), 'black--text caption-2':  isXsSm()}"
                     v-html="
                        $t('crypto_message', {
                          amount: currencyFormat(reminder.amount, 'cryptos'),
                          currency: reminder.currency,
                        })
                      "></p>
                </div>
              </template>
              <div>
                <template v-if="reminder.collectableType == 'RapiPagoCollection'">
                  <li>
                    <strong>{{ $t("rapi_pago_info.info.code") }}</strong>: 8050
                  </li>
                  <li>
                    <strong>{{ $t("rapi_pago_info.info.name") }}</strong>: SeSocio
                  </li>
                  <li>
                    <strong>{{ $t("rapi_pago.info.60_cuit") }}</strong>: 30-71676460-1
                  </li>
                </template>
                <template v-if="reminder.collectableType == 'CryptoCollection'">
                </template>
              </div>
            </div>
          </v-list-item-content>
        </template>
        <template v-for="(item, index) in news">
          <v-list-item
              v-if="item.project_title_id != 'staking-btc'"
              :key="item.project_title_id"
              :target="isPwa ? '_self' : '_blank'"
              :href="isPwa ? undefined : getURL(item)"
              :to="isPwa ? getURL(item) : undefined"
          >
            <v-list-item-avatar
                v-if="
                item.project_title != null &&
                !(freeTextTypes.indexOf(item.news_type) >= 0)
              "
                size="30"
            >
              <v-img :src="item.logo_url" size="26"/>
            </v-list-item-avatar>
            <v-list-item-avatar v-else size="26">
              <v-icon
                  :class="{'danger--text size30':(item.news_type == 'alert_danger'),
                  'warning--text size30':(item.news_type == 'alert_warning'),
                  'success--text size30':(item.news_type == 'alert_success')  ||
                    (item.news_type == 'alert_info'),
                    'primary white--text': !(alertType.indexOf(item.news_type) >= 0)}"
                  size="26"
                  :style="
                  item.news_type == 'latam_mile_confirm'
                    ? 'transform: rotate(90deg)'
                    : ''
                "
              >{{ getIcon(item) }}
              </v-icon>
            </v-list-item-avatar>

            <v-list-item-content
                v-if="
                item.news_type == 'article' &&
                item.article_display_type != 'no_display'
              "
            >
              <v-list-item-title
                  v-html="item.article_title"
              ></v-list-item-title>
              <v-list-item-subtitle
                  v-if="item.project_title != null"
                  v-html="item.project_title"
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-content
                v-else-if="item.article_display_type == 'no_display'"
            >
              <v-list-item-title>
                {{ $t(item.news_type) }}
              </v-list-item-title>
              <v-list-item-subtitle
                  v-if="item.project_title != null"
                  v-html="item.project_title"
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-content
                v-else-if="alertType.indexOf(item.news_type) >= 0"
            >
              <v-tooltip top max-width="300px">
                <template v-slot:activator="{ on }">
                  <v-list-item-title v-html="item.free_text" v-on="on">
                  </v-list-item-title>
                </template>
                <span v-html="item.free_text"></span>
              </v-tooltip>
            </v-list-item-content>

            <v-list-item-content
                v-else-if="freeTextTypes.indexOf(item.news_type) >= 0"
            >
              <v-tooltip top max-width="300px">
                <template v-slot:activator="{ on }">
                  <v-list-item-title v-html="item.free_text" v-on="on">
                  </v-list-item-title>
                </template>
                <span v-html="item.free_text"></span>
              </v-tooltip>
            </v-list-item-content>

            <v-list-item-content
                v-else-if="item.news_type == 'social_network_ranking'"
            >
              <v-tooltip top max-width="300px">
                <template v-slot:activator="{ on }">
                  <v-list-item-title v-html="item.free_text" v-on="on">
                  </v-list-item-title>
                </template>
                <span v-html="item.free_text"></span>
              </v-tooltip>
            </v-list-item-content>

            <v-list-item-content v-else>
              <v-list-item-title>
                {{ $t(item.news_type) }}
              </v-list-item-title>
              <v-list-item-subtitle
                  v-html="item.article_title"
              ></v-list-item-subtitle>
            </v-list-item-content>

            <v-list-item-action>
              <v-list-item-action-text>{{
                  daysAgo(item.created_at)
                }}
              </v-list-item-action-text>
            </v-list-item-action>
          </v-list-item>
          <v-divider :key="index + 1" :inset="item.inset"></v-divider>
        </template>

        <template v-if="news && news.length == 0 && !loading_news">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <div class="min300">
                  {{ $t("no_news") }}
                </div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <template v-if="loading_news">
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                <div class="min300">
                  <v-progress-circular
                      class="innerSpinnerCard"
                      :size="32"
                      color="primary"
                      indeterminate
                  ></v-progress-circular>
                </div>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
      <v-card class="rounded-0" v-if="news && news.length > 0">
        <v-card-actions class="justify-center">
          <v-btn
              text color="black"
              width="100"
              :href="!isPwa ? handleLink('/user/news') : undefined"
              :to="isPwa ? '/user/news' : undefined"
              :target="!isPwa ? '_blank' : undefined"
          >{{
              $t("view_more")
            }}
          </v-btn>
        </v-card-actions>
      </v-card>
      <v-snackbar
          v-model="snackAsk"
          top
          :timeout="10000"
          class="ma-3"
          multiLine
      >
      </v-snackbar>
    </v-menu>

  </div>
</template>
<script>
import {mapActions, mapState} from "vuex";
import Axios from "axios";

export default {
  name: "Notifications",
  data() {
    return {
      isOpened: false,
      show: true,
      hasUnread: false,
      newsTypes: [
        "article",
        "comment",
        "comment_mention",
        "comment_reply",
        "alert_success",
        "alert_info",
        "alert_warning",
        "alert_danger",
        "like",
        "dislike",
        "report",
        "action_confirm",
        "social_network_ranking",
        "latam_mile_confirm",
      ],
      alertType: [
        "alert_success",
        "alert_info",
        "alert_warning",
        "alert_danger",
      ],
      freeTextTypes: ["clps", "action", "profit", "new_project", "withdrawal_confirmation"],
      bottom: false,
      listLength: 50,
      saving: false,
      deleting: false,
      snackAsk: false,
      id_new: '',
      toggleCard: true,
      toggleExtra: false,
      mercadoPagoRedirect: false,
      loading: false,
      toggleExtraDocs: false,
      toggleLimitAlert: false,
      toggleUnverifiedPhone: false,
      docApproved: false,
      docRejected: false,
      isMissingInfo: false,
      limitAlert: false,
      aloca_on: false,
      aloca_id: 0,
      cvu_on: false,
      unverifiedPhone: false,
    };
  },
  computed: {
    ...mapState("user", ["isLoggedIn", "current", "news", "loading_news", "current", "news_list", "loading_news_list", "lastPage"]),
    ...mapState("ui-notification", ["reminder", "selectedCurrencyBankAccount",
      "selectedCurrencyBankAccount2",
      "selectedCurrencyWallet"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
  },
  methods: {
    ...mapActions("user", ["getNews", "updateSaw", "getCurrent", "getNewsList", "clearNewsList"]),
    ...mapActions("ui-notification", ["getPendingActions", "clearReminder", "getSelectedCurrencyBankAccount",
      "getSelectedCurrencyBankAccount2",
      "getSelectedCurrencyWallet"]),
    daysAgo(date) {
      return this.$moment(date).fromNow();
    },
    handleLink(link) {
      if (!this.isPwa && link.startsWith("/")) {
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    getURL(item) {
      let url = "";

      let date = this.$moment(item.article_created_at).format("YYYY/MM/DD");

      if (item.free_url && item.free_url != "" && item.free_url != null) {
        url = item.free_url;
      } else {
        if (item.project_title_id == null) {
          url = `/articles/${date}/${item.article_title_id}`;
        } else {
          if (
              item.article_display_type == "no_display" ||
              item.article_title_id == null
          ) {
            url = `/projects/${item.project_category_title_id}/${item.project_title_id}?original=true`;
          } else {
            url = `/articles/${date}/${item.project_title_id}/${item.article_title_id}?original=true`;
          }
        }
      }

      if (item.news_type != "article" && item.article_comment_id != null) {
        url = url + "?comment=" + item.article_comment_id;
        if (item.article_display_type == "no_display") {
          url = url + "&tab=project_forum";
        }
      }

      if (item.free_url && item.free_url != "" && item.free_url != null) {
        if (item.free_url == "/users/edit") {
          url = "/user/information";
        } else if (item.free_url.endsWith("?active_tab=documentation")) {
          url = "/user/documentation";
        }
      }

      if (url != "") {
        if (!this.isPwa) {
          url = this.pwaUrl + url.substring(1);
        }
      }

      return url;
    },
    getIcon(item) {
      if (item.news_type == 'alert_danger') {
        return 'mdi-close-circle';
      } else if (item.news_type == 'alert_warning') {
        return 'mdi-alert-circle';
      } else if (item.news_type == 'alert_info') {
        return 'mdi-check-circle';
      } else if (item.news_type == 'alert_success') {
        return 'mdi-check-circle';
      } else if (this.freeTextTypes.indexOf(item.news_type) >= 0) {
        return 'mdi-currency-usd';
      } else if (item.news_type == 'action_confirm') {
        return 'mdi-check';
      } else if (item.news_type == 'latam_mile_confirm') {
        return 'mdi-airplane';
      } else if (item.news_type == 'social_network_ranking') {
        return 'mdi-account';
      } else {
        return 'mdi-newspaper';
      }
    },
    checkUnread() {
      if (this.news.length > 0) {
        this.show = true;
      }

      let unread = false;
      for (var i = 0; i < Object.keys(this.news).length; i++) {
        if (
            this.current.last_new_saw === null ||
            new Date(this.current.last_new_saw).getTime() <=
            new Date(this.news[i].created_at).getTime()
        ) {
          unread = true;
        }
      }
      this.hasUnread = unread;
    },
    async checkDoc() {
      if (this.current) {
        this.checkDocumentation();
      } else {
        await this.getCurrent();
      }
    },
    checkDocumentation() {
      if (Object.keys(this.current).length > 0) {
        if (this.current.rejected_documents) {
          this.docRejected = true;
        } else if (!this.current.profile_data_completed) {
          this.isMissingInfo = true;
          this.docApproved = true;
        } else if (this.current.all_documents_checking) {
          this.docApproved = false;
        } else if (!this.current.all_documents_approved) {
          this.docApproved = true;
        } else {
          this.docApproved = false;
          this.isMissingInfo = false;
        }
        if (this.current.limit_alert != '{}') {
          this.limitAlert = true;
        }
      }
    },
    async checkPhone() {
      if (this.current) {
        this.checkUnverifiedPhone();
      } else {
        await this.getCurrent();
      }
    },
    checkUnverifiedPhone() {
      this.unverifiedPhone = this.current.phone_verification_step != 'phone_verified';
    },
    getEmailByCountry(country) {
      let emails = {
        "AR": "arg-comprobantes@blockchain.com",
        "CL": "cl-comprobantes@blockchain.com",
        "CO": "co-comprobantes@blockchain.com",
        "MX": "mx-comprobantes@blockchain.com",
        "PE": "pe-comprobantes@blockchain.com",
        "default": "arg-comprobantes@blockchain.com",
      }

      return (emails[country] || emails["default"]);
    },
    async getExtraData(currency) {
      if (this.reminder.collectableType == "BankTransferCollection") {
        await this.getSelectedCurrencyBankAccount(currency);
        if (this.current.country == 'AR' && currency == "ARS") {
          await this.getSelectedCurrencyBankAccount2(currency);
        }
      }
      if (this.reminder.collectableType == "CryptoCollection") {
        await this.getSelectedCurrencyWallet(currency);
      }
      this.toggleExtra = !this.toggleExtra;
    },
    async getLimitAlert() {
      this.toggleLimitAlert = !this.toggleLimitAlert;
    },
    async getUnverifiedPhone() {
      this.toggleUnverifiedPhone = !this.toggleUnverifiedPhone;
    },
  },
  watch: {
    reminder(v) {
      if (v != "") {
        this.toggleCard = true;
      }
    },
    async isLoggedIn() {
      if (this.isLoggedIn) {
        await this.getPendingActions();
        this.checkDoc();
        this.aloca_on = process.env.VUE_APP_ALOCA_ON;
        this.aloca_id = process.env.VUE_APP_ALOCA_ID;
        this.cvu_on = process.env.VUE_APP_CVU_ON;
        this.clearNewsList();
        await this.getNewsList();
        await this.getNews(5);
        this.checkUnread();
      }
    },
    news() {
      this.checkUnread();
    },
    async isOpened(v) {
      if (v && this.hasUnread) {
        let resp = await Axios({
          url:
              process.env.VUE_APP_API_BASE_URL +
              process.env.VUE_APP_API_VERSION_URL +
              "/user_news/update_saw",
          method: "POST",
        });
        this.hasUnread = false;
      }
    },
    current(v) {
      this.checkUnread();
      if (v) {
        this.checkDocumentation();
        this.checkUnverifiedPhone();
      }
    },
  },
  async beforeMount() {
    if (this.isLoggedIn) {
      await this.getPendingActions();
      this.checkDoc();
      this.aloca_on = process.env.VUE_APP_ALOCA_ON;
      this.aloca_id = process.env.VUE_APP_ALOCA_ID;
      this.cvu_on = process.env.VUE_APP_CVU_ON;
      this.clearNewsList();
      await this.getNewsList();
      await this.getNews(5);
      this.checkUnread();
    }
  },
};
</script>

<style lang="scss" scoped>
div[role="menu"] {
  width: 800px;
  margin-top: 15px;
  box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);
}

::v-deep .v-badge--overlap.v-badge--bottom .v-badge__badge {
  bottom: -5px;
  top: initial;
  right: -4px;
}

.lh15 {
  line-height: 15px !important;
}

.size64 {
  width: 64px !important;
  min-width: 64px !important;
  height: 35px !important;
}

.btnBell {
  height: 36px;
  min-width: 64px;
  padding: 0 16px;
  font-size: 17px !important;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: inherit !important;
  border-radius: 4px !important;
}

@media only screen and (max-width: 350px) {
  .hideOn320 {
    display: none !important;
  }
}

.min300 {
  min-width: 300px;
}

.v-snack:not(.v-snack--absolute) {
  height: inherit !important;
}
</style>
