<template>
  <div>
    <v-card
      rounded="lg"
      :dark="dark"
      :width="width"
      :disabled="disabled"
      :class="{'selected': !disabled && selected}"
      @click="$emit('onclick')"
    >
      <v-card-text
        class="d-flex justify-start align-center"
        :class="large ? 'pa-5' : 'pa-4'"
      >
        <v-avatar
          class="mr-3"
          :size="large ? 26 : 16"
        >
          <v-img
            :src="currency.logoUrl"
            :alt="currency.name"
          />
        </v-avatar>

        <div
          class="body-1 font-weight-bold"
          :class="[
            {'d-flex align-center': isNaN(width) || width > 175},
            dark === false ? 'black--text' : 'grey--text text--lighten-1'
          ]"
        >
          <span
            class="d-inline-block mr-1"
          >
            {{ currency.name }}
          </span>

          <span
            class="d-inline-block"
            :class="{'text--disabled': dark === false}"
          >
            {{ number_format(currency.available) }}
          </span>
        </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
  export default {
    props: {
      currency: {
        required: true
      },
      dark: {
        default: false
      },
      large: {
        default: false
      },
      selected: {
        default: false
      },
      disabled: {
        default: false
      },
      width: {
        detault: 'auto'
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    overflow: hidden;

      span {
        line-height: 15px;
      }

    &.selected {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), inset 0px 0px 0px 3px var(--lirio-secondary) !important;
    }

    &.theme--dark {
      background-color: #505050;

      &.v-card--disabled {
        background-color: #1c1b1b;

        .v-avatar {
          opacity: .4;
        }

        span {
          opacity: .2;
        }
      }
    }
  }
</style>