<template>
  <div
    class="d-flex ma-4"
    v-if="status == 'active'"
  >
    <span>
      <v-avatar
        color="#6400b4"
        size="36"
      >
        <span class="completed-active-text-color headline">{{step}}</span>
      </v-avatar>
    </span>
    <p
      class="d-none d-md-block pl-2 my-auto font-weight-bold active-text-color"
    >
      {{text}}
    </p>
  </div>
  <div
    class="d-flex ma-4"
    v-else-if="status == 'completed'"
  >
    <span>
      <v-avatar
        color="primary"
        size="36"
        style="background-color: rgba(0, 0, 0, 0.2) !important"
      >
        <span class="completed-active-text-color headline">{{step}}</span>
      </v-avatar>
    </span>
    <p
      class="d-none d-md-block pl-2 my-auto font-weight-bold"
    >
      {{text}}
    </p>
  </div>
  <div
    class="d-flex ma-4"
    v-else-if="status == 'pending'"
  >
    <span>
      <v-avatar
        size="36"
        class="pending-text-color"
        style="border: 2px solid"
      >
        <span class="dark--text  headline">{{step}}</span>
      </v-avatar>
    </span>
    <p
      class="d-none d-md-block pl-2 my-auto font-weight-bold pending-text-color"
    >
      {{text}}
    </p>
  </div>
  <div
    v-else
  >
    {{status}}
    {{step}}
  </div>
</template>

<script>
  export default {
    props: {
      text: {
        required: true,
        type: String
      },
      step: {
        required: true,
        type: Number
      },
      status: {
        required: true,
        type: String
      },
    },
  };
</script>

<style>
  .active-text-color {
    color: #6400b4;
  }
  .completed-active-text-color {
    color: #41ffaf;
  }
  .pending-text-color {
    opacity: 0.4;
  }
</style>