<i18n>
{
  "es": {
    "email": "E-mail",
    "user": {
      "document": {
        "ar": "DNI",
        "mx": "Pasaporte/CURP",
        "cl": "RUT",
        "co": "Documento de identidad",
        "default": "Documento de identidad"
      },
      "rut": "RUT",
      "cuil": "CUIL",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento",
      "ocupation": "Ocupación",
      "state": "Provincia",
      "city": "Ciudad",
      "address": "Dirección",
      "declarant": "Declarante",
      "declarant_yes": "Si",
      "declarant_no": "No"
    },
    "genres": {
      "male": "Masculino",
      "female": "Femenino"
    },
    "contact": "Si sos una persona jurídica, PEP, SO o Fatca te solicitamos que te <span class='font-weight-bold text--primary'>comuniques con nosotros</span>",
    "errors": {
      "required": "Requerido",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  },
  "es-AR": {
    "email": "E-mail",
    "user": {
      "document": {
        "ar": "DNI",
        "mx": "Pasaporte/CURP",
        "cl": "RUT",
        "co": "Documento de identidad",
        "default": "Documento de identidad"
      },
      "rut": "RUT",
      "cuil": "CUIL",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento",
      "ocupation": "Ocupación",
      "state": "Provincia",
      "city": "Ciudad",
      "address": "Dirección",
      "declarant": "Declarante",
      "declarant_yes": "Si",
      "declarant_no": "No"
    },
    "genres": {
      "male": "Masculino",
      "female": "Femenino"
    },
    "contact": "Si sos una persona jurídica, PEP, SO o Fatca te pedimos que te <span class='font-weight-bold text--primary'>comuniques con nosotros</span>",
    "errors": {
      "required": "Requerido",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  },
  "en": {
    "email": "E-mail",
    "user": {
      "document": {
        "ar": "DNI",
        "mx": "Passport/CURP",
        "cl": "RUT",
        "co": "Identity document",
        "default": "Identity document"
      },
      "rut": "RUT",
      "cuil": "CUIL",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento",
      "ocupation": "Ocupación",
      "state": "Provincia",
      "city": "Ciudad",
      "address": "Dirección",
      "declarant": "Declarante",
      "declarant_yes": "Yes",
      "declarant_no": "No"
    },
    "genres": {
      "male": "Male",
      "female": "Female"
    },
    "contact": "Si sos una persona jurídica, PEP, SO o Fatca te pedimos que te <span class='font-weight-bold text--primary'>comuniques con nosotros</span>",
    "errors": {
      "required": "Required",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  }
}
</i18n>

<template>
  <v-row
    no-gutters
    class="pt-0 pb-4 py-md-6"
  >
    <v-col
      cols="12"
    >
      <v-card
        v-if="user.country != 'CO'"
        class="px-6 px-sm-8 px-md-12 pt-3 pb-0"
        elevation="0"
      >
        <v-row>
          <v-col
            cols="12"
            sm="6"
          >
            <v-row
              justify="center"
            >
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <template
                  v-if="['AR', 'CL', 'CO', 'MX'].includes(user.country)"
                >
                  <v-text-field
                    v-model="user.document"
                    :disabled="current.document != null && current.all_documents_approved"
                    :rules="[rules.required, rules.document_min]"
                    @keyup="getCuil()"
                    :label="$t(`user.document.${user.country.toLowerCase()}`)"
                    data-test-document
                  ></v-text-field>
                </template>
                <template
                  v-else
                >
                  <v-text-field
                    v-model="user.document"
                    :disabled="current.document != null  && current.all_documents_approved"
                    :rules="[rules.required, rules.document_min]"
                    :label="$t(`user.document.default`)"
                    data-test-document
                  ></v-text-field>
                </template>
              </v-col>
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <v-row>
                  <v-col
                    v-show="gender_by_name == ''"
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-select
                      v-model="user.gender"
                      :disabled="current.gender != null && current.all_documents_approved"
                      :items="genres"
                      item-text="name"
                      item-value="value"
                      :rules="[rules.required]"
                      @change="getCuil()"
                      :label="$t('user.gender')"
                      data-test-gender
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="user.birthdate"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                      data-test-birthdate-menu
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="user.birthdate"
                          :disabled="current.birthdate != null && current.all_documents_approved"
                          :label="$t('user.birthdate')"
                          append-icon="mdi-calendar"
                          readonly
                          :rules="[rules.required]"
                          v-bind="attrs"
                          v-on="on"
                          data-test-birthdate
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="user.birthdate"
                        :active-picker.sync="activePicker"
                        no-title
                        scrollable
                        color="green lighten-1"
                        :show-current="false"
                        :max="maxdate"
                        min="1850-01-01"
                        @change="$refs.menu.save(user.birthdate)"
                        data-test-picker
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            class="pb-0 pb-md-3"
          >
            <v-row
              justify="center"
            >
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <vue-country-input-vuetify
                  v-model="myCountry"
                  :preferred-countries="['ar', 'cl', 'co', 'pe', 'mx']"
                  :valid-characters-only="true"
                  :disabled="current.country != null && current.all_documents_approved"
                  :select-label="$t('user.country')"
                  :label="$t('user.country')"
                  :rules="[rules.required]"
                  :defaultCountry="current.country"
                  @country-changed="onInput"
                  data-test-country
                >
                </vue-country-input-vuetify>
              </v-col>
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <v-row
                  v-if="user.country == 'AR'"
                >
                  <v-col
                    cols="12"
                    class="pb-0 pb-md-3"
                  >
                    <v-text-field
                      v-model="user.cuit"
                      :disabled="current.cuit != null && current.all_documents_approved"
                      :rules="[rules.required]"
                      :label="$t('user.cuil')"
                      data-test-cuit
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col
                    cols="12"
                  >
                    <v-card
                      class="d-flex"
                      elevation="0"
                      @click.stop
                      href="mailto:arg-support@blockchain.com"
                      target='_blank'
                    >
                      <p
                        class="mb-0"
                        @click.stop
                        v-html="$t('contact')"
                        data-test-contact
                      ></p>
                      <v-icon>mdi-chevron-right</v-icon>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
      <v-card
        v-else
        class="px-6 px-sm-8 px-md-12 pt-3 pb-0"
        elevation="0"
      >
        <v-row>
          <v-col
            cols="12"
            sm="6"
          >
            <v-row
              justify="center"
            >
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <v-text-field
                  v-model="user.document"
                  :disabled="current.document != null && current.all_documents_approved"
                  :rules="[rules.required, rules.document_min]"
                  :label="$t(`user.document.${user.country.toLowerCase()}`)"
                  data-test-document
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                sm="11"
              >
                <v-row>
                  <v-col
                    v-show="gender_by_name == ''"
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-select
                      v-model="user.gender"
                      :disabled="current.gender != null && current.all_documents_approved"
                      :items="genres"
                      item-text="name"
                      item-value="value"
                      :rules="[rules.required]"
                      :label="$t('user.gender')"
                      data-test-gender
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-menu
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      :return-value.sync="user.birthdate"
                      transition="scale-transition"
                      offset-y
                      min-width="auto"
                      data-test-birthdate-menu
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          v-model="user.birthdate"
                          :disabled="current.birthdate != null && current.all_documents_approved"
                          :label="$t('user.birthdate')"
                          append-icon="mdi-calendar"
                          readonly
                          :rules="[rules.required]"
                          v-bind="attrs"
                          v-on="on"
                          data-test-birthdate
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="user.birthdate"
                        :active-picker.sync="activePicker"
                        no-title
                        scrollable
                        color="green lighten-1"
                        :show-current="false"
                        :max="maxdate"
                        min="1850-01-01"
                        @change="$refs.menu.save(user.birthdate)"
                        data-test-picker
                      >
                      </v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="12"
                sm="11"
              >
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    class="pb-0 pb-md-3"
                  >
                    <v-text-field
                      v-model="user.rut"
                      :disabled="current.rut != null && current.all_documents_approved"
                      :rules="[rules.required]"
                      :label="$t(`user.rut`)"
                      data-test-rut
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col
                    cols="12"
                  >
                    <v-card
                      class="d-flex"
                      elevation="0"
                      @click.stop
                    >
                      <p
                        class="mb-0"
                        @click.stop
                        v-html="$t('contact')"
                        data-test-contact
                      ></p>
                      <v-icon>mdi-chevron-right</v-icon>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
          <v-col
            cols="12"
            sm="6"
          >
            <v-row
              justify="center"
            >
              <v-col
                cols="12"
                sm="11"
                class="pb-0 pb-md-3"
              >
                <vue-country-input-vuetify
                  v-model="myCountry"
                  :preferred-countries="['ar', 'cl', 'co', 'pe', 'mx']"
                  :valid-characters-only="true"
                  :disabled="current.country != null && current.all_documents_approved"
                  :select-label="$t('user.country')"
                  :label="$t('user.country')"
                  :rules="[rules.required]"
                  :defaultCountry="current.country"
                  @country-changed="onInput"
                  data-test-country
                >
                </vue-country-input-vuetify>
              </v-col>
              <v-col
                cols="12"
                sm="11"
              >
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-select
                      v-model="user.state"
                      :items="states_by_country"
                      :disabled="current.state != null && current.all_documents_approved"
                      item-text="text"
                      item-value="value"
                      :rules="[rules.required]"
                      :label="$t('user.state')"
                      @change="onChangeState()"
                      data-test-state
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-select
                      v-model="user.city"
                      :items="cities_by_state"
                      :disabled="current.city != null && current.all_documents_approved"
                      :readonly="cities_by_state.length < 1"
                      item-text="text"
                      item-value="value"
                      :rules="[rules.required]"
                      :label="$t('user.city')"
                      data-test-city
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
              <v-col
                cols="12"
                sm="11"
              >
                <v-row>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-text-field
                      v-model="user.address"
                      :disabled="current.address != null && current.all_documents_approved"
                      append-icon="mdi-magnify"
                      :rules="[rules.required]"
                      :label="$t(`user.address`)"
                      data-test-address
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="12"
                    md="6"
                    class="pb-0 pb-md-3"
                  >
                    <v-select
                      v-model="user.declarant"
                      :items="declarants"
                      :disabled="current.declarant != null && current.all_documents_approved"
                      item-text="name"
                      item-value="value"
                      :rules="[rules.required]"
                      :label="$t('user.declarant')"
                      data-test-declarant
                    ></v-select>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import VueCountryInputVuetify from '../../../../../../../../../../plugins/vue-tel-input-vuetify/lib/vue-country-input-vuetify';

  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        maxdate: new Date(new Date().setFullYear(new Date().getFullYear() - 18)).toISOString().substr(0, 10),
        activePicker: null,
        myCountry: '',
        genres: [
          {
            name: this.$t('genres.male'),
            value: 'male'
          },
          {
            name: this.$t('genres.female'),
            value: 'female'
          }
        ],
        declarants: [
          {
            name: this.$t('user.declarant_yes'),
            value: 'yes'
          },
          {
            name: this.$t('user.declarant_no'),
            value: 'no'
          }
        ],
        rules: {
          required: (value) => !!value || this.$t('errors.required'),
          document_min: v => v && v.length >= 5 || this.$t('errors.document_min'),
        },
        menu: false
      };
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step',
          'states_by_country',
          'cities_by_state',
          'gender_by_name'
        ]
      ),
      ...mapState(
        "core", [
          "country",
        ]
      ),
      ...mapState(
        "user", [
          "current"
        ]
      ),
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.activePicker = 'YEAR'))
      }
    },
    mounted(){
      this.user.country = this.country;
      this.date = new Date();
      this.date.setDate( this.date.getDate() - 6 );
      this.date.setFullYear( this.date.getFullYear() - 1 );
      this.date.toISOString().substr(0, 10)
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "getCuilByDniAndSex",
          "getStatesByCountry",
          "getCitiesByState",
          "nextStep"
        ]
      ),
      async getCuil(){
        if (this.user.country == 'AR' && this.user.gender != '' && this.user.document != '' && !this.current.all_documents_approved) {
          let data = {
            'dni': this.user.document,
            'sex': this.user.gender
          }
          await this.getCuilByDniAndSex(data)
          .then(response => {
            this.user.cuit = response.data.cuil;
          })
          .catch(e => {
            console.log(e);
          })
        }
      },
      async getStates(country){
        await this.getStatesByCountry(country)
        .then(response => {})
        .catch(e => {
          console.log(e);
        })
      },
      async getCities(country, state){
        await this.getCitiesByState({
          'country': country,
          'state': state
        })
        .then(response => {
          
        })
        .catch(e => {
          console.log(e);
        })
      },
      onInput(value) {
        this.user.country = value.iso2;
        let country = this.user.country;
        if (country == 'CO') {
          this.getStates(country);
        }

        if (country == 'AR') {
          this.user.rut = '';
          this.user.state = '';
          this.user.city = '';
          this.user.address = '';
          this.user.declarant = '';
        }else if(country == 'CO'){
          this.user.cuil = '';
        }else {
          this.user.cuil = '';
          this.user.rut = '';
          this.user.state = '';
          this.user.city = '';
          this.user.address = '';
          this.user.declarant = '';
        }
      },
      onChangeState(){
        this.getCities(this.user.country, this.user.state);
      }
    },
    components: {
      VueCountryInputVuetify
    }
  };
</script>

<style scoped>
</style>
