<template>
  <v-row
    no-gutters
    class="pt-0 mb-4 my-md-6"
  >
    <template
      v-for="(form, index) in dynamicForms"
    >
      <v-col
        :key="index"
        cols="12"
      >
        <component
          :is="form"
          :user="user"
        ></component>
      </v-col>
    </template>
  </v-row>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        componentes: [
          "FormAr",
          "FormCo",
          "FormCl",
          "FormMx",
          "FormPe",
          "FormDefault",
        ]
      }
    },
    computed: {
      ...mapState(
        "core", [
          "country"
        ]
      ),
      ...mapState(
        "user", [
          "current"
        ]
      ),
      dynamicForms() {
        let auxReturn = [];
        this.componentes.forEach((values)=>{
          auxReturn.push(
            () => import(`./countries/${values}`)
          );
        })
        return auxReturn;
      }
    },
    watch: {
      'user.country': function (val) {
        if (!(['male', 'female'].includes(this.user.gender)) && this.user.country != 'AR') {
          this.user.gender = ''
        }
      }
    },
    mounted() {
      this.user.country = this.current.country;
    },
  };
</script>

<style scoped>
</style>
