<i18n>
{
  "es": {
    "title": "¡Tu tarjeta esta en camino!",
    "subtitle": "<span class='font-weight-bold'>Dentro de los 5 a 7 días</span> hábiles vas a estar recibiendo tu tarjeta.*",
    "info": "*Ten en cuenta que la emisión de la misma estará pendiente hasta que validemos tu documentación.",
    "invest_now": "¡Invierte ya!"
  },
  "es-AR": {
    "title": "¡Tu tarjeta esta en camino!",
    "subtitle": "<span class='font-weight-bold'>Dentro de los 5 a 7 días</span> hábiles vas a estar recibiendo tu tarjeta.*",
    "info": "*Tené en cuenta que la emisión de la misma estará pendiente hasta que validemos tu documentación.",
    "invest_now": "¡Invertí ya!"
  },
  "en": {
    "title": "¡Tu tarjeta esta en camino!",
    "subtitle": "<span class='font-weight-bold'>Dentro de los 5 a 7 días</span> hábiles vas a estar recibiendo tu tarjeta.*",
    "info": "*Tené en cuenta que la emisión de la misma estará pendiente hasta que validemos tu documentación.",
    "invest_now": "¡Invertí ya!"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      justify="center"
      class="content-bg-color"
    >
      <v-col
        cols="12"
        sm="8"
        md="6"
      >
        <v-card
          class="px-3 px-sm-16 pt-2 pb-0 text-center content-bg-color"
          elevation="0"
        >
          <p
            class="text-h6 font-weight-bold pt-3 pb-6 pl-1 my-auto"
            v-text="$t('title')"
          ></p>
          <p
            class="text-subtitle-2 pl-1 pt-1 my-auto"
            v-html="$t('subtitle')"
          ></p>
          <img
            src="../../../../../../../../../assets/onboarding/images/image-card.png"
            class="mt-0 align-self-start py-4"
          />
          <p
            class="text-subtitle-2 font-italic pl-1 pt-1 my-auto"
            v-html="$t('info')"
          ></p>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      justify="center"
      class="content-bg-color mt-0"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center content-bg-color"
          elevation="0"
        >
          <v-btn
            color="primary"
            class="ma-2 px-16"
            :href="getURL('projects')"
            v-text="$t('invest_now')"
            data-test-invest-now
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      getURL(path) {
        return `${process.env.VUE_APP_MAIN_PWA_URL}${path}`;
      }
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
  .text-nobreak{
    word-break: normal;
  }
</style>
