<i18n>
{
  "es": {
    "title": "Te enviaremos la Tarjeta SeSocio a la siguiente dirección:",
    "home": {
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "custom_address": "Cambiar dirección de envío",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "es-AR": {
    "title": "Te enviaremos la Tarjeta SeSocio a la siguiente dirección:",
    "home": {
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "custom_address": "Cambiar dirección de envío",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "en": {
    "title": "Te enviaremos la Tarjeta SeSocio a la siguiente dirección:",
    "home": {
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "custom_address": "Cambiar dirección de envío",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid"
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-0 pt-md-2 pb-0"
          elevation="0"
        >
          <v-row>
            <v-col
              cols="12"
              class="pb-0 pb-md-3"
            >
              <v-card
                class="px-6 px-sm-8 px-md-16 pt-6 pb-0 justify-center d-flex"
                elevation="0"
              >
                <div
                  class="py-8 d-block d-sm-inline-flex mx-auto"
                >
                  <div
                    class="text-center"
                  >
                    <img
                      src="../../../../../../../../../../assets/onboarding/images/image-same-user-address.svg"
                      class="mt-0 align-self-start"
                      width="102"
                      height="102"
                    />
                  </div>
                  <div
                    class="pl-3"
                  >
                    <p
                      class="text-h6 font-weight-medium pt-3 my-auto"
                      v-text="$t('title')"
                    ></p>
                    <p
                      class="text-h6 font-weight-medium my-0"
                      v-text="current.address"
                    ></p>
                    <p
                      class="my-0 pt-2"
                    >
                      <a
                        @click="newAddress"
                        v-text="$t('custom_address')"
                        class="text-subtitle-2 font-weight-bold text-decoration-underline"
                      ></a>
                    </p>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="pb-0 pb-md-3"
            >
              <div
                class="d-flex align-center justify-center"
              >
                <v-checkbox
                  v-model="home.terms"
                  :rules="[rules.required]"
                >
                  <template v-slot:label>
                    <div
                      @click.stop
                      class="text-subtitle-2"
                      v-html="$t('home.terms')"
                      data-test-terms
                    ></div>
                  </template>
                </v-checkbox>
              </div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      v-if="error.message != ''"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6" v-html="error.message" />
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto pt-0"
      >
        <v-card
          class="pa-6 pt-0 text-center"
          elevation="0"
        >
          <v-btn
            v-if="!persistent"
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            v-text="$t('cancel')"
            @click="closeOnboardingDialog()"
            data-test-cancel
          ></v-btn>
          <v-btn
            :disabled="!valid"
            color="primary"
            class="ma-2 px-16"
            v-text="$t('submit')"
            @click="submit()"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    props: {
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        valid: false,
        loading: false,
        home: {
          terms: false,
          step: 3,
          came_from: window.location.href,
        },
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          address: (value) => !!value && value.hasOwnProperty('description') || this.$t("errors.required"),
          calle: (value) => !!value && value.hasOwnProperty('calle') || this.$t("errors.required"),
          max: (max, value) => value.length <= max || this.$t("errors.max", {max: max})
        },
        customAddressErrorsCode: ['RQT11', 'RQT12', 'RQT13', 'RQT14', 'RQT15'],
        error: {
          message: '',
          showCustomAddressMessage: false
        }
      };
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ]
      )
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "requestCreditCardSameAddress"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "getCardStatus"
        ]
      ),
      newAddress() {
        this.$emit('newAddress');
      },
      async get_card_status() {
        await this.getCardStatus()
        .then(response => {
        })
        .catch(e => {
        })
      },
      gtm_track_event_end(){
        this.$gtm.trackEvent({
          event: 'card-request-success-step-10', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      async submit() {
        if(this.$refs['form'].validate()) {
          this.loading = true;
          this.error.message = '';
          this.error.showCustomAddressMessage = false;
          await this.requestCreditCardSameAddress()
          .then(response => {
            this.get_card_status();
            this.gtm_track_event_end();
            this.nextStep();
          })
          .catch(e => {
            if(e.response.status == 422) {
              for(let i = 0; i < e.response.data.errors.length; i++) {
                const responseError = e.response.data.errors[i];
                if (this.customAddressErrorsCode.includes(responseError.code)) {
                  this.error.message = '';
                  this.error.showCustomAddressMessage = true;
                }else{
                  this.error.showCustomAddressMessage = false;
                  this.error.message = 'Ocurrio un error, vuelva a intentarlo';
                }
                break
              }
            } else {
              this.error.message = 'Ocurrio un error, vuelva a intentarlo';
            }
            this.get_card_status();
            console.log(e);
          })
          this.loading = false;
        }
      }
    }
  };
</script>

<style scoped>
</style>
