<i18n>
{
  "es": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento",
      "others": "Comentarios para el envío",
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "es-AR": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento",
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "en": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento",
      "others": "Comentarios para el envío",
      "terms": "Acepto los <a target='_blank' class='ml-1' href='https://sesocio.s3.amazonaws.com/terminos-y-condiciones-particulares-tarjetas-de-credito-prepagas.pdf'>Términos y Condiciones</a>."
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    },
    "cancel": "Cancelar",
    "submit": "Enviar"
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid"
  >
    <v-row
      no-gutters
      class="pb-6"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-0 pt-md-2 pb-0"
          elevation="0"
        >
          <v-row>
            <v-col
              cols="12"
              sm="6"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.address.calle.nombre"
                append-icon="mdi-magnify"
                :rules="[rules.required, rules.max(35, home.address.calle.nombre)]"
                :label="$t('home.address')"
                @input="updateNomenclatura"
                data-test-address
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.address.altura.valor"
                :rules="[rules.required, rules.max(10, home.address.altura.valor)]"
                :label="$t('home.address_number')"
                @input="updateNomenclatura"
                data-test-address-number
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.postal_code"
                :rules="[rules.required, rules.max(8, home.postal_code)]"
                :label="$t('home.postal_code')"
                data-test-postal-code
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.floor"
                :rules="[rules.max(2, home.floor)]"
                :label="$t('home.floor')"
                data-test-floor
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.apartment"
                :rules="[rules.max(15, home.apartment)]"
                :label="$t('home.apartment')"
                data-test-apartment
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.address.localidad_censal.nombre"
                :label="$t('home.city')"
                :rules="[rules.required, rules.max(25, home.address.localidad_censal.nombre)]"
                @input="updateNomenclatura"
                data-test-localidad
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-autocomplete
                v-model="state"
                item-text="nombre"
                item-value="nombre"
                :items="states"
                :rules="[rules.required]"
                :label="$t('home.state')"
                data-test-state
              ></v-autocomplete>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="6"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                ref="input"
                v-model="home.others"
                :label="$t('home.others')"
                :rules="[rules.max(250, home.others)]"
                append-icon="mdi-pencil"
                counter="250"
                data-test-others
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col
        cols="12"
        class="pb-0 pb-md-3"
      >
        <div
          class="d-flex align-center justify-center"
        >
          <v-checkbox
            v-model="home.terms"
            :rules="[rules.required]"
          >
            <template v-slot:label>
              <div
                @click.stop
                class="text-subtitle-2"
                v-html="$t('home.terms')"
                data-test-terms
              ></div>
            </template>
          </v-checkbox>
        </div>
      </v-col>
    </v-row>

    <v-row
      v-if="error.showCustomAddressMessage"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6">
          Cambiar dirección de envío
            <a href="#" @click.prevent="addCustomAddress" class="px-0" data-test-custom-form>click aqui</a>
          para volver a intentarlo.
        </v-alert>
      </v-col>
    </v-row>

    <v-row
      v-if="error.message != ''"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6" v-html="error.message" />
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto pt-0"
      >
        <v-card
          class="pa-6 pt-0 text-center"
          elevation="0"
        >
          <v-btn
            v-if="!persistent"
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            v-text="$t('cancel')"
            @click="closeOnboardingDialog()"
            data-test-cancel
          ></v-btn>
          <v-btn
            :disabled="!valid"
            color="primary"
            class="ma-2 px-16"
            v-text="$t('submit')"
            @click="submit()"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import Axios from 'axios';
  import { mapState, mapActions } from "vuex";

  export default {
    props: {
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        valid: false,
        loading: false,
        home: {
          address: "",
          postal_code: "",
          floor: "",
          apartment: "",
          others: '',
          terms: false,
          step: 3,
          provider: "",
          came_from: window.location.href,
        },
        state: null,
        states: [],
        statesApiUrl: 'https://apis.datos.gob.ar/georef/api/provincias?campos=nombre',
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          address: (value) => !!value && value.hasOwnProperty('description') || this.$t("errors.required"),
          calle: (value) => !!value && value.hasOwnProperty('calle') || this.$t("errors.required"),
          max: (max, value) => value.length <= max || this.$t("errors.max", {max: max}),
        },
        customAddressErrorsCode: ['RQT11', 'RQT12', 'RQT13', 'RQT14', 'RQT15'],
        error: {
          message: '',
          showCustomAddressMessage: false
        }
      };
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ],
      ),
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "requestCreditCard"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "getCardStatus"
        ]
      ),
      getStates() {
        Axios.get(this.statesApiUrl).then((resp) => {
          if(resp.status === 200 && resp.data) {
            if(resp.data.provincias && resp.data.provincias.length > 0) {
              this.states = resp.data.provincias;
              this.states.sort((a, b) => (a.nombre > b.nombre) ? 1 : -1)
            }
          }
        })
        .catch(function(e) {
          console.log(e);
        });
      },
      updateNomenclatura() {
        this.home.address.nomenclatura = this.home.address.calle.nombre + ' ' + this.home.address.altura.valor;
        this.home.address.nomenclatura += ', ' + this.home.address.localidad_censal.nombre;
        this.home.address.nomenclatura += ', ' + this.home.address.provincia.nombre;
      },
      async get_card_status() {
        await this.getCardStatus()
        .then(response => {
        })
        .catch(e => {
        })
      },
      gtm_track_event_end(){
        this.$gtm.trackEvent({
          event: 'card-request-success-step-10', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      async submit() {
        if(this.$refs['form'].validate()) {
          this.loading = true;
          this.error.message = '';
          this.error.showCustomAddressMessage = false;
          await this.requestCreditCard(this.home)
          .then(response => {
            this.get_card_status();
            this.gtm_track_event_end();
            this.nextStep();
          })
          .catch(e => {
            if(e.response.status == 422) {
              for(let i = 0; i < e.response.data.errors.length; i++) {
                const responseError = e.response.data.errors[i];
                if (this.customAddressErrorsCode.includes(responseError.code)) {
                  this.error.message = '';
                  this.error.showCustomAddressMessage = true;
                }else{
                  this.error.showCustomAddressMessage = false;
                  this.error.message = 'Ocurrio un error, vuelva a intentarlo';
                }
                break
              }
            } else {
              this.error.message = 'Ocurrio un error, vuelva a intentarlo';
            }
            this.get_card_status();
            console.log(e);
          })
          this.loading = false;
        }
      }
    },
    watch: {
      state(v) {
        if(v) {
          this.home.address.provincia.nombre = v;
          this.updateNomenclatura();
        }
      }
    },
    created() {
      this.home.provider = 'datos.gob.ar';
      this.home.address = {
        altura: { valor: '' },
        calle: { nombre: '' },
        localidad_censal: { nombre: '' },
        nomenclatura: '',
        provincia: { nombre: '' }
      };
      this.getStates();
    }
  }
</script>