<i18n>
{
  "es": {
    "email": "E-mail",
    "user": {
      "document": "DNI",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento"
    },
    "genres": {
      "male": "Masculino",
      "female": "Femenino"
    },
    "errors": {
      "required": "Requerido",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  },
  "es-AR": {
    "email": "E-mail",
    "user": {
      "document": "DNI",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento"
    },
    "genres": {
      "male": "Masculino",
      "female": "Femenino"
    },
    "errors": {
      "required": "Requerido",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  },
  "en": {
    "email": "E-mail",
    "user": {
      "document": "DNI",
      "country": "País de residencia",
      "gender": "Género",
      "birthdate": "F. de nacimiento"
    },
    "genres": {
      "male": "Masculino",
      "female": "Femenino"
    },
    "errors": {
      "required": "Required",
      "document_min": "DNI es demasiado corto (mínimo 5 caracteres)"
    }
  }
}
</i18n>

<template>
  <v-card
    v-if="user.country == 'PE'"
    class="px-6 px-sm-8 px-md-12 pt-3 pb-0"
    elevation="0"
  >
    <v-row>
      <v-col
        cols="12"
        sm="6"
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="12"
            class="pb-0 pb-md-3"
          >
            <v-text-field
              v-model="user.document"
              :disabled="current.document != null && current.all_documents_approved"
              :rules="[rules.required, rules.document_min]"
              :label="$t(`user.document`)"
              data-test-document
            ></v-text-field>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            class="pb-0 pb-md-3"
          >
            <v-select
              v-model="user.gender"
              :disabled="current.gender != null && current.all_documents_approved"
              :items="genres"
              item-text="name"
              item-value="value"
              :rules="[rules.required]"
              :label="$t('user.gender')"
              data-test-gender
            ></v-select>
          </v-col>
          <v-col
            cols="12"
            sm="6"
            class="pb-0 pb-md-3"
          >
            <v-menu
              ref="menu"
              v-model="menu"
              :close-on-content-click="false"
              :return-value.sync="user.birthdate"
              transition="scale-transition"
              offset-y
              min-width="auto"
              data-test-birthdate-menu
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="user.birthdate"
                  :disabled="current.birthdate != null && current.all_documents_approved"
                  :label="$t('user.birthdate')"
                  append-icon="mdi-calendar"
                  readonly
                  :rules="[rules.required]"
                  v-bind="attrs"
                  v-on="on"
                  data-test-birthdate
                ></v-text-field>
              </template>
              <v-date-picker
                ref="picker"
                v-model="user.birthdate"
                :active-picker.sync="activePicker"
                no-title
                scrollable
                color="green lighten-1"
                :show-current="false"
                :max="maxdate"
                min="1850-01-01"
                @change="$refs.menu.save(user.birthdate)"
                data-test-picker
              >
              </v-date-picker>
            </v-menu>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        cols="12"
        sm="6"
        class="pb-0 pb-md-3"
      >
        <v-row
          justify="center"
        >
          <v-col
            cols="12"
            class="pb-0 pb-md-3"
          >
            <vue-country-input-vuetify
              v-model="user.activeCountry"
              :user="user"
              :preferred-countries="['ar', 'cl', 'co', 'pe', 'mx']"
              :valid-characters-only="true"
              :disabled="current.country != null && current.all_documents_approved"
              :select-label="$t('user.country')"
              :label="$t('user.country')"
              :rules="[rules.required]"
              :defaultCountry="user.country"
              data-test-country
            >
            </vue-country-input-vuetify>
          </v-col>
          <v-col
            cols="12"
            class="mb-0 pb-md-3 pt-0"
          >
            <v-checkbox
              v-model="user.facta"
              hide-details
              dense
              :label="`Soy una persona jurídica, SO o FATCA.`"
            ></v-checkbox>
            <v-checkbox
              v-model="user.politicallyExposed"
              hide-details
              dense
              :label="`Soy PEP (Persona Expuesta Políticamente)`"
            ></v-checkbox>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import VueCountryInputVuetify from '../../../../../../../../../../../plugins/vue-tel-input-vuetify/lib/vue-country-input-vuetify';

  export default {
    props: {
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        maxdate: new Date(new Date().setFullYear(new Date().getFullYear() - 18)).toISOString().substr(0, 10),
        activePicker: null,
        genres: [
          {
            name: this.$t('genres.male'),
            value: 'male'
          },
          {
            name: this.$t('genres.female'),
            value: 'female'
          }
        ],
        rules: {
          required: (value) => !!value || this.$t('errors.required'),
          document_min: v => v && v.length >= 5 || this.$t('errors.document_min'),
        },
        menu: false
      };
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step'
        ]
      ),
      ...mapState(
        "core", [
          "country",
        ]
      ),
      ...mapState(
        "user", [
          "current"
        ]
      ),
    },
    watch: {
      menu (val) {
        val && setTimeout(() => (this.activePicker = 'YEAR'))
      }
    },
    mounted(){
      this.date = new Date();
      this.date.setDate( this.date.getDate() - 6 );
      this.date.setFullYear( this.date.getFullYear() - 1 );
      this.date.toISOString().substr(0, 10)
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep"
        ]
      )
    },
    components: {
      VueCountryInputVuetify
    }
  };
</script>

<style scoped>
</style>
