<template>
  <v-stepper v-model="current_step">
    <v-stepper-header
      class="d-none d-sm-flex elevation-0 header-bg-color px-sm-11"
      v-if="current_step < 9 && current_step != 7"
    >
      <step-header-register
        :step="1"
        :active_on="[1, 2]"
        :completed_on="3"
      >
      </step-header-register>

      <v-divider
        class="mx-0"
      ></v-divider>
      <step-header-activate-cell-phone
        :step="2"
        :active_on="[3, 4]"
        :completed_on="5"
      >
      </step-header-activate-cell-phone>

      <v-divider
        class="mx-0"
      ></v-divider>
      <step-header-general-details
        :step="3"
        :active_on="[5, 6]"
        :completed_on="6"
      >
      </step-header-general-details>

      <v-divider
        class="mx-0"
      ></v-divider>
      <step-header-validate-identity
        :step="4"
        :active_on="[8, 9]"
        :completed_on="10"
      >
      </step-header-validate-identity>
    </v-stepper-header>

    <div
      v-if="debugMode"
    >
      <v-btn
        @click="backStep()"
      >back</v-btn>
      <v-btn
        @click="nextStep()"
      >next</v-btn>
    </div>

    <v-stepper-items>
      <step-content-register
        :step="1"
        :persistent="persistent"
      >
      </step-content-register>
      <step-content-validate-email
        :step="2"
      >
      </step-content-validate-email>
      <step-content-activate-cell-phone
        :step="3"
      >
      </step-content-activate-cell-phone>
      <step-content-validate-cell-phone
        :step="4"
      >
      </step-content-validate-cell-phone>
      <step-content-general-details
        :step="5"
        :persistent="persistent"
      >
      </step-content-general-details>
      <step-content-user-address
        :step="6"
      >
      </step-content-user-address>
      <step-content-welcome-validate
        :step="7"
      >
      </step-content-welcome-validate>
      <step-content-validate-identity
        :step="8"
      >
      </step-content-validate-identity>
      <step-content-welcome
        :step="9"
      >
      </step-content-welcome>
      <step-content-card-delivery
        :step="10"
        :persistent="persistent"
      >
      </step-content-card-delivery>
      <step-content-card-on-the-way
        :step="11"
      >
      </step-content-card-on-the-way>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
  import store from "./store";
  import { mapState, mapActions } from 'vuex';

  import StepHeaderRegister from './steps/01-register/header/StepHeaderRegister';
  import StepContentRegister from './steps/01-register/content/StepContentRegister';

  import StepContentValidateEmail from './steps/02-validate-email/content/StepContentValidateEmail';

  import StepHeaderActivateCellPhone from './steps/03-activate-cell-phone/header/StepHeaderActivateCellPhone';
  import StepContentActivateCellPhone from './steps/03-activate-cell-phone/content/StepContentActivateCellPhone';

  import StepContentValidateCellPhone from './steps/04-validate-cell-phone/content/StepContentValidateCellPhone';

  import StepHeaderGeneralDetails from './steps/05-general-details/header/StepHeaderGeneralDetails';
  import StepContentGeneralDetails from './steps/05-general-details/content/StepContentGeneralDetails';

  import StepContentUserAddress from './steps/06-user-address/content/StepContentUserAddress';

  import StepContentWelcomeValidate from './steps/07-welcome-validate/content/StepContentWelcomeValidate';

  import StepHeaderValidateIdentity from './steps/08-validate-identity/header/StepHeaderValidateIdentity';
  import StepContentValidateIdentity from './steps/08-validate-identity/content/StepContentValidateIdentity';

  import StepContentWelcome from './steps/09-welcome/content/StepContentWelcome';

  import StepContentCardDelivery from './steps/10-card-delivery/content/StepContentCardDelivery';

  import StepContentCardOnTheWay from './steps/11-card-on-the-way/content/StepContentCardOnTheWay';

  export default {
    props: {
      initStep: {
        required: true,
        type: Number,
        default: 1
      },
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    computed: {
      ...mapState(
        "onboarding", [
          "current_step",
        ]
      ),
      ...mapState(
        "onboarding_dialog", [
          "debugMode",
        ]
      ),
    },
    mounted(){
      this.setMaxStep(11);
      this.goToStep(this.initStep);
    },
    created() {
      if (!this.$store.hasModule("onboarding")) {
        this.$store.registerModule("onboarding", store);
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "setMaxStep",
          "goToStep",
          "nextStep",
          "backStep",
        ]
      ),
    },
    components: {
      StepHeaderRegister,
      StepContentRegister,
      StepContentValidateEmail,
      StepHeaderActivateCellPhone,
      StepContentActivateCellPhone,
      StepContentValidateCellPhone,
      StepHeaderGeneralDetails,
      StepContentGeneralDetails,
      StepContentUserAddress,
      StepContentWelcomeValidate,
      StepHeaderValidateIdentity,
      StepContentValidateIdentity,
      StepContentWelcome,
      StepContentCardDelivery,
      StepContentCardOnTheWay
    }
  };
</script>

<style scoped>
  .header-bg-color{
    background-color: #41ffaf;
  }
</style>
