<i18n>
{
  "es": {
    "text": "Creá tu cuenta"
  },
  "es-AR": {
    "text": "Creá tu cuenta"
  },
  "en": {
    "text": "Creá tu cuenta"
  }
}
</i18n>

<template>
  <header-item
    :text="$t('text')"
    :step="step"
    :status="custom_status"
  ></header-item>
</template>

<script>
  import HeaderItem from '../../../misc/HeaderItem';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      },
      active_on: {
        required: true,
        type: Array
      },
      completed_on: {
        required: true,
        type: Number
      },
    },
    computed: {
      current_step() {
        return this.$store.state.onboarding.current_step;
      },
      custom_status() {
        let auxReturn = '';
        if (this.active_on.includes(this.current_step)) {
          auxReturn = 'active'
        } else if (this.current_step >= this.completed_on) {
          auxReturn = 'completed'
        } else if (this.current_step < this.active_on[0]) {
          auxReturn = 'pending'
        }

        return auxReturn;
      }
    },
    components: {
      HeaderItem
    }
  };
</script>

<style>
  
</style>
