<i18n src="./locales/security.json"></i18n>
<template>
    <v-dialog v-model="show" max-width="400" persistent>

        <v-card
          v-show="loading"
          class="px-10 text-center" height="300"
        >
          <v-container fill-height fluid class="x-ctn">
            <v-row align="center" justify="center">
              <v-progress-circular :size="70" :width="7" color="green" indeterminate></v-progress-circular>
            </v-row>
          </v-container>
        </v-card>

        <v-card
          v-if="withdrawalsBlockedDuePasswordChange"
          v-show="!loading"
          class="security-container"
        >
          <p
            v-text="$t('withdrawals_blocked_due_password_change')"
            class="font-weight-bold text-center"
          />
          <p
            v-text="withdrawalsWillBeAvailableInHours"
            class="font-weight-medium text-center"
          />
          <v-flex class="d-flex flex-column mt-3 mb-5 flex-grow-0">
            <v-btn
              @click="toggleMe"
              color="primary"
            >
              Cerrar
            </v-btn>
          </v-flex>
        </v-card>

        <v-card
          v-if="!withdrawalsBlockedDuePasswordChange && mustVerifyAtLeastOneDevice"
          v-show="!loading"
          class="security-container"
        >
          <p
            v-if="smsWillBeAvailableOn === null && googleWillBeAvailableOn === null"
            v-text="$t('title_activate_2fa')"
            class="font-weight-bold text-center"
          />
          <p
            v-text="$t('reminder_2fa')"
            class="font-weight-medium text-center"
          />

          <v-flex class="d-flex flex-column">

            <v-flex v-if="null === smsWillBeAvailableOn" class="d-flex flex-row justify-center mb-2">
              <v-btn @click="goToPersonalInformation">
                <v-icon class="mr-2">mdi-message-text</v-icon>
                {{ $t('verify_phone') }}
              </v-btn>
            </v-flex>
            <v-flex v-else class="d-flex flex-row justify-center mb-2">
              <p class="body-1 font-weight-bold mx-4 text-center">
                {{ smsWillBeAvailableInHours }}
              </p>
            </v-flex>

            <v-flex v-if="null === googleWillBeAvailableOn" class="d-flex flex-row justify-center mb-2">
              <v-btn @click="goToSecurityConfiguration">
                <v-img width="22" style="margin-right: 5px; margin-bottom: 5px;" src="https://sesocio.s3.amazonaws.com/images/icons/google-authenticator-icon.png"></v-img>
                {{ $t('activate_google_authenticator') }}
              </v-btn>
            </v-flex>
            <v-flex v-else class="d-flex flex-row justify-center mb-2">
              <p class="body-1 font-weight-bold mx-4 text-center">
                {{ googleWillBeAvailableInHours }}
              </p>
            </v-flex>

          </v-flex>
          <v-flex class="d-flex flex-column mt-3 mb-5">
            <v-btn
              @click="toggleMe"
              color="primary"
            >
              Cerrar
            </v-btn>
          </v-flex>
        </v-card>

        <v-card
          v-else-if="!authStep && !withdrawalsBlockedDuePasswordChange"
          v-show="!loading"
          class="security-container"
        >

            <p
              v-text="$t('title')"
              class="font-weight-bold text-center"
            />

            <security-method
              through="email"
              @verified="checkMethod"
            />

            <v-flex class="d-flex flex-column mb-2">
                <div class="device-method d-flex flex-row text-left">
                    <span v-for="(deviceMethod, index) in deviceMethods" :key="index" class="device-method">
                        <v-icon @click="selectDeviceMethod(deviceMethod)" style="font-size: 14px; margin-right: 5px;">
                          {{
                            selectedDeviceMethod == deviceMethod
                            ? 'mdi-radiobox-marked'
                            : 'mdi-radiobox-blank'
                          }}
                        </v-icon>
                        <span class="device-method-label">{{ deviceMethod }}</span>
                    </span>
                </div>
            </v-flex>

            <div v-show="selectedDeviceMethod === 'sms'">
              <security-method
                through="sms"
                @verified="checkMethod"
              />
            </div>

            <div v-show="selectedDeviceMethod === 'google'">
              <google-method
                @verified="checkMethod"
              />
            </div>

            <v-flex class="d-flex flex-column mt-3 mb-5">
                <v-btn
                  @click="continueToNextStep"
                  :disabled="!verificationComplete"
                  color="primary"
                >
                  Continuar
                </v-btn>
            </v-flex>

        </v-card>

        <v-card
          v-else-if="authStep"
          v-show="!loading"
          class="security-container"
        >
          <p
            v-text="'Ahora ingrese su contraseña'"
            class="font-weight-bold text-center"
          />

          <auth-method
            @verified="checkAuthMethod"
          />

          <v-flex class="d-flex flex-column mt-3 mb-5">
            <v-btn
              @click="successfulVerificationProcess"
              :disabled="!withdrawSecurityComplete"
              color="primary"
            >
              Retirar
            </v-btn>
          </v-flex>
        </v-card>

    </v-dialog>
</template>
<script>
import Axios from 'axios';
import { mapState } from 'vuex';
import SecurityMethod from './components/SecurityMethod'
import GoogleMethod from './components/GoogleMethod';
import AuthMethod from './components/AuthMethod';

export default {
  name: "Security",
  components: { SecurityMethod, GoogleMethod, AuthMethod },
  props: ['show'],
  data() {
    return {
      url: process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/security/",
      loading: true,
      methods: [],
      selectedDeviceMethod: "",
      smsCodeSended: false,
      emailMethodVerified: false,
      smsMethodVerified: false,
      googleMethodVerified: false,
      authMethodVerified: false,
      smsWillBeAvailableOn: null,
      googleWillBeAvailableOn: null,
      withdrawalsWillBeAvailableOn: null,
      authStep: false,
      withdrawSecurityComplete: false,
      withdrawalsBlockedDuePasswordChange: false
    }
  },

  computed: {
    ...mapState("user", ["current"]),

    mustVerifyAtLeastOneDevice() {
      return this.deviceMethods.length == 0;
    },

    deviceMethods() {
      const availableDeviceMethods = ["sms", "google"];
      return this.methods.filter(method => availableDeviceMethods.includes(method))
    },

    verificationComplete() {
      return this.emailMethodVerified && ( this.smsMethodVerified || this.googleMethodVerified);
    },

    smsWillBeAvailableInHours() {
      if (null === this.smsWillBeAvailableOn) {
        return 0;
      }
      let now = Date();

      let diff =(Date.parse(this.smsWillBeAvailableOn) - Date.parse(now)) / 1000;
      diff /= (60 * 60);
      let hours = Math.abs(Math.round(diff));

      if (hours == 0) {
        return this.$t('sms_will_be_available_shortly');
      }

      if (hours > 24 && hours <= 48) {
        return this.$t('sms_will_be_available_days', { days: 2}) + 's';
      } else if (hours > 48 && hours <= 72) {
        return this.$t('sms_will_be_available_days', { days: 3}) + 's';
      } else if (hours > 72 && hours <= 96) {
        return this.$t('sms_will_be_available_days', { days: 4}) + 's';
      } else if (hours > 96) {
        return this.$t('sms_will_be_available_days', { days: 5}) + 's';
      }

      return this.$t('sms_will_be_available_in', { hours: hours }) + (hours > 1 ? 's' : '');
    },

    googleWillBeAvailableInHours() {
      if (null === this.googleWillBeAvailableOn) {
        return 0;
      }
      let now = Date();

      let diff =(Date.parse(this.googleWillBeAvailableOn) - Date.parse(now)) / 1000;
      diff /= (60 * 60);
      let hours = Math.abs(Math.round(diff));

      if (hours == 0) {
        return this.$t('google_will_be_available_shortly');
      }

      if (hours > 24 && hours <= 48) {
        return this.$t('google_will_be_available_days', { days: 2}) + 's';
      } else if (hours > 48 && hours <= 72) {
        return this.$t('google_will_be_available_days', { days: 3}) + 's';
      } else if (hours > 72 && hours <= 96) {
        return this.$t('google_will_be_available_days', { days: 4}) + 's';
      } else if (hours > 96) {
        return this.$t('google_will_be_available_days', { days: 5}) + 's';
      }

      return this.$t('google_will_be_available_in', { hours: hours }) + (hours > 1 ? 's' : '');
    },

    withdrawalsWillBeAvailableInHours() {
      if (null === this.withdrawalsWillBeAvailableOn) {
        return 0;
      }
      let now = Date();

      let diff =(Date.parse(this.withdrawalsWillBeAvailableOn) - Date.parse(now)) / 1000;
      diff /= (60 * 60);
      let hours = Math.abs(Math.round(diff));

      if (hours == 0) {
        return this.$t('google_will_be_available_shortly');
      }

      if (hours > 24 && hours <= 48) {
        return this.$t('withdrawals_will_be_available_days', { days: 2}) + 's';
      } else if (hours > 48 && hours <= 72) {
        return this.$t('withdrawals_will_be_available_days', { days: 3}) + 's';
      } else if (hours > 72 && hours <= 96) {
        return this.$t('withdrawals_will_be_available_days', { days: 4}) + 's';
      } else if (hours > 96) {
        return this.$t('withdrawals_will_be_available_days', { days: 5}) + 's';
      }

      return this.$t('withdrawals_will_be_available_in', { hours: hours }) + (hours > 1 ? 's' : '');
    },
  },

  async beforeMount() {
    await this.getMethods();
  },

  methods: {

    successfulVerificationProcess() {
      this.$emit('verified', true);
    },

    toggleMe() {
      this.$emit('close', true);
    },

    toggleAuthStep() {
      this.authStep = !this.authStep;
    },

    toggleLoading() {
      setTimeout(() => this.loading = !this.loading, 250);
    },

    continueToNextStep() {
      if (this.current.provider == null) {
        this.toggleAuthStep();
      } else {
        this.successfulVerificationProcess();
      }
    },

    async getMethods() {
      try {
        let response = await Axios.get(this.url + "methods");
        this.methods = response.data;
      } catch (error) {
        if(error.response.data.error == "withdrawals blocked due password was changed recently") {
          this.withdrawalsBlockedDuePasswordChange = error.response.data.error == "withdrawals blocked due password was changed recently";
          this.withdrawalsWillBeAvailableOn = error.response.data.available_on;
        }
        this.methods = [];
      }
    },

    async smsAvailableOn() {
      try {
        let response = await Axios.get(this.url + "sms_available_on");
        this.smsWillBeAvailableOn = response.data;
      } catch (error) {
        this.loading = false;
      }
    },

    async googleAvailableOn() {
      try {
        let response = await Axios.get(this.url + "google_available_on");
        this.googleWillBeAvailableOn = response.data;
      } catch (error) {
        this.loading = false;
      }
    },

    checkMethod(value) {
      if (value.method == 'email') {
        this.emailMethodVerified = value.status;
      }

      if (value.method == 'sms') {
        this.smsMethodVerified = value.status;
      }

      if (value.method == 'google') {
        this.googleMethodVerified = value.status;
      }
    },

    checkAuthMethod(value) {
      if (value.method == "auth") {
        this.authMethodVerified = value.status;
      }
    },

    selectDeviceMethod(deviceMethod) {
      this.selectedDeviceMethod = deviceMethod;
    },

    goToPersonalInformation() {
      this.$router.push('/user/information');
    },

    goToSecurityConfiguration() {
      this.$router.push('/user/security');
    }

  },

  watch: {

    methods() {
      if (!this.mustVerifyAtLeastOneDevice) {
        this.selectedDeviceMethod = this.deviceMethods[0];
        this.loading = false;
        return;
      }
      this.smsAvailableOn();
      this.googleAvailableOn();
    },

    authMethodVerified() {
      if (false === this.authMethodVerified) {
        return;
      }

      this.withdrawSecurityComplete = true;
    },

    smsWillBeAvailableOn() {
      if (null === this.smsWillBeAvailableOn) {
        return;
      }
      this.loading = false;
    },

    googleWillBeAvailableOn() {
      if (null === this.googleWillBeAvailableOn) {
        return;
      }
      this.loading = false;
    }
  }
}
</script>
<style scoped>
    .security-container {
        padding: 10px 17px 10px 17px !important;
    }
    .device-method {
      margin: 3px !important;
      margin-left: 0px !important;
      font-family: Nunito !important;
      font-size: 14px !important;
      font-weight: normal !important;
      font-stretch: normal !important;
      font-style: normal !important;
      line-height: 1.36 !important;
      letter-spacing: normal !important;
      text-align: left !important;
      color: #000000 !important;
    }

    .device-method-label {
      width: 34px !important;
      height: 22px !important;
      margin: 4px 10px 22px 7px !important;
      font-family: Nunito !important;
      font-size: 16px !important;
      font-weight: bold !important;
      font-stretch: normal !important;
      font-style: normal !important;
      line-height: 1.44 !important;
      letter-spacing: normal !important;
      text-align: left !important;
      color: #424242 !important;
      text-transform:capitalize !important;
    }
</style>
