<template>
  <v-breadcrumbs
    :items="uiBreadcrumbs"
  >
    <template v-slot:divider>
      <v-icon>mdi-chevron-right</v-icon>
    </template>
  </v-breadcrumbs>
</template>

<script>
  import store from "./store";
  import { mapState } from "vuex";

  export default {
    created() {
      if(!this.$store.hasModule("ui-breadcrumbs")) {
        this.$store.registerModule("ui-breadcrumbs", store);
      }
    },
    computed: {
      ...mapState(
        "ui-breadcrumbs", [
          "uiBreadcrumbs"
        ]
      )
    }
  }
</script>

<style scoped>
  ::v-deep .v-breadcrumbs__divider{
    padding: 0 6px !important;
  }
</style>