<template>
  <v-card
    v-if="open"
  >
    <v-stepper
      v-model="step"
    >
      <v-stepper-items>
        <v-stepper-content
          :step="1"
          class="pa-0"
          ref="parent"
        >
          <onboarding-login
            :persistent="persistentModal"
            @close-onboarding-dialog="closeOnboardingDialog()"
            @next-step-dialog="nextStepDialog()"
          >
          </onboarding-login>
        </v-stepper-content>
        <v-stepper-content
          :step="2"
          class="pa-0"
          ref="parent"
        >
          <onboarding-register
            :initStep="initStep"
            :persistent="persistentModal"
          >
          </onboarding-register>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </v-card>
</template>

<script>
  import storeOnboardingDialog from "../store";
  import storeOnboarding from "./register/store";
  import { mapState, mapActions } from 'vuex';

  import OnboardingLogin from './login/OnboardingLogin';
  import OnboardingRegister from './register/OnboardingRegister';

  export default {
    props: {
      persistentModal: {
        required: false,
        type: Boolean,
        default: true
      },
      initialStep: {
        required: false,
        type: Number,
        default: null
      },
      open: {
        required: false,
        type: Boolean,
        default: true
      }
    },
    computed: {
      ...mapState(
        "user", [
          "isLoggedIn"
        ]
      ),
      ...mapState(
        "onboarding_dialog", [
          "current_step_dialog",
          "initStep"
        ]
      ),
      step: {
        get(){
          return this.current_step_dialog;
        },
        set(value){
          this.goToDialogStep(value)
        }
      }
    },
    created() {
      if(!this.$store.hasModule("onboarding_dialog")) {
        this.$store.registerModule("onboarding_dialog", storeOnboardingDialog);
      }
      if(!this.$store.hasModule("onboarding")) {
        this.$store.registerModule("onboarding", storeOnboarding);
      }
      if (this.initialStep != null) {
        this.goToDialogStep(this.initialStep);
      }
    },
    methods: {
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "nextStepDialog",
          "goToDialogStep"
        ]
      )
    },
    components: {
      OnboardingRegister,
      OnboardingLogin
    }
  };
</script>