<i18n src="./locales/recommended_actions.json"></i18n>

<template>
  <v-container :class="{ 'pa-0': paddingless }">
    <v-row class="pa-2 pt-10">
      <v-col
        v-for="item in recommendedActions"
        :key="item.to"
        cols="12"
        md="6"
        lg="4"
      >
        <v-card :min-height="!isXsSm() ? '178px' : '149px'">
          <div :style="`height: 19px; background-color: ${item.color}`"></div>
          <v-card-title class="title font-weight-black py-1 py-md-3">
            {{ item.title }}
          </v-card-title>
          <v-divider class="mx-4"></v-divider>
          <v-card-text
            class="text-14 pt-1 pt-md-4 pb-0 black--text font-weight-semibold"
          >
            {{ item.summary }}
          </v-card-text>
          <v-card-actions class="pt-0 pt-md-2">
            <a
              v-if="item.external"
              class="
                primary--text
                text-decoration-none
                font-weight-bold
                subtitle-1
                px-2
              "
              :href="item.link"
            >
              {{ item.textButton }}
            </a>
            <RouterLink
              v-else
              class="
                primary--text
                text-decoration-none
                font-weight-bold
                subtitle-1
                px-2
              "
              :to="item.link"
            >
              {{ item.textButton }}
            </RouterLink>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  props: {
    type: {
      type: String,
      required: true,
    },
    paddingless: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      recommendedActions: [],
    };
  },
  computed: {
    allActions() {
      return {
        security_otp: {
          color: "#000977",
          title: this.$t("security_otp.title"),
          summary: this.$t("security_otp.summary"),
          textButton: this.$t("security_otp.textButton"),
          link: "/user/security",
          external: false,
        },
        need_card: {
          color: "#9759ef",
          title: this.$t("need_card.title"),
          summary: this.$t("need_card.summary"),
          textButton: this.$t("need_card.textButton"),
          link: process.env.VUE_APP_CARD_BASE_URL,
          external: true,
        },
        invest: {
          color: "#580077",
          title: this.$t("invest.title"),
          summary: this.$t("invest.summary"),
          textButton: this.$t("invest.textButton"),
          link: "/projects",
          external: false,
        },
        buy_crypto: {
          color: "#000000",
          title: this.$t("buy_crypto.title"),
          summary: this.$t("buy_crypto.summary"),
          textButton: this.$t("buy_crypto.textButton"),
          link: "/criptomonedas",
          external: false,
        },
        pay_services: {
          color: "#ff884d",
          title: this.$t("pay_services.title"),
          summary: this.$t("pay_services.summary"),
          textButton: this.$t("pay_services.textButton"),
          link: process.env.VUE_APP_PAYMENTSERVICES_BASE_URL,
          external: true,
        },
        mobile_recharge: {
          color: "#40f3a6",
          title: this.$t("mobile_recharge.title"),
          summary: this.$t("mobile_recharge.summary"),
          textButton: this.$t("mobile_recharge.textButton"),
          link: `${process.env.VUE_APP_PAYMENTSERVICES_BASE_URL}/recharge-finder`,
          external: true,
        },
        donate: {
          color: "#fee43e",
          title: this.$t("donate.title"),
          summary: this.$t("donate.summary"),
          textButton: this.$t("donate.textButton"),
          link: "/donaciones",
          external: false,
        },
        school: {
          color: "#000977",
          title: this.$t("school.title"),
          summary: this.$t("school.summary"),
          textButton: this.$t("school.textButton"),
          link: "/s-cool",
          external: false,
        },
      };
    },
  },
  async beforeMount() {
    await axios
      .get(
        process.env.VUE_APP_API_BASE_URL +
          process.env.VUE_APP_API_VERSION_URL +
          "/users/recommended_actions?from=" +
          this.type
      )
      .then((resp) => {
        resp.data.map((item) => {
          this.recommendedActions.push(this.allActions[item.to]);
        });
      })
      .catch((e) => console.log(e));
  },
};
</script>
