<template>
  <v-main class="pa-0 grey lighten-3">
    <v-container fluid class="pa-0">
      <v-row no-gutters>
        <v-col v-if="$vuetify.breakpoint.lgAndUp" cols="12" lg="2" class="pa-0">
          <AsideMenu :links="links" />
        </v-col>
        <v-col cols="12" lg="10">
          <router-view></router-view>
        </v-col>
      </v-row>
    </v-container>
  </v-main>
</template>

<script>
import store from "./store";
import AsideMenu from "./components/AsideMenu.vue";

export default {
  components: { AsideMenu },
  data() {
    return {
      links: [
        {
          title: "Perfil",
          icon: "person",
          subItems: [
            { title: "Información personal", to: "/user/information" },
            { title: "Documentación", to: "/user/documentation" },
            { title: "Cuentas de retiro", to: "/user/bank_data" },
            { title: "Mi ejecutivo", to: "/executive" },
          ],
        },
        { title: "Seguridad", icon: "checkmark.shield", to: "/user/security" },
        { title: "Billeteras", icon: "creditcard", to: "/user/wallet_data" },
        { title: "Portfolio", icon: "chart.xyaxis.line", to: "/portfolio" },
        { title: "Mis NFTs", icon: "nft", to: "/mis-nft" },
        { title: "Movimientos", icon: "activity", to: "/movements" },
      ],
    };
  },
  beforeCreate() {
    if (!this.$store.hasModule("uiProfileLayout")) {
      this.$store.registerModule("uiProfileLayout", store);
    }
  },
};
</script>
