:root {
  --dianthus-primary: #00faaa;
  --dianthus-800: #006444;
  --lavanda-primary: #9d54f7;
  --lavanda-800: #3f2263;
  --lavanda-600: #6e3bad;
  --lavanda-400: #ba87f9;
  --lavanda-200: #d8bbfc;
  --dianthus-600: #00af77;
  --dianthus-400: #4dfcc4;
  --dianthus-200: #99fddd;
  --lirio-secondary: #6400b4;
  --lirio-800: #280048;
  --lirio-600: #46007e;
  --lirio-400: #934dcb;
  --lirio-200: #c199e1;
  --guzmania: #e8473f;
  --grey-800: #333333;
  --grey-600: #666666;
  --grey-400: #cccccc;
  --hibisco-primary: #ff97e2;
  --hibisco-800: #663c5a;
  --hibisco-600: #b36a9e;
  --hibisco-400: #ffb6eb;
  --hibisco-200: #ffd5f3;
  --calatea-primary: #ff884d;
  --calatea-800: #66361f;
  --calatea-600: #cc6d3e;
  --calatea-400: #ffac82;
  --calatea-200: #ffcfb8;
  --hortensia-primary: #0041ff;
  --hortensia-800: #001a66;
  --hortensia-600: #002eb3;
  --hortensia-400: #4d7aff;
  --hortensia-200: #99b3ff;
}

.dianthus-primary { background-color: var(--dianthus-primary) !important }
.dianthus-primary--text { color: var(--dianthus-primary) !important }
.dianthus-800 { background-color: var(--dianthus-800) !important }
.dianthus-800--text { color: var(--dianthus-800) !important }
.lavanda-primary { background-color: var(--lavanda-primary) !important }
.lavanda-primary--text { color: var(--lavanda-primary) !important }
.lavanda-800 { background-color: var(--lavanda-800) !important }
.lavanda-800--text { color: var(--lavanda-800) !important }
.lavanda-600 { background-color: var(--lavanda-600) !important }
.lavanda-600--text { color: var(--lavanda-600) !important }
.lavanda-400 { background-color: var(--lavanda-400) !important }
.lavanda-400--text { color: var(--lavanda-400) !important }
.lavanda-200 { background-color: var(--lavanda-200) !important }
.lavanda-200--text { color: var(--lavanda-200) !important }
.dianthus-600 { background-color: var(--dianthus-600) !important }
.dianthus-600--text { color: var(--dianthus-600) !important }
.dianthus-400 { background-color: var(--dianthus-400) !important }
.dianthus-400--text { color: var(--dianthus-400) !important }
.dianthus-200 { background-color: var(--dianthus-200) !important }
.dianthus-200--text { color: var(--dianthus-200) !important }
.lirio-secondary { background-color: var(--lirio-secondary) !important }
.lirio-secondary--text { color: var(--lirio-secondary) !important }
.lirio-800 { background-color: var(--lirio-800) !important }
.lirio-800--text { color: var(--lirio-800) !important }
.lirio-600 { background-color: var(--lirio-600) !important }
.lirio-600--text { color: var(--lirio-600) !important }
.lirio-400 { background-color: var(--lirio-400) !important }
.lirio-400--text { color: var(--lirio-400) !important }
.lirio-200 { background-color: var(--lirio-200) !important }
.lirio-200--text { color: var(--lirio-200) !important }
.guzmania { background-color: var(--guzmania) !important }
.guzmania--text { color: var(--guzmania) !important }
.grey-800 { background-color: var(--grey-800) !important }
.grey-800--text { color: var(--grey-800) !important }
.grey-600 { background-color: var(--grey-600) !important }
.grey-600--text { color: var(--grey-600) !important }
.grey-400 { background-color: var(--grey-400) !important }
.grey-400--text { color: var(--grey-400) !important }
.hibisco-primary { background-color: var(--hibisco-primary) !important }
.hibisco-primary--text { color: var(--hibisco-primary) !important }
.hibisco-800 { background-color: var(--hibisco-800) !important }
.hibisco-800--text { color: var(--hibisco-800) !important }
.hibisco-600 { background-color: var(--hibisco-600) !important }
.hibisco-600--text { color: var(--hibisco-600) !important }
.hibisco-400 { background-color: var(--hibisco-400) !important }
.hibisco-400--text { color: var(--hibisco-400) !important }
.hibisco-200 { background-color: var(--hibisco-200) !important }
.hibisco-200--text { color: var(--hibisco-200) !important }
.calatea-primary { background-color: var(--calatea-primary) !important }
.calatea-primary--text { color: var(--calatea-primary) !important }
.calatea-800 { background-color: var(--calatea-800) !important }
.calatea-800--text { color: var(--calatea-800) !important }
.calatea-600 { background-color: var(--calatea-600) !important }
.calatea-600--text { color: var(--calatea-600) !important }
.calatea-400 { background-color: var(--calatea-400) !important }
.calatea-400--text { color: var(--calatea-400) !important }
.calatea-200 { background-color: var(--calatea-200) !important }
.calatea-200--text { color: var(--calatea-200) !important }
.hortensia-primary { background-color: var(--hortensia-primary) !important }
.hortensia-primary--text { color: var(--hortensia-primary) !important }
.hortensia-800 { background-color: var(--hortensia-800) !important }
.hortensia-800--text { color: var(--hortensia-800) !important }
.hortensia-600 { background-color: var(--hortensia-600) !important }
.hortensia-600--text { color: var(--hortensia-600) !important }
.hortensia-400 { background-color: var(--hortensia-400) !important }
.hortensia-400--text { color: var(--hortensia-400) !important }
.hortensia-200 { background-color: var(--hortensia-200) !important }
.hortensia-200--text { color: var(--hortensia-200) !important }