@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Solway:wght@400;500;700&family=Poppins:wght@400;700;900&display=swap');
.poppins {
    font-family: 'Poppins', sans-serif !important;
}