<template>
  <v-navigation-drawer permanent class="py-0 elevation-2" width="100%">
    <v-list class="py-0" color="transparent" dense>
      <template v-for="item in links">
        <!-- Sin subitems -->
        <v-list-item
          v-if="!item.hasOwnProperty('subItems')"
          class="py-1"
          :key="item.title"
          :to="item.to"
          @click="collapseSubItems"
        >
          <v-list-item-icon class="mr-2">
            <v-avatar size="20" tile>
              <v-img
                contain
                :src="
                  require(`../../../assets/img/profile-layout/${item.icon}.svg`)
                "
                width="20"
                height="20"
              ></v-img>
            </v-avatar>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="text-subtitle-2 font-weight-semibold">
              <template v-if="item.badge && item.badge > 0">
                <v-badge
                  class="mt-0"
                  color="secondary"
                  :content="item.badge > 99 ? '+99' : item.badge"
                  inline
                >
                  {{ item.title }}
                </v-badge>
              </template>
              <template v-else>{{ item.title }}</template>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <!-- Con subitems -->
        <v-list-group
          v-else
          :key="item.title"
          v-model="item.active"
          no-action
          :group="routesGroup(item.subItems)"
        >
          <template v-slot:activator>
            <v-list-item class="px-0 py-1">
              <v-list-item-icon class="mr-2">
                <v-avatar size="20" tile>
                  <v-img
                    contain
                    :src="
                      require(`../../../assets/img/profile-layout/${item.icon}.svg`)
                    "
                    width="20"
                    height="20"
                  ></v-img>
                </v-avatar>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title class="text-subtitle-2 font-weight-semibold">
                  {{ item.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
          <template v-for="subitem in item.subItems">
            <template v-if="hasExecutive(subitem.title)"></template>
            <v-list-item
              v-else
              class="pl-10 py-1"
              :key="subitem.title"
              :to="subitem.to"
            >
              <v-list-item-content>
                <v-list-item-title class="font-weight-semibold" style="font-size: 12px;">
                  {{ subitem.title }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list-group>
      </template>
    </v-list>

    <!--
    <template v-slot:append>
      <v-list color="transparent" dense>
        <v-list-item link class="py-1">
          <v-list-item-icon class="mr-2">
            <v-avatar size="20">
              <v-img
                :src="require(`../../../assets/img/profile-layout/logout.svg`)"
                width="20"
                height="20"
              ></v-img>
            </v-avatar>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title class="text-subtitle-2 font-weight-bold">
              Cerrar sesión
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </template>
    -->
  </v-navigation-drawer>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    links: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapState("user", ["current"]),
  },
  methods: {
    collapseSubItems() {
      this.links.map((item) => (item.active = false));
    },
    hasExecutive(title) {
      // Devuelve true si el usuario NO tiene ejecutivo
      return (
        title == "Mi ejecutivo" && this.current.newsletter_support_type != 2
      );
    },
    routesGroup(items) {
      let mapa = items.map((item) => `^${item.to}$`);
      return mapa.join("|");
    },
  },
};
</script>

<style lang="scss" scoped>
/* Establece el alto minimo del aside */
::v-deep .v-navigation-drawer__content {
  min-height: calc(90vh - 78px); // le resta el navbar
}
/* Elimina borde lateral del aside */
::v-deep .v-navigation-drawer__border {
  background-color: rgba(0, 0, 0, 0) !important;
}
/* Cambia los colores de los items del listado cuando no estan seleccionados */
::v-deep .v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: #000000 !important;
}
/* Cambia los colores de los hover y selected del listado */
::v-deep .v-list-item:hover::before {
  opacity: 0.1 !important;
  background-color: #6400b4 !important;
}
/* Item activado */
::v-deep .v-list-item--active {
  color: #6400b4 !important;
}
::v-deep .v-list-item--link::before {
  background-color: #6400b4 !important;
}
/* Cambia color de la imagen svg */
::v-deep
  :not(.v-list-group__header).v-list-item--link.v-list-item--active
  .v-image__image {
  filter: invert(13%) sepia(95%) saturate(6119%) hue-rotate(275deg)
    brightness(70%) contrast(115%);
}
/* Cambia el color solo a los items que no son padres de un grupo */
::v-deep
  :not(.v-list-group__header).v-list-item--link.v-list-item--active:hover::before,
::v-deep
  :not(.v-list-group__header).v-list-item--link.v-list-item--active::before {
  opacity: 0;
}
::v-deep :not(.v-list-group__items) .v-list-item--active .v-list-item__content {
  .v-list-item__title {
    font-weight: 700 !important;
  }
}
/* Agrega linea lateral cuando el item del grupo es activado */
::v-deep .v-list-group__items .v-list-item__content {
  padding-left: 12px !important;
  color: #757575 !important;
}
::v-deep .v-list-group__items .v-list-item--active .v-list-item__content {
  color: #6400b4 !important;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 15%;
    left: 0;
    background-image: url("../../../assets/img/profile-layout/line.svg");
  }

  .v-list-item__title {
    font-weight: 700 !important;
  }
}
</style>