<i18n>
{
  "es": {
    "cvu": "Tu CVU",
    "deposit": "Cargar saldo",
    "withdraw": "Retirar saldo",
    "profile": "Tu perfil"
  },
  "en": {
    "cvu": "Tu CVU",
    "deposit": "Cargar saldo",
    "withdraw": "Retirar saldo",
    "profile": "Tu perdil"
  }
}
</i18n>
<template>
  <v-container class="pa-0" fluid>
    <!-- Desktop -->
    <v-row v-if="$vuetify.breakpoint.mdAndUp" no-gutters>
      <!-- Slot Left -->
      <v-col v-if="hasHeaderLeftSlot" class="d-flex align-center">
        <slot name="header-left"></slot>
      </v-col>
      <!-- Slot Left por defecto -->
      <v-col v-else class="d-flex align-center">
        <RouterLink to="/user/information">
          <v-avatar class="mr-4" size="78">
            <v-img :src="current.photo" :alt="current.firstname"></v-img>
          </v-avatar>
        </RouterLink>
        <div class="d-flex flex-column justify-center">
          <span
            class="poppins secondary--text font-weight-semibold"
            style="font-size: 24px"
          >
            Hola, {{ current.firstname }}
          </span>
          <span
            class="
              text-subtitle-2
              grey--text text--darken-1
              font-weight-semibold
            "
          >
            @{{ current.alias }}
          </span>
        </div>
      </v-col>
      <!-- Slot Right -->
      <v-col v-if="hasHeaderRightSlot" class="d-flex my-auto justify-end">
        <slot name="header-right"></slot>
      </v-col>
      <!-- Slot Right por defecto -->
      <v-col v-else class="d-flex my-auto justify-end">
        <!-- No mostrar por ahora
        <v-btn class="text-weight-bold" text @click="toogleAssets">
          {{ titleAssets.text }}
          <v-icon color="secondary" class="ml-2">
            {{ titleAssets.icon }}
          </v-icon>
        </v-btn>
        <v-divider class="mx-2" vertical inset></v-divider>
        -->
        <template v-if="current.country == 'AR'">
          <CvuButton>
            <template v-slot:default>
              <v-btn class="text-weight-bold" color="secondary" text>
                {{ $t("cvu") }}
              </v-btn>
              <v-divider class="ml-2 mr-3" vertical inset></v-divider>
            </template>
          </CvuButton>
        </template>
        <v-btn
          color="rgba(100, 0, 180, 0.1)"
          class="secondary--text"
          elevation="0"
          to="/withdraw"
        >
          {{ $t("withdraw") }}
        </v-btn>
        <v-btn color="secondary" class="ml-2" elevation="0" to="/deposit">
          {{ $t("deposit") }}
        </v-btn>
      </v-col>
    </v-row>
    <!-- Mobile -->
    <v-row v-else no-gutters>
      <v-col cols="4" class="d-flex align-center justify-start">
        <!--
        <v-btn text min-width="21px" max-width="21px" @click="goToPortfolio()">
          <v-img
            src="../../../assets/img/profile-layout/left-arrow.svg"
            height="10px"
            width="21px"
          ></v-img>
        </v-btn>
        -->
      </v-col>
      <v-col cols="4" class="d-flex align-center justify-center">
        <!-- Slot Left -->
        <slot v-if="hasHeaderLeftSlot" name="header-left"></slot>
        <!-- Slot Left por defecto -->
        <p
          v-else
          class="poppins secondary--text font-weight-semibold mb-0 text-center"
          style="font-size: 21px"
        >
          {{ $("profile") }}
        </p>
      </v-col>
      <v-col cols="4" class="d-flex align-center justify-end">
        <!-- Slot Right -->
        <slot v-if="hasHeaderRightSlot" name="header-right"></slot>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState } from "vuex";
import { CvuButton } from "sesocio-cvu-module";

export default {
  components: {
    CvuButton,
  },
  data() {
    return {
      showAssets: true,
    };
  },
  computed: {
    ...mapState("uiProfileLayout", ["contentHeader"]),
    ...mapState("user", ["current"]),
    titleAssets() {
      return {
        icon: this.showAssets ? "mdi-eye-off-outline" : "mdi-eye-outline",
        text: this.showAssets ? "Ocultar activos" : "Mostrar activos",
      };
    },
    hasHeaderLeftSlot() {
      return !!this.$slots["header-left"];
    },
    hasHeaderRightSlot() {
      return !!this.$slots["header-right"];
    },
  },
  methods: {
    toogleAssets() {
      this.showAssets = !this.showAssets;
    },
    goToPortfolio() {
      this.$router.push("/portfolio");
    },
  },
};
</script>

<style scoped>
::v-deep .v-avatar {
  border: 3px solid #0adfa4 !important;
}

::v-deep .v-divider--vertical.v-divider--inset {
  margin-top: 8px;
  margin-bottom: 8px;
  min-height: 0;
  max-height: calc(100% - 16px);
  border-width: 0 2px 0 0;
  border-color: #dbd3e7;
}
</style>