<template>
  <v-container fluid>
    <v-row class="px-md-4">
      <v-col cols="12"
        v-if="!dashboard"
      >
        <HeaderNav>
          <slot name="header-left" slot="header-left"></slot>
          <slot name="header-right" slot="header-right"></slot>
        </HeaderNav>
      </v-col>
      <v-col cols="12">
        <v-sheet
          :class="paddingless ? 'pa-0' : 'pa-3'"
          color="white"
          rounded="lg"
          elevation="2"
        >
          <slot></slot>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HeaderNav from "./HeaderNav.vue";

export default {
  props: {
    paddingless: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    dashboard(){
      return this.$router?.currentRoute?.name == 'dashboard';
    }
  },
  components: { HeaderNav },
};
</script>
