<i18n>
{
  "es": {
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Requerido"
    }
  },
  "es-AR": {
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Requerido"
    }
  },
  "en": {
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Required"
    }
  }
}
</i18n>

<template>
  <v-card
    class="px-6 px-sm-8 px-md-16 pt-0 pt-md-3 pb-0"
    elevation="0"
  >
    <v-form
      ref="form_three"
      v-model="valid.form_three"
    >
      <v-row>
        <v-col
          cols="12"
          class="pb-3 pt-2 pt-lg-0"
        >
          <v-card
            class="d-flex align-center justify-center"
            elevation="0"
          >
            <v-checkbox
              v-model="user.terms"
              :rules="[rules.required]"
              data-test-terms
            >
              <template v-slot:label>
                <div
                  @click.stop
                  class="text-subtitle-2"
                  v-html="$t('terms')"
                ></div>
              </template>
            </v-checkbox>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        show: false,
        rules: {
          required: (value) => !!value || this.$t("errors.required")
        }
      };
    }
  };
</script>

<style scoped>
  
</style>
