<i18n>
{
  "es": {
    "title": "¡Empecemos por tu nombre y tu mail!",
    "subtitle": "Te vamos a enviar un <span class='font-weight-bold'>correo para validar tu cuenta</span>, es importante que elijas una cuenta cotidiana, como también un nombre real.",
    "user": {
      "firstname": "Nombres",
      "lastname": "Apellidos",
      "email": "Mail"
    },
    "errors": {
      "required": "Requerido",
      "email": "El correo debe ser válido",
      "only_letters": "Ingresa solo letras"
    }
  },
  "es-AR": {
    "title": "¡Empecemos por tu nombre y tu mail!",
    "subtitle": "Te vamos a enviar un <span class='font-weight-bold'>correo para validar tu cuenta</span>, es importante que elijas una cuenta cotidiana, como también un nombre real.",
    "user": {
      "firstname": "Nombres",
      "lastname": "Apellidos",
      "email": "Mail"
    },
    "errors": {
      "required": "Requerido",
      "email": "El correo debe ser válido",
      "only_letters": "Ingresá solo letras"
    }
  },
  "en": {
    "title": "¡Empecemos por tu nombre y mail!",
    "subtitle": "Te vamos a enviar un <span class='font-weight-bold'>correo para validar tu cuenta</span>, es importante que elijas una cuenta cotidiana, como también un nombre real.",
    "user": {
      "firstname": "Nombres",
      "lastname": "Apellidos",
      "email": "Mail"
    },
    "errors": {
      "required": "Requerido",
      "email": "El correo debe ser válido",
      "only_letters": "Only letters is allowed"
    }
  }
}
</i18n>

<template>
  <v-card
    class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
    elevation="0"
  >
    <div
      class="d-inline-flex pb-md-4"
      :style="$vuetify.breakpoint.mdAndUp ? 'min-height: 130px' : ''"
    >
      <img
        v-show="$vuetify.breakpoint.mdAndUp"
        src="../../../../../../../../../../assets/onboarding/icons/icon-id.svg"
        class="mt-0 align-self-start"
      />
      <div>
        <p
          class="text-h6 font-weight-bold pt-1 pl-1 my-auto"
          v-text="$t('title')"
        ></p>
        <p
          class="text-subtitle-2 pl-1 pt-1 my-auto"
          v-html="$t('subtitle')"
        ></p>
      </div>
    </div>
    <v-form
      ref="form_one"
      v-model="valid.form_one"
    >
      <v-row>
        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-text-field
            v-model="user.firstname"
            :rules="[rules.required, rules.only_letters]"
            :label="$t('user.firstname')"
            data-test-firstname
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-text-field
            v-model="user.lastname"
            :rules="[rules.required, rules.only_letters]"
            :label="$t('user.lastname')"
            data-test-lastname
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-text-field
            v-model="user.email"
            :rules="[rules.required, rules.email]"
            :label="$t('user.email')"
            data-test-email
          ></v-text-field>
        </v-col>

      </v-row>
    </v-form>
  </v-card>
</template>

<script>
  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          email: (v) => /.+@.+/.test(v) || this.$t("errors.email"),
          only_letters: (v) => /^[a-zA-Z\u00C0-\u00FF\'\s]*$/.test(v) || this.$t("errors.only_letters"),
        },
      };
    }
  };
</script>

<style scoped>
  
</style>
