<i18n>
{
  "es": {
    "title": "Ahora elige tu clave",
    "subtitle": "Tu contraseña deberá tener como <span class='font-weight-bold'>mínimo 8 caracteres</span>, una minúscula, una mayúscula y un número.",
    "user": {
      "password": "Clave",
      "password_confirmation": "Repetir clave",
      "referral_code": "¿Tienes un código de invitación?"
    },
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Requerido",
      "min": "Mínimo 8 caracteres",
      "oneLowerCaseLetter": "Al menos una letra minúscula",
      "oneUpperCaseLetter": "Al menos una letra mayúscula",
      "oneDigit": "Al menos un número",
      "oneNonWord": "Al menos un caracter especial (-+_!@#$%^&*.,?)",
      "noMatch": "Confirmación de la contraseña no coincide"
    }
  },
  "es-AR": {
    "title": "Ahora elegí tu clave",
    "subtitle": "Tu contraseña deberá tener como <span class='font-weight-bold'>mínimo 8 caracteres</span>, una minúscula, una mayúscula y un número.",
    "user": {
      "password": "Clave",
      "password_confirmation": "Repetir clave",
      "referral_code": "¿Tenés un código de invitación?"
    },
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Requerido",
      "min": "Mínimo 8 caracteres",
      "oneLowerCaseLetter": "Al menos una letra minúscula",
      "oneUpperCaseLetter": "Al menos una letra mayúscula",
      "oneDigit": "Al menos un número",
      "oneNonWord": "Al menos un caracter especial (-+_!@#$%^&*.,?)",
      "noMatch": "Confirmación de la contraseña no coincide"
    }
  },
  "en": {
    "title": "Ahora, elegí tu clave",
    "subtitle": "<span class='font-weight-bold'>Mínimo 8 caracteres</span>, al menos una minúscula, una mayúscula y un número.",
    "user": {
      "password": "Password",
      "password_confirmation": "Password confirmation",
      "referral_code": "¿Tenés un código de invitación?"
    },
    "terms": "Acepto los <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Términos & Condiciones</a> y la <a target='_blank' class='ml-1' href='https://www.sesocio.com/terms'>Política de Privacidad</a>.",
    "errors": {
      "required": "Required",
      "min": "Min 8 characters",
      "oneLowerCaseLetter": "At least one lower case letter",
      "oneUpperCaseLetter": "At least one upper case letter",
      "oneDigit": "At least one digit",
      "oneNonWord": "At least one non-word character (-+_!@#$%^&*.,?)",
      "noMatch": "Password confirmation must match"
    }
  }
}
</i18n>

<template>
  <v-card
    class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
    elevation="0"
  >
    <div
      class="d-inline-flex pb-md-4"
      :style="$vuetify.breakpoint.mdAndUp ? 'min-height: 130px' : ''"
    >
      <img
        v-show="$vuetify.breakpoint.mdAndUp"
        src="../../../../../../../../../../assets/onboarding/icons/icon-lock.svg"
        class="mt-0 align-self-start"
      />
      <div>
        <p
          class="text-h6 font-weight-bold pt-1 pl-1 my-auto"
          v-text="$t('title')"
        ></p>
        <p
          class="text-subtitle-2 pl-1 pt-1 my-auto"
          v-html="$t('subtitle')"
        ></p>
      </div>
    </div>
    <v-form
      ref="form_two"
      v-model="valid.form_two"
    >
      <v-row>
        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-text-field
            v-model="user.password"
            :label="$t('user.password')"
            :rules="[
              rules.required,
              rules.oneLowerCaseLetter,
              rules.oneUpperCaseLetter,
              rules.oneDigit,
              rules.min,
            ]"
            :type="show ? 'text' : 'password'"
            @click:append="show = !show"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            data-test-password
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-text-field
            v-model="user.password_confirmation"
            :label="$t('user.password_confirmation')"
            :rules="[rules.required, passwordConfirmationRule]"
            :type="show ? 'text' : 'password'"
            @click:append="show = !show"
            :append-icon="show ? 'mdi-eye' : 'mdi-eye-off'"
            data-test-password-confirmation
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          class="pb-0 pb-md-3 pt-2 pt-lg-0"
        >
          <v-form
            v-model="valid.referral"
            ref="form_referral"
          >
            <div
              class="d-inline"
            >
              <v-text-field
                v-model="user.referral_code"
                :label="$t('user.referral_code')"
                :rules="[checkCodeRule]"
                :loading="loadingReferral"
                @keyup="check_code_referral()"
                prepend-icon="mdi-gift-outline"
                data-test-referral
              ></v-text-field>
            </div>
          </v-form>
        </v-col>
      </v-row>
    </v-form>
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      user: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        show: false,
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          min: (v) =>
            (v != undefined && v != null && v.length >= 8) ||
            this.$t("errors.min"),
          oneLowerCaseLetter: (v) =>
            /(?=.*[a-z])/.test(v) || this.$t("errors.oneLowerCaseLetter"),
          oneUpperCaseLetter: (v) =>
            /(?=.*[A-Z])/.test(v) || this.$t("errors.oneUpperCaseLetter"),
          oneDigit: (v) => /(?=.*\d)/.test(v) || this.$t("errors.oneDigit"),
          oneNonWord: (v) =>
            /(?=.*[-+_!@#$%^&*.,?])/.test(v) || this.$t("errors.oneNonWord"),
        },
        checkCode: true,
        loadingReferral: false
      };
    },
    computed: {
      passwordConfirmationRule() {
        return (
          this.user.password === this.user.password_confirmation ||
          this.$t("errors.noMatch")
        );
      },
      checkCodeRule() {
        return (
          this.checkCode ||
          'Código invalido'
        );
      },
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "checkCodeReferral"
        ],
      ),
      async check_code_referral(){
        let auxReturn = true;
        this.loadingReferral = true;
        if (this.user.referral_code.length >= 1) {
          await this.checkCodeReferral(this.user)
          .then(response => {
            auxReturn = true
          })
          .catch(e => {
            auxReturn = false
          })
        }else {
          auxReturn = true
        }
        this.loadingReferral = false;

        this.checkCode = auxReturn ? auxReturn : 'Código invalido'
      }
    },
    mounted(){
      this.check_code_referral();
      this.$refs.form_referral.validate()
    }
  };
</script>

<style scoped>
  
</style>
