<i18n>
{
  "es": {
    "subtitle": "Podés cargar saldo en {currency} desde cuentas propias a la siguiente cuenta",
    "info": "Para activar tu CVU y disfrutar de todos los productos debes validar tu identidad",
    "info_alt": "Para tener acceso a todos los productos es necesario que valides tu identidad",
    "account_info": {
      "tw_account_holder": "Titular de la cuenta TW",
      "iban": "IBAN",
      "bank_code": "Código bancario",
      "bank_name": "Nombre del banco",
      "address": "Dirección",
      "account_number": "Número de cuenta",
      "swift": "SWIFT",
      "agency": "Agencia",
      "account_type_cbu": "Tipo de cuenta/CBU",
      "uk_short_code": "Código corto GB",
      "10_bank": "Nombre del Banco",
      "20_checking_account_ars": "Nro de cuenta en Pesos",
      "20_checking_account_cvu_ars": "CVU en Pesos",
      "30_checking_account_cbu_ars": "CBU Pesos",
      "40_checking_account_alias_ars": "Alias Pesos",
      "50_account_holder": "Titular",
      "60_cuit": "CUIT",
      "20_checking_account_usd": "Nro de cuenta en Dólares",
      "30_checking_account_cbu_usd": "CBU Dólares",
      "40_checking_account_alias_usd": "Alias Dólares",
      "20_rut": "RUT",
      "20_ruc": "RUC",
      "20_nit": "Nit",
      "50_email": "Email",
      "60_address": "Dirección",
      "40_beneficiary": "Titular",
      "30_checking_account_clp": "Nro de cuenta CLP",
      "30_checking_account_pen": "Nro de Cta Cte SOLES",
      "30_checking_account_usd": "Nro de cuenta USD",
      "30_checking_account_cop": "Número de cta ahorros COP",
      "30_checking_account_cvu_ars": "Número de cuenta ARS",
      "30_checking_account_cvu_usd": "Número de cuenta USD",
      "60_account_number": "Número de cuenta",
      "70_client_number": "Número de cliente",
      "70_account_type": "Tipo de cuenta",
      "80_clabe": "Clabe (transferencias)",
      "80_cci": "CCI",
      "90_account_type": "Tipo de cuenta",
      "bind_alert": "<b>SeSocio - BIND: Integración servicios tecnológicos</b><br>Hemos cerrado un nuevo acuerdo para tener transferencias y retiros de saldo más rápidos. Durante las próximas semanas estaremos desarrolando diversas integraciones con las API's tecnológicas del banco con este objetivo.<br>Por este motivo, a partir del 3 de Junio estamos migrando nuestras cuentas bancarias al BIND, y dejaremos de recibir transferencias en el BBVA. Para evitar cualquier inconveniente, borrá la cuenta que tenías agendada previamente, y cuando realices un nueva inversión, agendá la nueva.",
      "warning": "La transferencia se debe realizar desde una cuenta a nombre de la misma persona que la cuenta de SeSocio.",
      "warning_aloca": "Te informamos que la cuenta bancaria se modifico para futuras operaciones tu transacción podría verse afectada."
    }
  },
  "es-AR": {
    "subtitle": "Podés cargar saldo en {currency} desde cuentas propias a la siguiente cuenta",
    "info": "Para activar tu CVU y disfrutar de todos los productos debes validar tu identidad",
    "info_alt": "Para tener acceso a todos los productos es necesario que valides tu identidad",
    "account_info": {
      "tw_account_holder": "Titular de la cuenta TW",
      "iban": "IBAN",
      "bank_code": "Código bancario",
      "bank_name": "Nombre del banco",
      "address": "Dirección",
      "account_number": "Número de cuenta",
      "swift": "SWIFT",
      "agency": "Agencia",
      "account_type_cbu": "Tipo de cuenta/CBU",
      "uk_short_code": "Código corto GB",
      "10_bank": "Nombre del Banco",
      "20_checking_account_ars": "Nro de cuenta en Pesos",
      "20_checking_account_cvu_ars": "CVU en Pesos",
      "30_checking_account_cbu_ars": "CBU Pesos",
      "40_checking_account_alias_ars": "Alias Pesos",
      "50_account_holder": "Titular",
      "60_cuit": "CUIT",
      "20_checking_account_usd": "Nro de cuenta en Dólares",
      "30_checking_account_cbu_usd": "CBU Dólares",
      "40_checking_account_alias_usd": "Alias Dólares",
      "20_rut": "RUT",
      "20_ruc": "RUC",
      "20_nit": "Nit",
      "50_email": "Email",
      "60_address": "Dirección",
      "40_beneficiary": "Titular",
      "30_checking_account_clp": "Nro de cuenta CLP",
      "30_checking_account_pen": "Nro de Cta Cte SOLES",
      "30_checking_account_usd": "Nro de cuenta USD",
      "30_checking_account_cop": "Número de cta ahorros COP",
      "30_checking_account_cvu_ars": "Número de cuenta ARS",
      "30_checking_account_cvu_usd": "Número de cuenta USD",
      "60_account_number": "Número de cuenta",
      "70_client_number": "Número de cliente",
      "70_account_type": "Tipo de cuenta",
      "80_clabe": "Clabe (transferencias)",
      "80_cci": "CCI",
      "90_account_type": "Tipo de cuenta",
      "bind_alert": "<b>SeSocio - BIND: Integración servicios tecnológicos</b><br>Hemos cerrado un nuevo acuerdo para tener transferencias y retiros de saldo más rápidos. Durante las próximas semanas estaremos desarrolando diversas integraciones con las API's tecnológicas del banco con este objetivo.<br>Por este motivo, a partir del 3 de Junio estamos migrando nuestras cuentas bancarias al BIND, y dejaremos de recibir transferencias en el BBVA. Para evitar cualquier inconveniente, borrá la cuenta que tenías agendada previamente, y cuando realices un nueva inversión, agendá la nueva.",
      "warning": "La transferencia se debe realizar desde una cuenta a nombre de la misma persona que la cuenta de SeSocio.",
      "warning_aloca": "Te informamos que la cuenta bancaria se modifico para futuras operaciones tu transacción podría verse afectada."
    }
  },
  "en": {
    "subtitle": "Podés cargar saldo en {currency} desde cuentas propias a la siguiente cuenta",
    "info": "Para activar tu CVU y disfrutar de todos los productos debes validar tu identidad",
    "info_alt": "Para tener acceso a todos los productos es necesario que valides tu identidad",
    "account_info": {
      "tw_account_holder": "Account Holder",
      "iban": "IBAN",
      "bank_code": "Bank Code",
      "bank_name": "Bank Name",
      "address": "Address",
      "account_number": "Account Number",
      "account_type": "Account Type",
      "swift": "SWIFT",
      "agency": "Agency",
      "account_type_cbu": "Account Type/CBU",
      "uk_short_code": "Short Code",
      "10_bank": "Bank Name",
      "20_checking_account_ars": "ARS Account Number",
      "30_checking_account_cbu_ars": "CBU ARS",
      "40_checking_account_alias_ars": "Alias ARs",
      "50_account_holder": "Account Holder",
      "60_cuit": "CUIT",
      "20_checking_account_usd": "Account Number USD",
      "30_checking_account_cbu_usd": "CBU USD",
      "40_checking_account_alias_usd": "Alias USD",
      "20_rut": "RUT",
      "20_ruc": "RUC",
      "20_nit": "Nit",
      "50 email": "Email",
      "60_address": "Address",
      "40_beneficiary": "Account Holder",
      "30_checking_account_clp": "Accout Number CLP",
      "30_checking_account_pen": "Accout Number SOLES",
      "30_checking_account_usd": "Nro Accout Number USD",
      "30_checking_account_cop": "Nro Accout Number COP",
      "60_account_number": "Accout Number",
      "70_client_number": "Client Number",
      "80_clabe": "Clabe (transfers)",
      "80_cci": "CCI",
      "90_account_type": "Account Type",
      "bind_alert": "<b>SeSocio - BIND: Integration of technological services</b><br>We have closed a new agreement to have faster transfers and withdrawals of balance. Over the next few weeks we will be developing various integrations with the bank's technologies with this API objective<br>For this reason, as of June 3, we are migrating our bank accounts in BIND, and we will stop receiving transfers in the BBVA. To avoid any inconvenience, take into account the account that was previously published, and when you make a new investment, the new account.",
      "warning": "La transferencia se debe realizar desde una cuenta a nombre de la misma persona que la cuenta de SeSocio.",
      "warning_aloca": ""
    }
  }
}
</i18n>

<template>
  <div>
    <p
      class="text-subtitle-2 pl-1 pb-4 my-auto black--text"
      v-text="$t('subtitle', {'currency': bankAccount.currency})"
    ></p>
    <p
      v-for="(info, index) in bankAccount.account_info"
      :key="index"
      class="text-subtitle-2 ma-0 font-weight-black black--text"
    >
      <strong>{{$t(`account_info.${index}`)}}</strong>: {{info}}
    </p>
    <p
      class="text-subtitle-2 pl-1 pt-10 my-auto black--text"
      v-text="current.country == 'AR' ? $t('info') : $t('info_alt')"
    ></p>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    computed: {
      ...mapState(
        "user", [
          'current',
        ]
      ),
      ...mapState(
        "onboarding", [
          'bankAccount'
        ]
      )
    },
    methods: {
    }
  };
</script>

<style scoped>
</style>
