<template>
  <v-btn
    v-if="false"
    id="intercom_custom"
    fab
    bottom
    right
    fixed
    color="black"
    class="custom-intercom"
    :class="showIntercom ? 'show-intercom' : ''"
  >
    <v-icon
      v-if="!$intercom.visible"
      color="white"
    >
      mdi-message-reply
    </v-icon>
    <v-icon
      v-else
      color="white"
    >
      mdi-chevron-down
    </v-icon>
  </v-btn>
</template>

<script>
import { mapState } from "vuex";

export default {
  data() {
    return {
      showIntercom: false
    }
  },
  methods: {
    intercomBoot(params) {
      this.$intercom.boot(params);
    },
    getIntercomParams() {
      return Object.keys(this.current).length > 0 ? {
        app_id: process.env.VUE_APP_INTERCOM_ID,
        name: this.current.firstname + " " + this.current.lastname,
        email: this.current.email,
        user_country: this.current.country,
        created_at: this.current.created_at,
        first_investment_date: this.current.first_investment_date,
        user_owner: this.current.newsletter_user_owner_email,
        support_type: this.current.newsletter_support_type,
        signed_up_at: this.current.newsletter_created_at,
        state: this.current.state,
        // custom_launcher_selector:'#intercom_custom',
        // vertical_padding: '100'
      } : {};
    }
  },
  computed: {
    ...mapState("user", [
      "current"
    ])
  },
  watch: {
    async current(v) {
      if(Object.keys(this.current).length > 0) {
        if(process.env.NODE_ENV === 'production' && process.env.VUE_APP_BOT) {
          this.intercomBoot(this.getIntercomParams());
          this.showIntercom = true;
        }
      }else {
        if(this.$intercom){
          this.$intercom.shutdown();
        }
        this.showIntercom = false;
      }
    }
  }
}
</script>

<style scoped>
  .custom-intercom{
    transition: all .6s ease;
    opacity: 0;
    visibility: hidden;
  }
  .show-intercom{
    opacity: 100;
    visibility: visible;
  }
</style>