
<template>
  <v-card
    class="px-2 py-3"
    :class="image.status == 'approved' ? 'cursor-default' : ''"
    elevation="0"
    color="rgb(8, 176, 126, 0.05) !important"
    @click="image.status != 'approved' ? pickFile() : undefined"
    min-height="260px"
    data-test-input-picker
  >
    <v-card-title
      class="d-block text-center font-weight-bold word-break-normal"
      v-text="headline"
    ></v-card-title>
    <v-card-subtitle
      class="text-center pb-8"
    >
      <span
        v-html="subheadline"
      ></span>
    </v-card-subtitle>
    <div
      v-if="image.file"
      class="d-flex text-center px-4 pb-8 image-item my-auto align-center"
    >
      <div
        :style="`background-image: url('${image.file}')`"
        class="image-background"
      >
      </div>
    </div>
    <v-card-actions
      v-else
      class="d-flex text-center pb-8 image-item justify-center align-center"
    >
      <v-btn
        fab
        small
        color="primary"
      >
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-card-actions>
    <input
      type="file"
      style="display: none"
      accept="image/*"
      @change="onFilePicked"
      ref="file"
    >
  </v-card>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: {
      headline: {
        type: String,
        required: true,
      },
      subheadline: {
        type: String,
        required: true,
      },
      image: {
        type: Object,
        required: true
      },
      error: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "sendDocuments"
        ],
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      async send_document(){
        await this.sendDocuments(this.image)
          .then(response => {
            this.toggleShowHideLoaderSpinner();
            this.error.message = '';
          })
          .catch(e => {
            this.toggleShowHideLoaderSpinner();
            this.error.message = '';
            let parseErrors = JSON.parse(e.response.errors)
            parseErrors.forEach(parseError => {
              this.error.message += `${parseError}<br>`;
            });
            console.log(e);
          })
      },
      pickFile() {
        this.$refs.file.click()
      },
      onFilePicked(e) {
        const files = e.target.files
        if (files[0] !== undefined) {
          this.image.filename = files[0].name
          if (this.image.filename.lastIndexOf('.') <= 0) {
            return
          }
          const fr = new FileReader()
          fr.readAsDataURL(files[0])
          fr.addEventListener('load', () => {
            this.image.file = fr.result // this is an image file that can be sent to server...
            this.send_document();
          })
        } else {
          this.image.filename = ''
          this.image.file = ''
        }
      }
    }
  };
</script>

<style scoped>
  .word-break-normal{
    word-break: normal;
  }
  .image-item{
    height: 140px;
  }
  .image-background{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
  }
  .cursor-default{
    cursor: default;
  }
</style>
