<template>
  <div>
    <v-pagination
      :value="value"
      :length="totalPages"
      :total-visible="totalVisible"
      :disabled="loading"
      :color="color"
      :circle="circle"
      @input="handlePageChange"
      :dark="dark"
    ></v-pagination>
    <p
      v-if="arrayLength"
      class="text-caption text-center text-lowercase"
      :class="dark ? 'white--text' : 'black--text'"
    >
      {{ mypages }}
    </p>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: Number,
      required: true,
    },
    // Total de items
    totalItems: {
      type: Number,
      required: true,
    },
    // Items a mostrar por pagina
    itemsPerPage: {
      type: Number,
      default: 15,
    },
    // Longitud del arreglo de items
    arrayLength: {
      type: Number,
      required: false,
    },
    // Total de paginas visibles
    totalVisible: {
      type: Number,
      default: 5,
    },
    // Tipo de items
    totalText: {
      type: String,
      default: "items",
    },
    loading: {
      type: Boolean,
      default: false,
    },
    color: {
      type: String,
      default: "secondary",
    },
    circle: {
      type: Boolean,
      default: true,
    },
    dark: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    totalPages() {
      return Math.ceil(this.totalItems / this.itemsPerPage);
    },
    mypages() {
      const start =
        this.value * this.itemsPerPage - this.itemsPerPage + 1;
      const end =
        this.value * this.itemsPerPage -
        this.itemsPerPage +
        this.arrayLength;
      return `${start}-${end} de ${this.totalItems} ${this.totalText}`;
    },
  },
  methods: {
    handlePageChange(page) {
      this.$emit("changePage", page);
    },
  },
};
</script>

<style lang="scss" scoped>
// Paginación
// Elimina fondo y sombra de los botones
::v-deep .theme--light.v-pagination .v-pagination__item,
::v-deep .theme--light.v-pagination .v-pagination__navigation,
::v-deep .theme--dark.v-pagination .v-pagination__item,
::v-deep .theme--dark.v-pagination .v-pagination__navigation {
  background: transparent;
  box-shadow: none;
}
</style>