<i18n>
{
  "es": {
    "title": "Por ser una persona jurídica, PEP, SO o FATCA  te solicitamos que te comuniques con nosotros.",
    "later": "Prefiero hacerlo luego",
    "send_email": "Enviar correo"
  },
  "es-AR": {
    "title": "Por ser una persona jurídica, PEP, SO o FATCA  te solicitamos que te comuniques con nosotros.",
    "later": "Prefiero hacerlo luego",
    "send_email": "Enviar correo"
  },
  "en": {
    "title": "Por ser una persona jurídica, PEP, SO o FATCA  te solicitamos que te comuniques con nosotros.",
    "later": "Prefiero hacerlo luego",
    "send_email": "Enviar correo"
  }
}
</i18n>

<template>
  <v-dialog
    v-model="modals.openContactUs"
    persistent
    max-width="690"
  >
    <v-card
      class="px-6 py-6 text-center content-bg-color"
      elevation="0"
    >
      <div
        class="d-flex justify-end"
      >
        <v-btn
          @click="close_onboarding()"
          icon
        >
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </div>
      <p
        class="text-h5 font-weight-black black--text pt-6 pb-10 pl-1 my-auto"
        v-text="$t('title')"
      ></p>
      <img
        src="../../../../../../../../../../assets/onboarding/images/image-icons-sesocio-card.svg"
        class="mt-0 align-self-start"
      />
      <v-card-actions
        class="d-flex justify-center pt-10"
      >
        <v-btn
          outlined
          color="primary"
          class="ma-2 px-8 border-4"
          @click="close_onboarding()"
          v-text="$t('later')"
          data-test-later
        ></v-btn>
        <v-btn
          color="primary"
          class="ma-2 px-16"
          href="mailto:arg-support@blockchain.com"
          target='_blank'
          v-text="$t('send_email')"
          data-test-send_email
        ></v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    props: {
      modals: {
        required: true,
        type: Object
      }
    },
    methods: {
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      close_onboarding(){
        this.modals.openContactUs = false;
        this.modals.openRequestUserConfirmation = false;
        this.closeOnboardingDialog();
      }
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
