<i18n>
{
  "es": {
    "title": "¿Cumplís con alguna de estas condiciones?",
    "subtitle": "Tené en cuenta que esto es una declaración jurada. Por favor completala con datos reales.",
    "cancel": "Cancelar",
    "submit": "Confirmar"
  },
  "es-AR": {
    "title": "¿Cumplís con alguna de estas condiciones?",
    "subtitle": "Tené en cuenta que esto es una declaración jurada. Por favor completala con datos reales.",
    "cancel": "Cancelar",
    "submit": "Confirmar"
  },
  "en": {
    "title": "¿Cumplís con alguna de estas condiciones?",
    "subtitle": "Tené en cuenta que esto es una declaración jurada. Por favor completala con datos reales.",
    "cancel": "Cancelar",
    "submit": "Confirmar"
  }
}
</i18n>

<template>
  <v-dialog
    v-model="modals.openRequestUserConfirmation"
    persistent
    max-width="1200px"
  >
    <v-card
      class="pa-4 pt-7 text-center"
      elevation="0"
    >
      <div
        class="d-flex text-left"
      >
        <v-icon
          class="pr-2"
          color="#f5bd06"
          large
        >
          mdi-alert-circle-outline
        </v-icon>
        <div>
          <p
            class="text-h6 font-weight-bold pt-1 pl-1 my-auto"
            v-text="$t('title')"
          ></p>
          <p
            class="text-subtitle-2 pl-1 pt-1 my-auto"
            v-html="$t('subtitle')"
          ></p>
        </div>
      </div>
      <show-sworn-declaration-form
        :valid="valid"
        :user="user"
        :formValues="formValues"
      >
      </show-sworn-declaration-form>
      <v-card-actions
        class="d-flex justify-center pt-2 pt-md-8"
      >
        <v-btn
          outlined
          color="primary"
          class="ma-2 px-16 border-4"
          @click="close()"
          v-text="$t('cancel')"
          data-test-cancel
        ></v-btn>
        <v-btn
          color="primary"
          class="ma-2 px-16"
          @click="submit_with_user_confirmation()"
          v-text="$t('submit')"
          data-test-submit
        ></v-btn>
      </v-card-actions>
    </v-card>
    <contact-us-general-details
      :modals="modals"
    >
    </contact-us-general-details>
  </v-dialog>
</template>

<script>
  import { mapActions } from 'vuex';
  import ContactUsGeneralDetails from './ContactUsGeneralDetails';
  import ShowSwornDeclarationForm from "./forms/ShowSwornDeclarationForm"

  export default {
    props: {
      modals: {
        required: true,
        type: Object
      },
      user: {
        required: true,
        type: Object
      },
      formValues: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        valid: {
          form: false
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "onboarding", [
          "sendGeneralDetails",
          "nextStep",
          "goToStep",
        ],
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      ...mapActions(
        "snackbar", [
          "showSnackbar"
        ]
      ),
      close(){
        this.modals.openRequestUserConfirmation = false;
        this.user.legalEntity = false;
        this.user.facta = false;
        this.user.politicallyExposed = false;
        this.user.obligatedSubject = false;
      },
      async submit_with_user_confirmation(){
        await this.sendGeneralDetails(this.user)
        .then(response => {
          this.toggleShowHideLoaderSpinner();
          if(
            this.user.facta ||
            this.user.politicallyExposed ||
            this.user.legalEntity ||
            this.user.obligatedSubject
          ){
            this.modals.openContactUs = true;
          }else {
            this.modals.openRequestUserConfirmation = false;
            if (this.user.country == "AR") {
              this.nextStep();
            }else {
              this.goToStep(7);
            }
          }
        })
        .catch(e => {
          this.toggleShowHideLoaderSpinner();
          let errors = '', parseErrors = JSON.parse(e.response.errors)
          parseErrors.forEach(parseError => {
            errors += `${parseError}<br>`;
          });
          this.showSnackbar({ message: errors });
          this.modals.openRequestUserConfirmation = false;
        })
      },
    },
    components: {
      ContactUsGeneralDetails,
      ShowSwornDeclarationForm
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
