<i18n>
{
  "es": {
    "title": "¡Te damos la bienvenida! Ya eres parte de nuestra comunidad",
    "subtitle": "<span class='font-weight-bold'>Vamos a validar tu documentación</span>, en las próximas horas te avisaremos cuando tu cuenta esté lista.",
    "info": "Al ser parte de esta comunidad, puedes <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios.",
    "info_alt": "<span class='font-weight-bold'>Invierte sin monto mínimo</span> en proyectos de real estate, agronegocios, franquicias y mucho más.",
    "invest_now": "Invierte ya!",
    "request_card": "Solicitar tarjeta"
  },
  "es-AR": {
    "title": "¡Te damos la bienvenida! Ya sos parte de nuestra comunidad",
    "subtitle": "<span class='font-weight-bold'>Vamos a validar tu documentación</span>, en las próximas horas te avisaremos cuando tu cuenta esté lista.",
    "info": "Al ser parte de esta comunidad, podés <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios.",
    "info_alt": "<span class='font-weight-bold'>Invertí sin monto mínimo</span> en proyectos de real estate, agronegocios, franquicias y mucho más.",
    "invest_now": "¡Invertí ya!",
    "request_card": "Solicitar tarjetas"
  },
  "en": {
    "title": "¡Te damos la bienvenida! Ya eres parte de nuestra comunidad",
    "subtitle": "<span class='font-weight-bold'>Vamos a validar tu documentación</span>, en las próximas horas te avisaremos cuando tu cuenta esté lista.",
    "info": "Al ser parte de esta comunidad, podés <span class='font-weight-bold'>obtener tu tarjeta de manera gratuita</span> y con grandes beneficios.",
    "info_alt": "<span class='font-weight-bold'>Invierte sin monto mínimo</span> en proyectos de real estate, agronegocios, franquicias y mucho más.",
    "invest_now": "¡Invertí ya!",
    "request_card": "Solicitar tarjeta"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="content-bg-color pt-4"
      justify="center"
    >
      <v-col
        cols="12"
        sm="9"
        md="5"
      >
        <v-card
          class="px-6 pt-0 pb-0 text-center content-bg-color"
          elevation="0"
        >
          <p
            class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
            v-text="$t('title')"
          ></p>
          <p
            class="text-subtitle-2 pl-1 pt-1 my-auto"
            v-html="$t('subtitle')"
          ></p>
          <img
            v-if="current.country == 'AR'"
            src="../../../../../../../../../assets/onboarding/images/image-icons-sesocio-card.svg"
            class="mt-0 align-self-start py-6"
          />
          <img
            v-else
            src="../../../../../../../../../assets/onboarding/images/image-icon-sesocio.svg"
            class="mt-0 align-self-start py-6"
          />
          <p
            v-if="current.country == 'AR'"
            class="text-subtitle-2 pl-1 pt-1 my-auto"
            v-html="$t('info')"
          ></p>
          <p
            v-else
            class="text-subtitle-2 pl-1 pt-1 my-auto"
            v-html="$t('info_alt')"
          ></p>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      justify="center"
      class="content-bg-color mt-0"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center content-bg-color"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            :href="getURL('projects')"
            v-text="$t('invest_now')"
            data-test-invest-now
          ></v-btn>
          <v-btn
            v-if="current.country == 'AR' && cardStatus == 'solicitar'"
            color="primary"
            class="ma-2 px-16"
            @click="nextStep()"
            v-text="$t('request_card')"
            data-test-request
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    computed: {
      ...mapState(
        "user", [
          'current',
        ]
      ),
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      ...mapState(
        "onboarding_dialog", [
          'cardStatus',
        ]
      )
    },
    watch: {
      async current_step(value){
        if (value == 9) {
          await this.get_card_status()
          this.gtm_track_event();
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "getCardStatus"
        ]
      ),
      ...mapActions(
        "ui-spinner", [
          "showSpinnerLoader",
          "hideSpinnerLoader"
        ]
      ),
      async get_card_status(){
        this.showSpinnerLoader();
        await this.getCardStatus()
        .then(() => {})
        .catch(() => {})
        this.hideSpinnerLoader();
      },
      getURL(path) {
        return `${process.env.VUE_APP_MAIN_PWA_URL}${path}`;
      },
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'welcome-step-08', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
  .text-nobreak{
    word-break: normal;
  }
</style>
