<i18n src="../locales/megamenu.json"></i18n>

<template>
  <v-navigation-drawer
    :value="value"
    app
    temporary
    hide-overlay
    floating
    :width="widthDrawerPanel"
    style="margin-top: 79px !important"
    height="calc(100vh - 78px)"
    color="black"
    dark
  >
    <v-container v-if="$vuetify.breakpoint.smAndDown">
      <Search dark />
    </v-container>

    <v-container v-if="isLoggedIn">
      <div class="d-flex align-center">
        <v-avatar class="mr-4" color="white" size="60">
          <v-img
            v-if="current.photo"
            :src="current.photo"
            :alt="current.alias"
            cover
          />
          <v-icon v-else size="40" color="primary">mdi-account-circle</v-icon>
        </v-avatar>
        <div class="d-flex flex-column justify-center">
          <span class="poppins white--text" style="font-size: 16px">
            {{ `${current.firstname} ${current.lastname}` }}
          </span>
          <span
            class="
              poppins
              caption-2
              grey--text
              text--darken-1
              font-weight-medium
            "
          >
            @{{ current.alias }}
          </span>
        </div>
      </div>
    </v-container>

    <v-container class="px-0">
      <v-list class="pa-0" dense>
        <!-- Menu de navegación -->
        <template v-for="principalItem in filteredItems">
          <!-- Sin subitems -->
          <v-list-item
            v-if="!principalItem.hasOwnProperty('items')"
            :key="principalItem.title"
            class="pa-0"
            :href="
              isExternal(principalItem.link)
                ? handleLink(principalItem.link)
                : undefined
            "
            :to="
              !isExternal(principalItem.link) ? principalItem.link : undefined
            "
            @click="hideDrawer()"
          >
            <v-list-item-content>
              <v-list-item-title class="text-subtitle-2 font-weight-bold">
                {{ principalItem.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <!-- Con subitems -->
          <v-list-group
            v-else
            :key="principalItem.title"
            class="pa-0"
            v-model="principalItem.active"
            no-action
          >
            <template v-slot:activator>
              <v-list-item class="pa-0">
                <v-list-item-content>
                  <v-list-item-title class="text-subtitle-2 font-weight-bold">
                    {{ principalItem.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <template v-for="subitem in principalItem.items">
              <template v-if="hasExecutive(subitem.title)"></template>
              <v-list-item
                v-else-if="!subitem.hasOwnProperty('show') || subitem.show"
                :key="subitem.title"
                :href="
                  isExternal(subitem.link)
                    ? handleLink(subitem.link)
                    : undefined
                "
                :to="!isExternal(subitem.link) ? subitem.link : undefined"
                :disabled="subitem.link == '#'"
                @click="hideDrawer()"
              >
                <v-list-item-content>
                  <v-list-item-title class="text-subtitle-2">
                    {{ subitem.title }}
                  </v-list-item-title>
                </v-list-item-content>
                <v-list-item-icon v-if="subitem.new" class="align-self-center">
                  <v-chip color="secondary" x-small class="align-self-center">
                    {{ $t("tagNew") }}
                  </v-chip>
                </v-list-item-icon>
                <v-list-item-icon
                  v-if="subitem.comingSoon"
                  class="align-self-center"
                >
                  <v-chip
                    color="#6b696d"
                    dark
                    x-small
                    class="align-self-center"
                  >
                    {{ $t("tagCommingSoon") }}
                  </v-chip>
                </v-list-item-icon>
              </v-list-item>
            </template>
          </v-list-group>
        </template>

        <!-- Ayuda -->
        <v-list-item :href="helpCenter" @click="hideDrawer()">
          <v-list-item-content>
            <v-list-item-title class="text-subtitle-2 font-weight-bold">
              {{ $t("help") }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <div v-if="isLoggedIn">
        <LeftBanner />
      </div>
    </v-container>

    <v-container>
      <v-btn
        v-if="isLoggedIn"
        depressed
        color="white"
        @click="callLogout()"
        outlined
        block
        >{{ $t("logout") }}</v-btn
      >
      <v-btn
        v-else
        depressed
        @click="setShowHideContactDialog(true)"
        color="secondary"
        block
      >
        {{ executiveText }}
      </v-btn>
    </v-container>
  </v-navigation-drawer>
</template>

<script>
import { mapState, mapActions } from "vuex";
import Search from "./Search";
import LeftBanner from "./LeftBanner";

export default {
  name: "DrawerPanel",
  props: {
    value: { required: true },
    navItems: { type: Array, required: true },
  },
  components: { LeftBanner, Search },
  computed: {
    ...mapState("user", ["isLoggedIn", "current"]),
    ...mapState("core", ["country"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
    userAccount() {
      return [
        {
          title: "Mi cuenta",
          items: [
            {
              title: "Información personal",
              link: "/user/information",
              new: false,
              comingSoon: false,
            },
            {
              title: "Documentación",
              link: "/user/documentation",
              new: false,
              comingSoon: false,
            },
            {
              title: "Mi ejecutivo",
              link: "/executive",
              new: false,
              comingSoon: false,
            },
            {
              title: "Cuentas de retiro",
              link: "/user/bank_data",
              new: false,
              comingSoon: false,
            },
            {
              title: "Seguridad",
              link: "/user/security",
              new: false,
              comingSoon: false,
            },
            {
              title: "Billeteras",
              link: "/user/wallet_data",
              new: false,
              comingSoon: false,
            },
          ],
        },
        {
          title: "Mis finanzas",
          items: [
            {
              title: "Dashboard",
              link: "/dashboard",
              new: false,
              comingSoon: false,
            },
            {
              title: "Portfolio",
              link: "/portfolio",
              new: false,
              comingSoon: false,
            },
            {
              title: "Mis NFTs",
              link: "/mis-nft",
              new: true,
              comingSoon: false,
            },
            {
              title: "Movimientos",
              link: "/movements",
              new: false,
              comingSoon: false,
            },
          ],
        },
      ];
    },
    filteredItems() {
      const items = this.navItems.filter(
        (item) => item.title != "Mi cuenta"
      );
      if (this.isLoggedIn) {
        items.unshift(...this.userAccount);
      }
      return items;
    },
    helpCenter() {
      return process.env.VUE_APP_HELPCENTER_BASE_URL;
    },
    widthDrawerPanel() {
      if (this.isXs()) {
        return "80%";
      } else if (this.$vuetify.breakpoint.sm) {
        return "40%";
      } else {
        return "30%";
      }
    },
    executiveText() {
      return this.getDomain() == "sesocia.com"
        ? this.$t("contact_2")
        : this.$t("contact");
    },
  },
  methods: {
    ...mapActions("megamenu", ["hideDrawer"]),
    ...mapActions("core", ["setShowHideContactDialog"]),
    ...mapActions("user", ["logout"]),
    getDomain() {
      let domain = window.location.hostname;
      domain = domain.replace("www.", "");
      return domain;
    },
    callLogout() {
      this.hideDrawer();
      this.$router.push("/");
      this.logout();
    },
    getDomain() {
      return window.location.hostname;
    },
    isExternalLink(path) {
      return /^(https?:|http?:|mailto:|tel:)/.test(path);
    },
    isExternal(link) {
      if (this.isPwa) {
        if (this.isExternalLink(link)) {
          return true;
        }
        return false;
      }
      return true;
    },
    handleLink(link) {
      if (this.isExternal(link) && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    hasExecutive(title) {
      // Devuelve true si el usuario NO tiene ejecutivo
      return (
        title == "Mi ejecutivo" && this.current.newsletter_support_type != 2
      );
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep .v-navigation-drawer__content {
  overflow-y: auto;

  /* width */
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #000000;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

::v-deep .v-avatar {
  border: 2px solid #6400b4 !important;
}

.v-list-item {
  //padding: 0 32px !important;
  min-height: 48px !important;

  & .v-list-item {
    padding: 0 !important;
  }
}

.v-list-group {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 90%;
    bottom: 0;
    left: 5%;
    right: 5%;
  }

  &::v-deep .v-list-group__header {
    //padding: 0 32px !important;

    &.v-list-item--active {
      background-color: #41ffaf !important;

      & .v-list-item,
      .v-list-item__icon {
        color: black !important;
      }
    }

    .v-list-item__icon {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

  &::v-deep .v-list-group__items {
    background-color: rgba(65, 255, 175, 0.1);
  }

  &::v-deep a.v-list-item,
  &::v-deep .v-list-item--disabled {
    padding-right: 20px !important;
    padding-left: 32px !important;
    min-height: 48px !important;
  }
}
</style>
