<template>
  <v-row v-if="isLg()">
    <v-col cols="12" class="d-flex justify-center">
      <v-btn
        text
        color="white"
        :href="!isPwa ? handleLink('/exchange_rates') : undefined"
        :to="isPwa ? '/exchange_rates' : undefined"
        @click="closeMenu()"
      >
        <v-icon class="mr-2" color="secondary">mdi-eye</v-icon>
        <span>Ver cotizaciones</span>
      </v-btn>
    </v-col>
    <v-col cols="12">
      <v-img
        class="mx-auto"
        :src="require('../../../assets/img/megamenu/wallet_crypto.svg')"
        height="121px"
        width="108px"
      />
    </v-col>
    <v-col cols="12" class="d-flex flex-column align-center">
      <v-btn
        class="mb-2 white--text"
        color="secondary"
        width="140px"
        height="40px"
        :href="!isPwa ? handleLink('/deposit') : undefined"
        :to="isPwa ? '/deposit' : undefined"
        @click="closeMenu()"
        data-test-deposit
        >Cargar saldo</v-btn
      >
      <v-btn
        color="rgba(155, 84, 247, 0.2)"
        width="140px"
        height="40px"
        :href="!isPwa ? handleLink('/withdraw') : undefined"
        :to="isPwa ? '/withdraw' : undefined"
        @click="closeMenu()"
        data-test-withdraw
        ><span style="color: #cea9ff">Retirar saldo</span></v-btn
      >
    </v-col>
  </v-row>
  <v-container v-else>
    <v-row>
      <v-col cols="6">
        <v-btn
          class="white--text"
          color="secondary"
          :href="!isPwa ? handleLink('/deposit') : undefined"
          :to="isPwa ? '/deposit' : undefined"
          @click="hideDrawer()"
          block
          >Cargar saldo</v-btn
        >
      </v-col>
      <v-col cols="6">
        <v-btn
          color="rgba(155, 84, 247, 0.2)"
          :href="!isPwa ? handleLink('/withdraw') : undefined"
          :to="isPwa ? '/withdraw' : undefined"
          @click="hideDrawer()"
          block
          ><span style="color: #cea9ff">Retirar saldo</span></v-btn
        >
      </v-col>
      <v-col cols="6">
        <v-btn
          text
          color="white"
          class="px-0"
          :href="!isPwa ? handleLink('/exchange_rates') : undefined"
          :to="isPwa ? '/exchange_rates' : undefined"
          @click="hideDrawer()"
        >
          <v-icon class="mr-2" color="secondary">mdi-eye</v-icon>
          <span class="text-caption">Ver cotizaciones</span>
        </v-btn>
      </v-col>
      <v-col cols="6">
        <v-btn
          text
          color="white"
          class="px-0"
          :href="!isPwa ? handleLink('/couponsAvailable') : undefined"
          :to="isPwa ? '/couponsAvailable' : undefined"
          @click="hideDrawer()"
        >
          <v-icon class="mr-2" color="secondary">mdi-ticket-percent</v-icon>
          <span class="text-caption">Cargar cupón</span>
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
  },
  methods: {
    ...mapActions("megamenu", ["hideDrawer"]),
    isLg() {
      return this.$vuetify.breakpoint.lg || this.$vuetify.breakpoint.xl;
    },
    handleLink(link) {
      if (!this.isPwa && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    closeMenu() {
      this.hideDrawer();
      this.$emit("closeMegamenu");
    },
  },
};
</script>

<style lang="scss" scoped>
// Elimina opacidad cuando la ruta del botón coincide con la ruta actual
.v-btn--active:not(:focus):not(:hover)::before {
  opacity: 0 !important;
}
</style>