<i18n>
{
  "es": {
    "login": "Ingresar"
  },
  "en": {
    "login": "Login"
  }
}
</i18n>

<template>
  <div v-if="!isLoggedIn || debugMode">
    <v-btn
      @click.stop="open_onboarding_dialog()"
      class="ml-4 black--text"
      data-test-login
    >
      {{ $t("login") }}
    </v-btn>
  </div>
</template>

<script>
import store from "../store";
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("user", ["isLoggedIn"]),
    ...mapState("onboarding_dialog", ["debugMode"]),
  },
  methods: {
    ...mapActions("onboarding_dialog", ["openOnboardingDialog"]),
    open_onboarding_dialog(){
      if(!['/login', '/register'].includes(window.location.pathname)){
        this.openOnboardingDialog()
      }
    }
  },
  created() {
    if (!this.$store.hasModule("onboarding_dialog")) {
      this.$store.registerModule("onboarding_dialog", store);
    }

    this.$root.$on("closeOnboardingDialog", () => {
      this.closeOnboardingDialog();
    });
    this.$root.$on("nextStepDialog", () => {
      this.nextStepDialog();
    });
  },
  beforeDestroy() {
    this.$root.$off("closeOnboardingDialog");
    this.$root.$off("nextStepDialog");
  },
};
</script>