<i18n>
  {
    "es": {
      "titleProject": "<span style='color: #41ffaf'>Los mejores negocios</span> te están esperando",
      "titleCrypto": "<span style='color: #41ffaf'>Las mejores criptos</span> te están esperando",
      "textButton": "Invierte",
      "titleDoc": "Utiliza la plataforma <span style='color: #41ffaf'>sin restricciones</span>",
      "textDocButton": "Carga documentación"
    },
    "es-AR": {
      "titleProject": "<span style='color: #41ffaf'>Los mejores negocios</span> están esperándote",
      "titleCrypto": "<span style='color: #41ffaf'>Las mejores criptos</span> están esperándote",
      "textButton": "Invertí",
      "titleDoc": "Utilizá la plataforma <span style='color: #41ffaf'>sin restricciones</span>",
      "textDocButton": "Cargá documentación"
    },
    "en": {
      "titleProject": "<span style='color: #41ffaf'>Los mejores negocios</span> están esperándote",
      "titleCrypto": "<span style='color: #41ffaf'>Las mejores criptos</span> están esperándote",
      "textButton": "Invertí",
      "titleDoc": "Utilizá la plataforma <span style='color: #41ffaf'>sin restricciones</span>",
      "textDocButton": "Cargá documentación"
    }
  }
</i18n>
<template>
  <div>
    <!-- Quiero mi tarjeta -->
    <v-row v-if="cardStatus == 'Pedí la tarjeta'">
      <v-col cols="12">
        <p class="text-center">
          Ahora podés
          <span style="color: #41ffaf">pagar con tus inversiones</span>
        </p>
      </v-col>
      <v-col cols="12">
        <v-img
          class="mx-auto"
          :src="require('../../../assets/img/megamenu/want_my_card.png')"
          height="130px"
          width="128px"
        />
      </v-col>
      <v-col cols="12" class="text-center">
        <v-btn
          color="secondary"
          width="140px"
          height="40px"
          :href="prepaidCardBaseUrl"
          @click="closeMenu()"
          >¡Quiero mi tarjeta!</v-btn
        >
      </v-col>
    </v-row>
    <!-- Falta documentación -->
    <v-row v-else-if="cardStatus == 'Cargá documentación'">
      <v-col cols="12">
        <p
          class="text-center mb-0"
          v-html="$t('titleDoc')"
        ></p>
      </v-col>
      <v-col cols="12">
        <v-img
          class="mx-auto"
          :src="require('../../../assets/img/megamenu/documentation.svg')"
          width="165px"
        />
      </v-col>
      <v-col cols="12" class="text-center">
        <v-btn
          class="subtitle-3 font-weight-bold"
          color="white"
          min-width="140px"
          height="40px"
          :href="
            !isPwa
              ? handleLink('/user/documentation')
              : undefined
          "
          :to="isPwa ? ('/user/documentation') : undefined"
          @click="closeMenu()"
          data-test-invest-now
          outlined
          >{{ $t("textDocButton") }}</v-btn
        >
      </v-col>
    </v-row>
    <!-- Activar mi tarjeta -->
    <v-row v-else-if="cardStatus == 'Activá o hacer seguimiento'">
      <v-col cols="12">
        <p class="text-center mb-0">
          Empezá a disfrutar
          <span style="color: #41ffaf">de todos los beneficios</span>
        </p>
      </v-col>
      <v-col cols="12">
        <v-img
          class="mx-auto"
          :src="require('../../../assets/img/megamenu/my_card.png')"
          height="138px"
          width="165px"
        />
      </v-col>
      <v-col cols="12" class="d-flex flex-column align-center pb-0">
        <v-btn
          class="mb-1"
          color="secondary"
          width="140px"
          height="40px"
          :href="prepaidCardBaseUrl + '/enable_card'"
          @click="closeMenu()"
        >¡Activá tu tarjeta!</v-btn>
        <v-btn
          color="secondary"
          width="140px"
          height="40px"
          outlined
          :href="prepaidCardBaseUrl + '/shipping'"
          @click="closeMenu()"
        >Seguir envío</v-btn>
      </v-col>
    </v-row>
    <!-- Invertir en criptomonedas -->
    <v-row v-else>
      <v-col cols="12">
        <p
          class="text-center mb-0"
          v-html="$t('titleCrypto')"
        ></p>
      </v-col>
      <v-col cols="12">
        <v-img
          class="mx-auto"
          :src="require('../../../assets/img/megamenu/crypto_coin.svg')"
          width="165px"
        />
      </v-col>
      <v-col cols="12" class="text-center">
        <v-btn
          color="white"
          width="140px"
          height="40px"
          :href="
            !isPwa
              ? handleLink('/criptomonedas')
              : undefined
          "
          :to="isPwa ? ('/criptomonedas') : undefined"
          @click="closeMenu()"
          data-test-invest-now
          outlined
          >{{ $t("textButton") }}</v-btn
        >
      </v-col>
    </v-row>
    <!-- Coupons -->
    <v-row>
      <v-col cols="12" class="d-flex justify-center">
        <v-btn
          text
          color="white"
          :href="!isPwa ? handleLink('/couponsAvailable') : undefined"
          :to="isPwa ? '/couponsAvailable' : undefined"
          @click="closeMenu()"
          data-test-coupons-available
        >
          <v-icon class="mr-2" color="secondary">mdi-ticket-percent</v-icon>
          <span>Cargar cupón</span>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("user", ["current"]),
    ...mapState("core", ["country"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl", "cardStatus"]),
    ...mapState("user", ["current"]),
    hasPrepaidCard() {
      return this.current.has_prepaid_card;
    },
    canPrepaidCard() {
      return this.current.country == "AR";
    },
    prepaidCardBaseUrl() {
      return process.env.VUE_APP_CARD_BASE_URL;
    },
    routeToMyCard() {
      return this.prepaidCardBaseUrl + "/my-card";
    },
    helpCenter() {
      return process.env.VUE_APP_HELPCENTER_BASE_URL;
    },
  },
  methods: {
    ...mapActions("megamenu", ["getCardStatus"]),
    handleLink(link) {
      if (!this.isPwa && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    closeMenu() {
      this.$emit("closeMegamenu");
    }
  },
  watch: {
    async current() {
      if (this.cardStatus == "Comprá cripto") {
        await this.getCardStatus();
      }
    }
  },
  async beforeMount() {
    await this.getCardStatus();
  }
};
</script>

<style lang="scss" scoped>
// Elimina opacidad cuando la ruta del botón coincide con la ruta actual
.v-btn--active:not(:focus):not(:hover)::before {
  opacity: 0 !important;
}
</style>