<i18n src="../locales/search.json"></i18n>
<template>
  <div>
    <v-autocomplete
      ref="searcher"
      :items="arrayFiltered"
      :search-input.sync="search"
      @update:search-input="handleSearch"
      prepend-inner-icon="mdi-magnify"
      append-icon=""
      :no-data-text="$t('no_data')"
      :hide-no-data="hideNoData"
      :menu-props="menuProps"
      :color="dark ? 'white' : 'black'"
      no-filter
      solo
      hide-selected
      hide-details
      :autofocus="autofocus"
      @keydown="nameKeydown"
      clearable
      :dark="dark"
    >
      <template v-if="items.length && !isXs()" v-slot:prepend-item>
        <v-list-item :dark="dark">
          <v-chip-group
            v-model="filterChip"
            mandatory
            active-class="active-chip"
          >
            <template v-for="(chip, index) in chips">
              <v-chip
                v-if="chip.show"
                :key="index"
                class="font-weight-bold"
                :value="chip.id"
              >
                {{ chip.name }}
              </v-chip>
            </template>
          </v-chip-group>
        </v-list-item>
      </template>
      <template v-slot:item="{ item }">
        <v-list-item
          :href="
            isExternal(getProjectLink(item))
              ? handleLink(getProjectLink(item))
              : undefined
          "
          :to="
            !isExternal(getProjectLink(item))
              ? handleLink(getProjectLink(item))
              : undefined
          "
          v-ripple="{
            class: dark ? 'ripple-class__dark' : 'ripple-class__light',
          }"
          @click="clearSearch"
        >
          <v-list-item-avatar v-if="item.item_type == 'help'" size="30" tile>
            <v-img
              v-if="!$vuetify.breakpoint.xs"
              src="../../../assets/img/megamenu/help_icon.png"
              height="30"
              width="30"
            ></v-img>
            <v-img
              v-else
              src="../../../assets/img/megamenu/help_icon_green.png"
              height="30"
              width="30"
            ></v-img>
          </v-list-item-avatar>
          <v-list-item-avatar
            v-else-if="item.item_type == 'article'"
            size="30"
            tile
          >
            <v-img
              v-if="!$vuetify.breakpoint.xs"
              src="../../../assets/img/megamenu/scool_icon.png"
              height="26"
              width="26"
            ></v-img>
            <v-img
              v-else
              src="../../../assets/img/megamenu/scool_icon_green.png"
              height="26"
              width="26"
            ></v-img>
          </v-list-item-avatar>
          <v-list-item-avatar v-else size="30">
            <v-img :src="item.project_logo" height="30" width="30"></v-img>
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title v-text="item.project_name"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import Axios from "axios";

export default {
  props: {
    autofocus: {
      type: Boolean,
      default: false,
    },
    dark: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      loading: false,
      projects: null,
      items: [],
      search: null,
      hideNoData: true,
      filterChip: 0,
    };
  },
  computed: {
    ...mapState("core", ["country"]),
    ...mapState("user", ["current", "isLoggedIn"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
    ...mapGetters("user", ["isOldUser"]),
    menuProps() {
      return {
        zIndex: 100,
        minWidth: this.isXs() ? "74%" : undefined,
        maxWidth: this.isXs() ? "74%" : undefined,
        width: this.isXs() ? "74%" : "100%",
        bottom: true,
        offsetY: true,
        closeOnContentClick: false,
        maxHeight: "50vh",
        dark: this.dark,
        contentClass: "included",
      };
    },
    chips() {
      return [
        { id: "all", name: this.$t("filters.all"), show: this.allFilter },
        {
          id: "cryptos",
          name: this.$t("filters.cryptos"),
          show: this.cryptoFilter.length,
        },
        {
          id: "business",
          name: this.$t("filters.business"),
          show: this.businessFilter.length,
        },
        {
          id: "nft",
          name: this.$t("filters.nft"),
          show: this.nftFilter.length,
        },
        {
          id: "scool",
          name: this.$t("filters.scool"),
          show: this.scoolFilter.length,
        },
        {
          id: "help",
          name: this.$t("filters.help"),
          show: this.helpFilter.length,
        },
      ];
    },
    allFilter() {
      return !(
        this.items.length == this.cryptoFilter.length ||
        this.items.length == this.businessFilter.length ||
        this.items.length == this.helpFilter.length ||
        this.items.length == this.scoolFilter.length ||
        this.items.length == this.nftFilter.length
      );
    },
    cryptoFilter() {
      return this.items.filter(
        (it) => it.category_type == "criptomonedas" && it.item_type == "project"
      );
    },
    businessFilter() {
      return this.items.filter(
        (it) => it.category_type == "negocios" && it.item_type == "project"
      );
    },
    helpFilter() {
      return this.items.filter((it) => it.item_type == "help");
    },
    scoolFilter() {
      return this.items.filter((it) => it.item_type == "article");
    },
    nftFilter() {
      return this.items.filter((it) => it.item_type == "nft");
    },
    arrayFiltered() {
      if (this.items.length == 0) return [];
      switch (this.filterChip) {
        case "cryptos":
          return this.cryptoFilter;
        case "business":
          return this.businessFilter;
        case "help":
          return this.helpFilter;
        case "scool":
          return this.scoolFilter;
        case "nft":
          return this.nftFilter;
        default:
          return this.items;
      }
    },
    helpIcon() {
      return this.$vuetify.breakpoint.xs
        ? "../../../assets/img/megamenu/help_icon_green.png"
        : "../../../assets/img/megamenu/help_icon.png";
    },
    scoolIcon() {
      return this.$vuetify.breakpoint.xs
        ? "../../../assets/img/megamenu/scool_icon_green.png"
        : "../../../assets/img/megamenu/scool_icon.png";
    },
  },
  watch: {
    search(newValue) {
      this.filterChip = 0;
      if (newValue && this.validateString(newValue)) {
        this.items = [];
        this.hideNoData = true;
        if (newValue.length > 2) {
          this.querySelections(newValue);
          this.hideNoData = false;
        }
      } else {
        this.items = [];
        this.hideNoData = true;
      }
    },
    current(newValue) {
      if (newValue.country) {
        this.getSelections(newValue.country);
      }
    },
    // Soluciona error del menu activado cuando el v-autocomplete no lo está
    autofocus(newValue) {
      if (!newValue) {
        this.$refs.searcher.$children[1].isActive = false;
      }
    },
  },
  methods: {
    validateString(string) {
      if (
        string != "" &&
        string.match(
          /[<|>|\.|\/|:|;|"|\u0027|{|\[|}|\]|\||\\|~|@|#|\$|%|\^|&|\*|\(|\)|_|\+|=]+/
        ) != null
      ) {
        return false;
      }
      return true;
    },
    isExternal(link) {
      return this.isPwa ? /^(https?:|http?:|mailto:|tel:)/.test(link) : true;
    },
    handleLink(link) {
      if (this.isExternal(link) && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    getProjectLink(item) {
      let link = item.project_title;
      if (item.item_type == "project") {
        link = `/projects/${item.category_title}/${item.project_title}?original=true`;
      }
      if (item.item_type == "nft") {
        link = `${item.project_title}?original=true`;
      }
      return link;
    },
    clearSearch() {
      this.search = null;
      this.items = [];
      this.hideNoData = true;
      this.handleSearch(this.search);
      this.$emit("closeSearcher");
    },
    querySelections(query) {
      if (this.projects) {
        // Elimina los acentos y signos diacríticos
        let itemsFiltered = this.projects.filter((e) => {
          return (
            e.project_name
              .normalize("NFD")
              .replace(/[\u0300-\u036f]/g, "")
              .toLowerCase()
              .includes(
                query
                  .normalize("NFD")
                  .replace(/[\u0300-\u036f]/g, "")
                  .toLowerCase()
              ) ||
            (e.project_currency &&
              e.project_currency.toLowerCase().includes(query.toLowerCase()))
          );
        });

        // remove category 120 economia real
        itemsFiltered = itemsFiltered.filter((item) => {
          return (
              !this.isOldUser ? item.category_type != "negocios" : item
          );
        });

        this.items = itemsFiltered.sort((itemA, itemB) => {
          const a = itemA.project_name.toLowerCase().replace(/[^a-zA-Z ]/g, "");
          const b = itemB.project_name.toLowerCase().replace(/[^a-zA-Z ]/g, "");
          if (a > b) return 1;
          if (a < b) return -1;
          // a must be equal to b
          return 0;
        });
      }
    },
    getSelections(country) {
      Axios.get(
        process.env.VUE_APP_API_BASE_URL +
          process.env.VUE_APP_API_VERSION_URL +
          "/home/search?country=" +
          country
      )
        .then((resp) => {
          if (resp.data != null) {
            this.projects = resp.data;
          }
        })
        .catch(function (e) {
          console.log(e);
        });
    },
    nameKeydown(e) {
      if (
        /[<|>|\.|\/|:|;|"|\u0027|{|\[|}|\]|\||\\|~|@|#|\$|%|\^|&|\*|\(|\)|_|\+|=]+/.test(
          e.key
        )
      ) {
        e.preventDefault();
      }
    },
    handleSearch(newValue) {
      this.$emit("handleSearch", newValue && newValue.length > 2);
    },
  },
  mounted() {
    this.getSelections(this.country);
  },
};
</script>

<style lang="scss" scoped>
// Reduce el tamaño del icono clearable
::v-deep .v-input__icon--clear .mdi-close {
  font-size: 20px !important;
}
// Cambia los colores de los hover y selected del listado
::v-deep .theme--light.v-list-item:hover::before {
  opacity: 0.1 !important;
  background-color: #6400b4 !important;
}

// Ripple class: cuando se presiona el item
::v-deep .ripple-class {
  &__light {
    opacity: 0.2 !important;
    background-color: #6400b4 !important;
  }
  &__dark {
    opacity: 0.2 !important;
    background-color: #00faaa !important;
  }
}

// Item activado
::v-deep .theme--light.v-list-item--active {
  color: black !important;
}

::v-deep .theme--light.v-list-item--link::before {
  background-color: #6400b4 !important;
}

::v-deep .theme--light.v-list-item--active:hover::before,
::v-deep .theme--light.v-list-item--active::before {
  opacity: 0.2 !important;
}

::v-deep .theme--dark.v-list-item--active {
  color: white !important;
}

::v-deep .theme--dark.v-list-item--link::before {
  background-color: #00faaa !important;
}

::v-deep .theme--dark.v-list-item--active:hover::before,
::v-deep .theme--dark.v-list-item--active::before {
  opacity: 0.2 !important;
}

.active-chip {
  background-color: var(--v-secondary-base) !important;
  color: white !important;
}
.v-chip:not(.v-chip--active) {
  border: 1px solid #6400ba !important;
  color: #6400ba !important;
  background: transparent !important;
}
</style>