<i18n src="../locales/megamenu.json"></i18n>

<template>
  <div>
    <v-menu
      transition="slide-y-transition"
      rounded="0"
      min-width="250"
      bottom
      offset-y
    >
      <template v-slot:activator="{ on, value }">
        <v-btn
          color="transparent"
          class="elevation-0"
          :ripple="false"
          v-on="on"
        >
          <v-avatar size="36">
            <v-img
              v-if="current.photo"
              :src="current.photo"
              :alt="current.alias"
              cover
            />
            <v-icon v-else size="40" color="primary">mdi-account-circle</v-icon>
          </v-avatar>
          <v-icon data-test-chevron class="ml-1" :style="rotateIcon(value)">
            mdi-chevron-down
          </v-icon>
        </v-btn>
      </template>
      <template>
        <v-list class="pa-0" dense>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title
                class="textBreak font-weight-bold text-subtitle-1"
              >
                {{ current.firstname }} {{ current.lastname }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <template v-for="item in userListItems">
            <template v-if="hasExecutive(item.title)"></template>
            <v-list-item
              v-else
              :key="item.title"
              :href="!isPwa ? handleLink(item.link) : undefined"
              :to="isPwa ? item.link : undefined"
              @click="hideDrawer()"
            >
              <v-list-item-content class="user-list-item">
                <v-list-item-title
                  class="text-subtitle-2"
                  :class="{
                    'font-weight-bold': item.title == 'userMenu.my_executive',
                  }"
                >
                  {{ $t(item.title) }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-list>
      </template>
      <v-container class="white">
        <div class="px-4">
          <v-btn
            data-test-logout
            depressed
            color="grey lighten-2 mt-2 mb-3"
            @click="callLogout()"
            block
            >{{ $t("logout") }}</v-btn
          >
        </div>
      </v-container>
    </v-menu>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "UserMenu",
  props: {
    userListItems: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapState("user", ["isLoggedIn", "current"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
  },
  methods: {
    ...mapActions("user", ["logout"]),
    ...mapActions("megamenu", ["hideDrawer"]),
    callLogout() {
      this.$intercom.shutdown();
      this.$emit("logout");
      this.logout();
      this.$router.push("/");
    },
    handleLink(link) {
      if (!this.isPwa && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    hasExecutive(title) {
      // Devuelve true si el usuario NO tiene ejecutivo
      return (
        title == "userMenu.my_executive" &&
        this.current.newsletter_support_type != 2
      );
    },
    rotateIcon(value) {
      const rotate = value ? "180" : "0";
      return `transform: rotate(${rotate}deg); transition: transform 0.5s;`;
    },
  },
};
</script>

<style lang="scss" scoped>
// Oculta background del botón del navbar
::v-deep.v-btn {
  &:before {
    background: transparent !important;
  }
}

div[role="menu"] {
  margin-top: 21px;
  box-shadow: -10px 9px 21px 0 rgba(128, 152, 213, 0.07);

  .v-list {
    padding: 0;

    .v-list-item {
      padding-left: 24px;
      padding-right: 24px;

      .user-list-item {
        min-height: 48px;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      }

      &:last-child {
        .user-list-item {
          border-bottom: none;
        }
      }
    }
  }
}
</style>
