<i18n>
  {
    "es": {
      "profile": {
        "label": "Perfil",
        "options": {
          "personal_information": "Información Personal",
          "security": "Seguridad",
          "documentation": "Documentación",
          "bank_data": "Cuentas de Retiros",
          "wallet_data": "Mis Billeteras",
          "my_executive": "Mi ejecutivo",
          "summaries": "Resúmenes"
        }
      }
    },
    "en": {
      "profile": {
        "label": "Profile",
        "options": {
          "personal_information": "Personal Information",
          "security": "Security",
          "documentation": "Documentation",
          "bank_data": "Bank Data",
          "wallet_data": "Wallet Data",
          "my_executive": "My executive",
          "summaries": "Summaries"
        }
      }
    }
  }
</i18n>

<template>
  <div>
    <template v-for="item in listItems">
      <template
        v-if="
          item.title == 'profile.options.my_executive' &&
          current.newsletter_support_type != 2
        "
      >
      </template>
      <template v-else>
        <v-list-item
          :key="item.title"
          :href="!isPwa ? handleLink(item.route) : undefined"
          :to="isPwa ? item.route : undefined"
          @click="hideDrawer()"
          :disabled="item.hasOwnProperty('route') ? false : true"
        >
          <div class="d-flex user-list-item">
            <v-list-item-content>
              <v-list-item-title
                class="body-15"
                :class="[item.class ? item.class : '']"
                >{{ $t(item.title) }}</v-list-item-title
              >
            </v-list-item-content>
          </div>
        </v-list-item>
      </template>
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("user", ["current"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
    listItems() {
      return [
        {
          title: "profile.options.my_executive",
          route: "/executive",
          class: "font-weight-bold",
        },
        {
          title: "profile.options.personal_information",
          route: "/user/information",
        },
        { title: "profile.options.security", route: "/user/security" },
        {
          title: "profile.options.documentation",
          route: "/user/documentation",
        },
        { title: "profile.options.bank_data", route: "/user/bank_data" },
        { title: "profile.options.wallet_data", route: "/user/wallet_data" },
      ];
    },
  },
  methods: {
    ...mapActions("megamenu", ["hideDrawer"]),
    handleLink(link) {
      if (!this.isPwa && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
  },
};
</script>

<style lang="scss" scoped>
.v-list-item {
  .user-list-item {
    min-height: 48px;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }

  &:last-child {
    .user-list-item {
      border-bottom: none;
    }
  }
}
</style>
