<i18n src="./locales/megamenu.json"></i18n>

<template>
  <v-app-bar
    fixed
    app
    class="px-0 elevation-0"
    color="#41ffaf"
    height="78px"
    style="z-index: 100"
  >
    <Wrapper
      layoutWidth="100%"
      containerWidth="100%"
      mainContainerClass="bgGreen"
      marginInner="mx-4 d-flex align-center"
    >
      <template slot="content">
        <v-container class="d-flex width100 height100 pa-0">
          <v-row no-gutters>
            <v-col class="d-flex align-center">
              <v-toolbar-title class="ml-0 pl-0 d-flex align-center">
                <!-- Drawer: solo para usuarios logueados y version mobile -->
                <v-app-bar-nav-icon
                  v-if="!isFull && !isLg()"
                  id="btnDrawer"
                  class="mr-1 included"
                  @click.stop="showDrawer()"
                ></v-app-bar-nav-icon>

                <!-- Logo: para desktop -->
                <template v-if="isMdLg()">
                  <RouterLink v-if="isPwa" to="/">
                    <v-img
                      contain
                      src="../../assets/img/new-logos/new_logo_black.svg"
                      :width="!isLg() ? '140px' : 'auto'"
                      height="45px"
                    />
                  </RouterLink>
                  <a v-else :href="pwaUrl">
                    <v-img
                      contain
                      src="../../assets/img/new-logos/new_logo_black.svg"
                      :width="!isLg() ? '140px' : 'auto'"
                      height="45px"
                    />
                  </a>
                </template>
              </v-toolbar-title>
            </v-col>

            <!-- Logo: para mobile y tablet -->
            <v-col v-if="$vuetify.breakpoint.smAndDown">
              <v-toolbar-items class="d-flex align-center justify-center">
                <RouterLink v-if="isPwa" to="/">
                  <v-img
                    contain
                    src="../../assets/img/new-logos/new_logo_black.svg"
                    width="120px"
                    height="40px"
                  />
                </RouterLink>
                <a v-else :href="pwaUrl">
                  <v-img
                    contain
                    src="../../assets/img/new-logos/new_logo_black.svg"
                    width="120px"
                    height="40px"
                  />
                </a>
              </v-toolbar-items>
            </v-col>

            <!-- Buscador Desktop: solo para MD -->
            <template v-if="$vuetify.breakpoint.md">
              <v-col>
                <v-toolbar-items
                  class="d-flex align-center justify-center"
                  style="min-width: 390px"
                >
                  <Search style="width: 492px" />
                </v-toolbar-items>
              </v-col>
            </template>

            <!-- Megamenu: items -->
            <v-col v-if="isLg()">
              <v-toolbar-items
                class="d-flex align-center justify-center"
                @mouseleave="expandMenu = false"
              >
                <template v-for="(navLink, index) in navItems">
                  <div
                    class="dropdown"
                    :class="{ 'dropdown-200': navItems.length < 5 }"
                    :key="index"
                  >
                    <v-btn
                      text
                      color="black"
                      class="dropbtn justify-start"
                      tile
                      block
                      :id="`data-test-nav-${index}`"
                      @click="expandMenu = !expandMenu"
                    >
                      {{ navLink.title }}
                    </v-btn>
                    <v-slide-y-transition>
                      <v-list
                        v-show="expandMenu"
                        class="dropdown-content py-0"
                        dark
                      >
                        <v-list-item-group>
                          <template v-for="(item, indexItem) in navLink.items">
                            <v-list-item
                              v-if="!item.hasOwnProperty('show') || item.show"
                              :key="item.title"
                              :href="
                                isExternal(item.link)
                                  ? handleLink(item.link)
                                  : undefined
                              "
                              :to="
                                !isExternal(item.link) ? item.link : undefined
                              "
                              :id="`data-test-nav-item-${indexItem}`"
                              @click="expandMenu = false"
                              :disabled="item.link == '#'"
                            >
                              <v-list-item-content>
                                <v-list-item-subtitle v-if="item.comingSoon">
                                  <v-chip color="#6b696d" dark x-small>
                                    {{ $t("tagCommingSoon") }}
                                  </v-chip>
                                </v-list-item-subtitle>
                                <v-list-item-subtitle v-if="item.new">
                                  <v-chip color="secondary" x-small>
                                    {{ $t("tagNew") }}
                                  </v-chip>
                                </v-list-item-subtitle>
                                <v-list-item-title>{{
                                  item.title
                                }}</v-list-item-title>
                              </v-list-item-content>
                            </v-list-item>
                          </template>
                        </v-list-item-group>
                      </v-list>
                    </v-slide-y-transition>
                  </div>
                </template>
                <v-slide-y-transition v-if="isLoggedIn">
                  <Wrapper
                    v-show="expandMenu && !showSearchInput"
                    mainContainerClass="megamenu"
                    layoutWidth="1266px"
                    containerWidth="100%"
                    @mouseleave="expandMenu = false"
                  >
                    <template slot="content">
                      <div
                        class="d-flex justify-space-between"
                        style="height: 100%; width: 100%"
                      >
                        <div class="menu-banner">
                          <LeftBanner @closeMegamenu="expandMenu = false" />
                        </div>
                        <div class="menu-banner">
                          <RightBanner @closeMegamenu="expandMenu = false" />
                        </div>
                      </div>
                    </template>
                  </Wrapper>
                </v-slide-y-transition>
              </v-toolbar-items>
            </v-col>

            <v-col>
              <v-toolbar-items class="d-flex align-center justify-end">
                <!-- Botón Search -->
                <div v-if="isLg()">
                  <v-btn
                    class="included"
                    color="black"
                    icon
                    @click="showSearchInput = !showSearchInput"
                  >
                    <v-icon v-if="!showSearchInput">mdi-magnify</v-icon>
                    <v-icon v-else>mdi-close</v-icon>
                  </v-btn>
                  <v-scroll-y-transition>
                    <Wrapper
                      v-show="showSearchInput"
                      mainContainerClass="searchInput"
                      v-click-outside="{
                        handler: onClickOutside,
                        include: include,
                      }"
                    >
                      <template slot="content">
                        <v-container class="pa-0">
                          <Search
                            :autofocus="showSearchInput"
                            @handleSearch="searchMenuActive = $event"
                            @closeSearcher="onClickOutside"
                          />
                        </v-container>
                      </template>
                    </Wrapper>
                  </v-scroll-y-transition>
                </div>

                <!-- Botón ayuda -->
                <div v-if="isLg()">
                  <v-btn icon color="black" :href="helpCenter">
                    <v-icon>mdi-help-circle-outline</v-icon>
                  </v-btn>
                </div>

                <!-- Botón Ejecutivo/a -->
                <div v-if="!isLoggedIn && isLg()">
                  <v-btn
                    @click="setShowHideContactDialog(true)"
                    icon
                    color="black"
                    class="ml-1"
                  >
                    <v-icon>mdi-message-text</v-icon>
                  </v-btn>
                </div>

                <!-- Notificaciones -->
                <UiNotifications />

                <!-- Botón de logout -->
                <div v-if="isLoggedIn && isLg()">
                  <v-btn
                    color="black"
                    icon
                    @click="callLogout()"
                    data-test-logout
                  >
                    <v-icon>mdi-power-standby</v-icon>
                  </v-btn>
                </div>

                <LoginButton />
              </v-toolbar-items>
            </v-col>
          </v-row>
        </v-container>
      </template>
    </Wrapper>
    <DrawerPanel
      v-if="!isFull && !isLg()"
      v-model="drawerStatus"
      :nav-items="navItems"
      v-click-outside="{
        handler: hideDrawer,
        include: include,
      }"
    ></DrawerPanel>
  </v-app-bar>
</template>
<script>
import store from "./store";
import { mapState, mapActions, mapGetters } from "vuex";
import Wrapper from "../core/Wrapper";
import Search from "./components/Search";
import RightBanner from "./components/RightBanner";
import LeftBanner from "./components/LeftBanner";
import DrawerPanel from "./components/DrawerPanel";
import UiNotifications from "../notification/index";
import LoginButton from "./components/LoginButton";

export default {
  components: {
    Search,
    RightBanner,
    LeftBanner,
    Wrapper,
    DrawerPanel,
    UiNotifications,
    LoginButton,
  },
  props: {
    isFull: {
      type: Boolean,
      default: false,
    },
    isPwa: {
      type: Boolean,
      default: false,
    },
    pwaUrl: {
      type: String,
      default: process.env.VUE_APP_MAIN_PWA_URL,
    },
  },
  data() {
    return {
      showSearchInput: false,
      expandMenu: false,
      drawerStatus: false,
      currentScrollY: 0,
      searchMenuActive: false,
    };
  },
  computed: {
    ...mapState("user", ["isLoggedIn", "current"]),
    ...mapGetters("user", ["isOldUser"]),
    ...mapState("core", ["country"]),
    ...mapState("megamenu", ["drawer"]),
    getLogoByDomain() {
      let domain = this.getDomain();
      let logo = require("../../assets/img/new-logos/new_logo_black.svg");
      if (domain.includes("sesocia.com")) {
        logo = require("../../assets/img/new-logos/new_logo_black.svg");
      }
      return logo;
    },
    helpCenter() {
      return process.env.VUE_APP_HELPCENTER_BASE_URL;
    },
    navItems() {
      let items = this.baseItems.map((item) => {
        if (item.items) {
          item.items = item.items.filter((subitem) => {
            if (!subitem.allow && !subitem.notAllow) {
              return subitem;
            } else if (
              subitem.notAllow &&
              !subitem.notAllow.includes(this.country)
            ) {
              return subitem;
            } else if (subitem.allow && subitem.allow.includes(this.country)) {
              return subitem;
            }
          });
        }
        return item;
      });

      return items.filter((it) => it.show && it.items.length);
    },
    baseItems() {
      return [
        {
          title: "Mi cuenta",
          show: this.isLoggedIn,
          items: [
            {
              title: "Dashboard",
              link: "/dashboard",
              new: false,
              comingSoon: false,
            },
            {
              title: "Mi perfil",
              link: "/user/information",
              new: false,
              comingSoon: false,
            },
            {
              title: "Portfolio",
              link: "/portfolio",
              new: false,
              comingSoon: false,
            },
            {
              title: "Mis NFTs",
              link: "/mis-nft",
              new: true,
              comingSoon: false,
            },
            {
              title: "Movimientos",
              link: "/movements",
              new: false,
              comingSoon: false,
            },
          ],
        },
        {
          title: "Inversiones",
          show: true,
          items: [
            {
              title: "NFTs",
              link: "/nft",
              new: true,
              comingSoon: false,
            },
            {
              title: "Criptomonedas",
              link: "/criptomonedas",
              new: false,
              comingSoon: false,
            },
            {
              title: "Negocios DeFi",
              link: "/projects",
              show: this.isOldUser,
              new: false,
              comingSoon: false,
            },
            {
              title: "Oportunidades Cripto",
              link: "/crypto-opportunities",
              new: false,
              comingSoon: false,
            },
            {
              title: "Trading",
              link: "/tradings",
              show: this.isOldUser,
              new: false,
              comingSoon: false,
            },
            {
              title: "Financiados",
              link: "/successful_projects",
              show: this.isOldUser,
              new: false,
              comingSoon: false,
            },
            {
              title: "Negocios en CLPS",
              link: "/clps_projects",
              show: this.isOldUser,
              new: false,
              comingSoon: false,
            },
          ],
        },
        {
          title: "Productos",
          show: true,
          items: [
            {
              title: "Tarjetas",
              link: this.prepaidCardUrl,
              new: false,
              comingSoon: false,
              allow: ["AR"],
            },
            {
              title: "Pago de servicios",
              link: process.env.VUE_APP_PAYMENTSERVICES_BASE_URL,
              new: false,
              comingSoon: false,
              allow: ["AR"],
              // notAllow: ["CL", "PE", "MX", "CO"],
            },
            {
              title: "Recargas",
              link:
                process.env.VUE_APP_PAYMENTSERVICES_BASE_URL +
                "/recharge-finder",
              new: false,
              comingSoon: false,
              allow: ["AR"],
              // notAllow: ["CL", "PE", "MX", "CO"],
            },
            {
              title: "Asistencias",
              link: process.env.VUE_APP_ASSISTANCE_BASE_URL,
              new: false,
              comingSoon: false,
              allow: ["AR"],
              // notAllow: ["CL", "PE", "MX", "CO"],
            },
            /*{
              title: "Seguros",
              link: process.env.VUE_APP_VUE_APP_INSURANCE_BASE_URL,
              new: false,
              comingSoon: false,
              allow: ["AR"],
              // notAllow: ["CL", "PE", "MX", "CO"],
            },*/
          ],
        },
        {
          title: "Comunidad",
          show: true,
          items: [
            {
              title: "S-Cool",
              link: "/s-cool",
              new: false,
              comingSoon: false,
            },
            {
              title: "Referidos",
              link: "/referidos",
              new: false,
              comingSoon: false,
            },
            {
              title: "SocioGift",
              link: "/giftcard",
              new: true,
              comingSoon: false,
            },
            {
              title: "Ranking red social",
              link: "/ranking",
              new: false,
              comingSoon: false,
            },
            {
              title: "Donaciones",
              link: "/donaciones",
              new: false,
              comingSoon: false,
            },
            /*{
              title: "Programa rewards",
              link: "#",
              new: false,
              comingSoon: true,
            },*/
          ],
        },
        {
          title: "Novedades",
          show: true,
          items: [
            {
              title: "SeSocio News",
              link: "/articles",
              new: false,
              comingSoon: false,
            },
            {
              title: "Notificaciones",
              link: "/user/news",
              new: false,
              comingSoon: false,
            },
            /*{ title: "Votaciones", link: "#", new: false, comingSoon: true },*/
          ],
        },
      ];
    },
    prepaidCardUrl() {
      const cardUrl = process.env.VUE_APP_CARD_BASE_URL;
      return this.current?.has_prepaid_card ? `${cardUrl}/my-card` : cardUrl;
    },
  },
  methods: {
    ...mapActions("core", ["setShowHideContactDialog"]),
    ...mapActions("megamenu", ["showDrawer", "hideDrawer"]),
    ...mapActions("user", ["logout"]),
    isLg() {
      return this.$vuetify.breakpoint.lgAndUp;
    },
    isMdLg() {
      return this.$vuetify.breakpoint.mdAndUp;
    },
    isSmAndUp() {
      return this.$vuetify.breakpoint.smAndUp;
    },
    onClickOutside() {
      this.showSearchInput = false;
    },
    include() {
      // Convierte el querySelectorAll (DOM NodeList) en un array.
      return Array.prototype.slice.call(document.querySelectorAll(".included"));
    },
    isExternalLink(path) {
      return /^(https?:|http?:|mailto:|tel:)/.test(path);
    },
    getDomain() {
      return window.location.hostname;
    },
    isExternal(link) {
      if (this.isPwa) {
        if (this.isExternalLink(link)) {
          return true;
        }
        return false;
      }
      return true;
    },
    handleLink(link) {
      if (this.isExternal(link) && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
    handleScroll() {
      this.currentScrollY = window.scrollY;
    },
    callLogout() {
      this.$intercom.shutdown();
      this.$emit("logout");
      this.logout();
      this.$router.push("/");
    },
  },
  watch: {
    drawer(newValue) {
      this.drawerStatus = newValue;
    },
    expandMenu(newValue) {
      if (newValue) {
        this.showSearchInput = false;
      }
    },
    currentScrollY(newValue) {
      if (newValue > 100 && !this.searchMenuActive) {
        this.showSearchInput = false;
        this.expandMenu = false;
      }
    },
    searchMenuActive(newValue) {
      // Cuando el menu del buscador esta activo, deshabilita el overflow del body
      if (newValue) {
        document.documentElement.style.overflow = "hidden";
      } else {
        document.documentElement.style.overflow = "auto";
      }
    },
  },
  beforeCreate() {
    if (!this.$store.hasModule("megamenu")) {
      this.$store.registerModule("megamenu", store);
    }
  },
  created() {
    this.$store.commit("megamenu/SET_IS_PWA", this.isPwa);
    this.$store.commit("megamenu/SET_PWA_URL", this.pwaUrl);
    // Crea evento de scroll
    window.addEventListener("scroll", this.handleScroll);
  },
  bedoreDestroy() {
    // Elimina evento de scroll
    window.removeEventListener("scroll", this.handleScroll);
  },
};
</script>

<style lang="scss" scoped>
::v-deep .v-toolbar__content {
  padding: 0 !important;
}

.v-toolbar__items {
  height: 100%;
}
.v-toolbar__items > .v-btn.h36px {
  height: 36px !important;
  min-height: 36px !important;
  max-height: 36px !important;
}
::v-deep .v-image.logo-mobile .v-image__image {
  background-position: left !important;
  background-size: 104px;
  width: 35px;
}

/* Megamenu */
.megamenu {
  background-color: black;
  height: 400px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;

  & .menu-banner {
    padding-top: 10px;
    width: 165px;
  }
}

.searchInput {
  position: absolute;
  height: 60px;
  top: 100%;
  left: 0;
  background-color: #41ffaf;
}

.dropdown {
  width: 150px;

  &:hover .dropdown-content {
    display: block;
    & .v-list-item-group {
      background-color: rgb(7, 26, 18) !important;
    }
  }
}

.dropdown-200 {
  width: 200px !important;

  .dropdown-content {
    width: 200px !important;
  }
}

.dropbtn,
.dropdown {
  height: 100% !important;
}

.dropdown:hover .dropbtn {
  border-bottom: 5px var(--v-secondary-base) solid;
}

.dropdown-content {
  position: absolute;
  width: 150px;
  min-height: 378px;
  padding-left: 0;
  background-color: black !important;

  .v-list-item-group .v-list-item {
    height: 54px;

    &:not(:last-child):after {
      content: "";
      position: absolute;
      border-bottom: 1px dashed gray;
      width: 90%;
      bottom: 0;
      left: 5%;
      right: 5%;
    }

    &.v-list-item--active {
      color: #ffffff;
    }
  }

  ::v-deep .v-list-item__title {
    font-size: 13px;
    white-space: normal;
  }
}
</style>