<i18n src="../locales/security.json"></i18n>
<template>
  <v-layout class="d-flex flex-column">

    <v-flex class="d-flex flex-row">
      <p class="mb-1" style="text-transform: capitalize;">
        Contraseña
      </p>
    </v-flex>

    <v-flex class="d-flex justify-space-between flex-row mb-0 container-input-method">
        <v-text-field
          v-model="password"
          type="password"
          outlined
          dense
          :readonly="validPassword"
        >
          <template v-slot:append>
            <v-icon v-if="attempts && !validPassword && !validatingPassword" color="red">mdi-close-circle</v-icon>
            <v-icon v-if="attempts && validPassword && !validatingPassword" color="green">mdi-check-circle</v-icon>
          </template>
        </v-text-field>
        <v-btn
          v-if="!validPassword"
          @click="verifyPassword()"
          class="ml-2 btn-method"
          outlined
          color="primary"
        >
          <v-progress-circular v-if="validatingPassword" :size="25" color="green" indeterminate></v-progress-circular>
          Enviar
        </v-btn>
    </v-flex>

    <v-flex class="d-flex flex-row mt-0">
        <p class="mt-0 hint-method">
          <!-- {{
            method == 'email'
            ? $t('hint_email',{ email: current.email })
            : $t('hint_sms',{ phone: current.phone })
          }} -->
        </p>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Axios from 'axios';

export default {
  name: "AuthMethod",

  data() {
    return {
      url: process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/security/",
      method: 'auth',
      password: '',
      passwordSended: false,
      validPassword: false,
      validatingPassword: false,
      timeRemaining: 0,
      attempts: 0,
      token: null,
    }
  },

  computed: {
    ...mapState("user", ["current"]),

    tokenStorageKey() {
      return `${this.method}SecurityToken`;
    }
  },

  methods: {

    async verifyPassword() {
      this.validatingPassword = true;
      this.attempts++;
      try {
        let response = await Axios.post(this.url + "verify_auth", {
          password: this.password
        });
        this.validPassword = response.status == 200;
        this.token = response.data;
        this.validatingPassword = false;
      } catch (error) {
        this.validPassword = false;
        this.validatingPassword = false;
      }
    },

    initializeTimer() {
      this.timeRemaining = 300;
    },

    processTimer() {
      if (this.timeRemaining <= 0) {
        this.timeRemaining = 0;
        return false;
      }

      setTimeout(() => {
        this.timeRemaining = this.timeRemaining - 1;
        this.processTimer();
      }, 1000);
    },

    verificationExpired() {
      this.validPassword = false;
      this.passwordSended = false;
    }

  },

  watch: {
    passwordSended(value) {
      if (this.passwordSended) {
        this.initializeTimer();
        this.processTimer();
      }
    },

    timeRemaining() {
      this.passwordSended = this.timeRemaining > 0;
    },

    validPassword() {
      if (this.validPassword) {
        setTimeout(() => this.verificationExpired(), 600000)
      }

      this.timeRemaining = 0;
      this.$emit('verified', {
        method: this.method,
        status: this.validPassword
      });
    },

    token() {
      if (null === this.token) {
        return;
      }

      localStorage.removeItem(this.tokenStorageKey);
      localStorage.setItem(this.tokenStorageKey, this.token);
    }
  },

}
</script>

<style lang="postcss" scoped>
  .container-input-method {
    height: 45px !important;
  }

  .btn-method {
    height: 40px !important;
    min-width: 120px !important;
  }

  .hint-method {
    color: #424242; font-size: 13px;
  }
</style>