<i18n src="../locales/security.json"></i18n>
<template>
  <v-layout class="d-flex flex-column">
    <v-flex class="d-flex flex-row">
      <p class="mb-1 d-flex flex-row" style="text-transform: capitalize;">
        <v-img width="24" style="margin-right: 5px;" src="https://sesocio.s3.amazonaws.com/images/icons/google-authenticator-icon.png"></v-img>
        Google
      </p>
    </v-flex>
    
    <v-flex class="d-flex justify-space-between flex-row mb-0 container-input-method">
        <v-text-field 
          v-model="code"
          outlined 
          dense
          :readonly="codeValidated"
        >
          <template v-if="codeValidated" v-slot:append>
            <v-icon color="green">mdi-check-circle</v-icon>
          </template>
          <template v-else-if="verifyingCode" v-slot:append>
            <v-progress-circular :size="25" color="green" indeterminate></v-progress-circular>
          </template>
          <template v-else-if="attempts" v-slot:append>
            <v-icon color="red">mdi-close-circle</v-icon>
          </template>
        </v-text-field>
    </v-flex>

    <v-flex class="d-flex flex-row mt-0">
        <p class="mt-0 hint-method">
          {{ $t('hint_google') }}
        </p>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Axios from 'axios';

export default {
  name: "GoogleMethod",

  data() {
    return {
      url: process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/security/",
      method: 'google',
      code: '',
      codeValidated: false,
      verifyingCode: false,
      timeRemaining: 0,
      attempts: 0,
      token: null
    }
  },

  computed: {
    ...mapState("user", ["current"]),
    icon() {
      let icon = '';
      switch (this.method) {
        case 'email':
          icon = 'mdi-email'
          break;
        case 'sms':
          icon = 'mdi-message-text'
        default:
          icon= 'mdi-message-text'
          break;
      }
      return icon;
    },
    tokenStorageKey() {
      return `${this.method}SecurityToken`;
    }
  },

  methods: {

    async verifyCode() {
      this.verifyingCode = true;
      this.attempts++;      
      try {
        let response = await Axios.post(this.url + "verify_" + this.method + "_code", {
          code: this.code
        });
        this.codeValidated = response.status == 200;
        this.token = response.data;
        this.verifyingCode = false;
      } catch (error) {
        this.codeValidated = false;
        this.verifyingCode = false;
      }
    },

    initializeTimer() {
      this.timeRemaining = 300;
    },

    processTimer() {
      if (this.timeRemaining <= 0) {
        this.timeRemaining = 0;
        return false;
      }     

      setTimeout(() => {
        this.timeRemaining = this.timeRemaining - 1;
        this.processTimer();
      }, 1000);
    },

  },

  watch: {

    code() {
      if (this.code.length == 6) {
        this.verifyCode();
      }
    },

    codeValidated() {
      this.$emit('verified', {
        method: this.method,
        status: this.codeValidated
      });
    },

    token() {
      if (null === this.token) {
        return;
      }

      localStorage.removeItem(this.tokenStorageKey);
      localStorage.setItem(this.tokenStorageKey, this.token);
    }
  }
}
</script>

<style lang="postcss" scoped>
  .icon-method {
    font-size: 18px;
  }

  .container-input-method {
    height: 45px !important;
  }

  .btn-method {
    height: 40px !important; 
    min-width: 120px !important;
  }

  .hint-method {
    color: #424242; font-size: 13px;
  }
</style>