<i18n src="../locales/security.json"></i18n>
<template>
  <v-layout class="d-flex flex-column">
    <v-flex class="d-flex flex-row">
      <v-icon style="font-size: 24px;" class="icon-method mt-0 mb-1 mr-1">{{ icon }}</v-icon>
      <p class="mb-1" style="text-transform: capitalize;">
        {{ method }}
      </p>
    </v-flex>
    
    <v-flex class="d-flex justify-space-between flex-row mb-0 container-input-method">
        <v-text-field 
          v-model="code"
          outlined 
          dense
          :readonly="codeValidated"
        >
          <template v-if="codeValidated" v-slot:append>
            <v-icon color="green">mdi-check-circle</v-icon>
          </template>
          <template v-else-if="verifyingCode" v-slot:append>
            <v-progress-circular :size="25" color="green" indeterminate></v-progress-circular>
          </template>
          <template v-else-if="attempts" v-slot:append>
            <v-icon color="red">mdi-close-circle</v-icon>
          </template>
        </v-text-field>
        <v-btn
          v-if="!codeValidated"
          :disabled="sendingCode || codeSended"
          @click="sendCode()" 
          class="ml-2 btn-method" 
          outlined 
          color="primary"
        >
          <v-progress-circular v-if="sendingCode" :size="25" color="green" indeterminate></v-progress-circular>
          <template v-else>
            {{ codeSended ? timeRemaining + 's' : $t('send_code') }}
          </template>
        </v-btn>
    </v-flex>

    <v-flex class="d-flex flex-row mt-0">
        <p class="mt-0 hint-method">
          {{ 
            method == 'email' 
            ? $t('hint_email',{ email: current.email })
            : $t('hint_sms',{ phone: current.phone })
          }}
        </p>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import Axios from 'axios';

export default {
  name: "SecurityMethod",
  props: ['through'],

  data() {
    return {
      url: process.env.VUE_APP_API_BASE_URL + process.env.VUE_APP_API_VERSION_URL + "/security/",
      method: '',
      code: '',
      codeSended: false,
      codeValidated: false,
      sendingCode: false,
      verifyingCode: false,
      timeRemaining: 0,
      attempts: 0,
      token: null
    }
  },

  computed: {
    ...mapState("user", ["current"]),
    
    icon() {
      let icon = '';
      switch (this.method) {
        case 'email':
          icon = 'mdi-email'
          break;
        case 'sms':
          icon = 'mdi-message-text'
        default:
          icon= 'mdi-message-text'
          break;
      }
      return icon;
    },

    tokenStorageKey() {
      return `${this.method}SecurityToken`;
    }
  },

  methods: {
    
    async sendCode() {
      this.sendingCode = true;
      try {
        let response = await Axios.get(this.url + "send_" + this.method + "_code", {});
        this.codeSended = response.status == 200;
        this.sendingCode = false;
      } catch (error) {
        this.codeSended = false;
        this.sendingCode = false;
      }
    },

    async verifyCode() {
      this.verifyingCode = true;
      this.attempts++;      
      try {
        let response = await Axios.post(this.url + "verify_" + this.method + "_code", {
          code: this.code
        });
        this.codeValidated = response.status == 200;
        this.token = response.data;
        this.verifyingCode = false;
      } catch (error) {
        this.codeValidated = false;
        this.verifyingCode = false;
      }
    },

    initializeTimer() {
      this.timeRemaining = 300;
    },

    processTimer() {
      if (this.timeRemaining <= 0) {
        this.timeRemaining = 0;
        return false;
      }     

      setTimeout(() => {
        this.timeRemaining = this.timeRemaining - 1;
        this.processTimer();
      }, 1000);
    },

    verificationExpired() {
      this.codeValidated = false;
      this.codeSended = false;
    }

  },

  watch: {
    
    codeSended(value) {
      if (this.codeSended) {
        this.initializeTimer();
        this.processTimer();
      }      
    },

    code() {
      if (this.code.length == 6) {
        this.verifyCode();
      }
    },

    timeRemaining() {
      this.codeSended = this.timeRemaining > 0;
    },

    codeValidated() {
      if (this.codeValidated) {
        setTimeout(() => this.verificationExpired(), 600000)
      }

      this.timeRemaining = 0;
      this.$emit('verified', {
        method: this.method,
        status: this.codeValidated
      });      
    }, 

    token() {
      if (null === this.token) {
        return;
      }

      localStorage.removeItem(this.tokenStorageKey);
      localStorage.setItem(this.tokenStorageKey, this.token);
    }
  },

  beforeMount() {
    this.method = this.through;
  }
}
</script>

<style lang="postcss" scoped>
  .icon-method {
    font-size: 18px;
  }

  .container-input-method {
    height: 45px !important;
  }

  .btn-method {
    height: 40px !important; 
    min-width: 120px !important;
  }

  .hint-method {
    color: #424242; font-size: 13px;
  }
</style>