<i18n>
{
  "es": {
    "title": "¿Cuál es tu número de celular?",
    "subtitle": "<span class='font-weight-bold'>Por seguridad necesitamos validar tu número</span>, así que tenlo cerca, te enviaremos un código de activación.",
    "skip": "Omitir",
    "continue": "Continuar"
  },
  "es-AR": {
    "title": "¿Cuál es tu número de celular?",
    "subtitle": "<span class='font-weight-bold'>Por seguridad necesitamos validar tu número</span>, así que tenelo cerca, te enviaremos un código de activación.",
    "skip": "Omitir",
    "continue": "Continuar"
  },
  "en": {
    "title": "¿Cuál es tu número de celular?",
    "subtitle": "<span class='font-weight-bold'>Por seguridad necesitamos validar tu número</span>, así que tenlo cerca, te enviaremos un código de activación.",
    "skip": "Omitir",
    "continue": "Continuar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="pt-4"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
          elevation="0"
        >
          <div
            class="pb-8 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-mobile-phone.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
              <p
                class="text-subtitle-2 pl-1 pt-1 my-auto"
                v-html="$t('subtitle')"
              ></p>
            </div>
          </div>
          <show-cell-phone-form
            ref="parent"
            :valid="valid"
            :phone="phone"
          >
          </show-cell-phone-form>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center"
          elevation="0"
        >
          <v-btn
            :disabled="!(valid.form)"
            color="primary"
            class="ma-2 px-16"
            @click="submit()"
            v-text="$t('continue')"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapActions } from 'vuex';

  import ShowCellPhoneForm from './forms/ShowCellPhoneForm';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        valid: {
          form: false,
        },
        phone: {
          number: '',
          valid: false,
          country: undefined,
        },
      };
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "goToStep",
          "nextStep",
          "backStep",
          "updatePhone"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      ...mapActions(
        "snackbar", [
          "showSnackbar"
        ]
      ),
      async submit() {
        this.valid.form = this.$refs.parent.$children[0].validate()

        if (this.valid.form) {
          await this.updatePhone(this.phone.number)
          .then(response => {
            this.toggleShowHideLoaderSpinner();
            this.nextStep();
          })
          .catch(e => {
            this.toggleShowHideLoaderSpinner();
            this.showSnackbar({ message: e.response.data.message });
            console.log(e);
          })
        }
      },
    },
    components: {
      ShowCellPhoneForm
    }
  };
</script>

<style scoped>
</style>
