<i18n>
{
  "es": {
    "title": "Ingresa el código de verificación que te envíamos",
    "subtitle": "Recibirás un SMS al <span class='text-no-wrap font-weight-bold'>{phone}</span>. Ten en cuenta que puede demorar unos minutos.",
    "another_code": "Reenviar el código",
    "edit_phone": "Modificar número",
    "continue": "Continuar"
  },
  "es-AR": {
    "title": "Ingresá el código de verificación que te envíamos",
    "subtitle": "Recibirás un SMS al <span class='text-no-wrap font-weight-bold'>{phone}</span>. Tené en cuenta que puede demorar unos minutos.",
    "another_code": "Reenviar el código",
    "edit_phone": "Modificar número",
    "continue": "Continuar"
  },
  "en": {
    "title": "Ingresá el código de verificación que te envíamos",
    "subtitle": "Recibirás un SMS al <span class='text-no-wrap font-weight-bold'>{phone}</span>. Ten en cuenta que puede demorar unos minutos.",
    "another_code": "Reenviar el código",
    "edit_phone": "Modificar número",
    "continue": "Continuar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="pt-4"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
          elevation="0"
        >
          <div
            class="pb-8 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-mobile-phone.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
              <p
                v-if="isLoggedIn"
                class="text-subtitle-2 pl-1 pt-1 my-auto"
                v-html="$t('subtitle', {'phone': current.phone})"
              ></p>
            </div>
          </div>
          <v-form
            ref="form_one"
          >
            <v-row
              justify="center"
              no-gutters
              class="pb-10"
            >
              <v-col
                cols="12"
                sm="9"
                md="6"
              >
                <v-row
                  justify="center"
                >
                  <v-col
                    v-for="(code, index) in codes"
                    :key="index"
                    cols="2"
                    sm="2"
                    class="text-center pa-1 pa-sm-2"
                  >
                    <input
                      v-model="code.value"
                      outlined
                      @click="selectAll(index)"
                      ref="codes"
                      hide-details
                      @input="moveToNextField($event.target.value, index)"
                      type="tel"
                      class="input-code text-h4 pa-1 pa-sm-2"
                      data-test-codes
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row
              justify="center"
              no-gutters
              class="pt-16"
            >
              <v-col
                cols="12"
                sm="8"
                md="8"
                class="text-center font-weight-black"
              >
                <v-btn
                  text
                  color="primary"
                  :disabled="timeRemaining > 0"
                  @click="sendAnotherCodeButton()"
                  class="text-decoration-underline"
                  v-text="timeRemaining > 0 ? `${$t('another_code')} (${timeRemaining})` : `${$t('another_code')}`"
                  data-test-resend
                ></v-btn>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="px-6 pb-6 text-center"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-10 px-md-16 border-4"
            @click="backStep()"
            v-text="$t('edit_phone')"
            data-test-edit-phone
          ></v-btn>
          <v-btn
            :disabled="!valid"
            color="primary"
            class="ma-2 px-16"
            @click.prevent="submit()"
            v-text="$t('continue')"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        codes: [
          {
            id: "1",
            value: ""
          }, {
            id: "2",
            value: "",
          }, {
            id: "3",
            value: "",
          }, {
            id: "4",
            value: "" ,
          }, {
            id: "5",
            value: "" ,
          }, {
            id: "6",
            value: "" ,
          }
        ],
        max_length: 1,
        rules: {
          required: (v) => !!v || this.$t("errors.required"),
        },
        timeRemaining: 0
      };
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      ...mapState(
        "user", [
          "current",
          "isLoggedIn"
        ]
      ),
      valid(){
        let auxReturn = false;
        for (let i = 0; i < this.codes.length; i++) {
          const code = this.codes[i];
          if (code.value == '') {
            return false;
          }else {
            auxReturn = true;
          }
        }

        return auxReturn;
      },
      code(){
        let auxReturn = ""
        for (let i = 0; i < this.codes.length; i++) {
          auxReturn = auxReturn + this.codes[i].value;
        }

        return auxReturn;
      }
    },
    watch: {
      current_step(value){
        if (value == 4) {
          if (this.current.phone_verification_step == 'phone_verified') {
          }else{
            this.gtm_track_event();
            this.cleanCodes();
            this.sendAnotherCode();
          }
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "backStep",
          "verifyPhoneCode",
          "sendPhoneCode"
        ]
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      ...mapActions(
        "snackbar", [
          "showSnackbar"
        ]
      ),
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'validate-cell-phone-step-04', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      cleanCodes(){
        this.codes[0].value = "";
        this.codes[1].value = "";
        this.codes[2].value = "";
        this.codes[3].value = "";
        this.codes[4].value = "";
        this.codes[5].value = "";
      },
      setCodeTimer(){
        if (this.timeRemaining > 0) {
          setTimeout(() => {
            this.timeRemaining--;
            if (this.timeRemaining > 0) {
              this.setCodeTimer();
            }
          }, 1000);
        }
      },
      sendAnotherCodeButton() {
        this.sendAnotherCode(() => {
          this.showSnackbar({
            type: 'success',
            title: 'El código de confirmación se envió correctamente',
          });
        });
      },
      async sendAnotherCode(callback){
        await this.sendPhoneCode()
        .then(response => {
          this.timeRemaining = process.env.VUE_APP_PHONE_VERIFICATION_CODE_EXPIRES_IN;
          if(callback) callback();
          this.setCodeTimer();
          this.toggleShowHideLoaderSpinner();
        })
        .catch(e => {
          this.toggleShowHideLoaderSpinner();
          if(e.response.status == 422) {
            this.showSnackbar({ message: e.response.data.msg });
          } else {
            this.showSnackbar({ message: 'Lo sentimos, ocurrió un error' });
          }
          console.log(e);
        })
      },
      async submit() {
        if(this.valid) {
          await this.verifyPhoneCode(this.code)
          .then(response => {
            this.toggleShowHideLoaderSpinner();
            this.nextStep();
          })
          .catch(e => {
            this.toggleShowHideLoaderSpinner();
            if(e.response.status == 422) {
              this.showSnackbar({ message: e.response.data.msg });
            } else {
              this.showSnackbar({ message: 'Lo sentimos, ocurrió un error' });
            }
            console.log(e);
          })
        }
      },
      validateLength(value){
        let auxReturn = 0;

        if(value.length <= this.max_length){
          auxReturn = value;
        }else {
          auxReturn = value.substring(0, this.max_length)
        }

        return auxReturn;
      },
      moveToNextField(newValue, index) {
        const nextIndex = index + 1
        this.codes[index].value = this.validateLength(newValue);
        if (nextIndex < this.codes.length) {
          this.$refs.codes[nextIndex].focus()
          this.selectAll(nextIndex);
        }
      },
      selectAll(index){
        this.$refs.codes[index].select();
      }
    }
  };
</script>

<style scoped>
  .input-code{
    width: 100%;
    max-width: 70px;
    height: 80px;
    border: solid 2px rgba(0, 0, 0, .2);
    border-radius: 6px;
    text-align: center;
    color: #000000;
  }
</style>
