<i18n>
{
  "es": {
    "user": {
      "phone": "Celular",
      "country": "País"
    },
    "suggestion": "Con el código de área y sin el 15. <span class='font-weight-bold'>Por ejemplo <span class='text-no-wrap'>11 6123 4444</span></span>",
    "errors": {
      "required": "Requerido"
    }
  },
  "es-AR": {
    "user": {
      "phone": "Celular",
      "country": "País"
    },
    "suggestion": "Con el código de área y sin el 15. <span class='font-weight-bold'>Por ejemplo <span class='text-no-wrap'>11 6123 4444</span></span>",
    "errors": {
      "required": "Requerido"
    }
  },
  "en": {
    "user": {
      "phone": "Cell phone"
    },
    "suggestion": "Con el código de área y sin el 15. <span class='font-weight-bold'>Por ejemplo <span class='text-no-wrap'>11 6123 4444</span></span>",
    "errors": {
      "required": "Required",
      "country": "País"
    }
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid.form"
  >
    <vue-tel-input-vuetify
      v-model="myPhone"
      :preferred-countries="['ar', 'cl', 'co', 'pe', 'mx']"
      :valid-characters-only="true"
      :select-label="$t('user.country')"
      :label="$t('user.phone')"
      :rules="[rules.required]"
      @input="onInput"
      data-test-phone
    >
    </vue-tel-input-vuetify>

    <v-row
      justify="center"
      no-gutters
      class="mb-10"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="text-center caption font-weight-light"
      >
        <v-icon>mdi-alert-outline</v-icon> <span v-html="$t('suggestion')"></span>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import VueTelInputVuetify from '../../../../../../../../../../plugins/vue-tel-input-vuetify/lib/vue-tel-input-vuetify';

  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      phone: {
        type: Object,
        required: true
      }
    },
    data() {
      return {
        myPhone: '',
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
        },
      }
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      ...mapState(
        "user", [
          "current",
          "isLoggedIn"
        ]
      ),
    },
    watch: {
      current_step(value){
        if (value == 3) {
          if (this.current.phone_verification_step == 'phone_verified') {
            this.goToStep(5);
          }else {
            this.gtm_track_event();
          }
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "goToStep",
        ],
      ),
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'activate-cell-phone-step-03', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      onInput(formattedNumber, { number, valid, country }) {
        this.phone.number = number.e164;
        this.phone.valid = valid;
        this.phone.country = country && country.name;
      },
    },
    components: {
      VueTelInputVuetify
    }
  };
</script>

<style scoped>
  
</style>
