<i18n>
{
  "es": {
    "title": "Actualmente {product} no está disponible en tu país.",
    "subtitle": "Muy pronto podrás disfrutar de este producto.",
    "dashboard": "Ir al Dashboard"
  },
  "en": {
    "title": "Actualmente {product} no está disponible en tu país.",
    "subtitle": "Muy pronto podrás disfrutar de este producto.",
    "dashboard": "Ir al Dashboard"
  }
}
</i18n>

<template>
  <Wrapper mainContainerClass="bgTransparent">
    <template slot="content">
      <v-card flat class="mx-auto my-7">
        <v-container class="d-flex justify-center flex-column py-10">
          <div class="text-center black--text">
            <div>
              <v-img eager :src="require('../assets/img/not_available.svg')" max-width="160" class="mx-auto mb-12" />
            </div>
            <div class="title-2 mb-2">{{ $t('title', { product: product }) }}</div>
            <div class="title-1 mb-12">{{ $t('subtitle') }}</div>
            <v-btn large color="primary" class="mx-auto" elevation="0" width="220" :href="link">
              {{ $t('dashboard') }}
            </v-btn>
          </div>
        </v-container>
      </v-card>
    </template>
  </Wrapper>
</template>

<script>
import Wrapper from "./core/Wrapper.vue";

export default {
  props: {
    product: {
      type: String,
      required: true
    },
    link: {
      type: String,
      required: true
    }
  }
}
</script>