<i18n>
{
  "es": {
    "cancel": "Cancelar",
    "continue": "Continuar"
  },
  "es-AR": {
    "cancel": "Cancelar",
    "continue": "Continuar"
  },
  "en": {
    "cancel": "Cancelar",
    "continue": "Continuar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
    ref="parent"
  >
    <v-row
      no-gutters
      class="pt-6"
    >
      <v-col
        cols="12"
        md="6"
        class="border-md-right"
      >
        <form-name-email
          :valid="valid"
          :user="user"
        >
        </form-name-email>
      </v-col>
      <v-col
        cols="12"
        md="6"
        class="pt-6 pt-md-0"
      >
        <form-password
          :valid="valid"
          :user="user"
        >
        </form-password>
      </v-col>
    </v-row>
    <v-row
      no-gutters
      class="pt-6"
    >
      <v-col
        cols="12"
        class="py-2 pt-md-0"
      >
        <form-terms
          :valid="valid"
          :user="user"
        >
        </form-terms>
      </v-col>
    </v-row>

    <v-row
      justify="center"
      class="mt-0"
    >
      <v-col
        cols="12"
        class="mx-auto pt-0"
      >
        <v-card
          class="pa-6 pt-0 text-center"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            @click="!persistent ? closeOnboardingDialog() : openOnboardingDialog()"
            v-text="$t('cancel')"
            data-test-cancel
          ></v-btn>
          <v-btn
            :disabled="!(valid.form_one && valid.form_two && valid.form_three && valid.referral)"
            color="primary"
            class="ma-2 px-16"
            @click="submit()"
            v-text="$t('continue')"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapActions } from 'vuex';

  import FormNameEmail from './forms/FormNameEmail';
  import FormPassword from './forms/FormPassword';
  import FormTerms from './forms/FormTerms';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      },
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        valid: {
          form_one: false,
          form_two: false,
          form_three: false,
          referral: false
        },
        user: {
          firstname: "",
          lastname: "",
          email: "",
          password: '',
          password_confirmation: '',
          referral_code: '',
          terms: false,
          new_onboarding: true
        }
      };
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "backStep",
          "userRegister"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "openOnboardingDialog"
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      ...mapActions(
        "snackbar", [
          "showSnackbar"
        ]
      ),
      async submit() {
        this.valid.form_one = this.$refs.parent.$children[0].$refs.form_one.validate()
        this.valid.form_two = this.$refs.parent.$children[1].$refs.form_two.validate()
        this.valid.referral = this.$refs.parent.$children[1].$refs.form_referral.validate()
        this.valid.form_three = this.$refs.parent.$children[2].$refs.form_three.validate()

        if(this.valid.form_one && this.valid.form_two && this.valid.form_three && this.valid.referral) {
          await this.userRegister(this.user)
          .then(response => {
            this.toggleShowHideLoaderSpinner();
            this.$gtm.trackEvent({
              event: 'register-step-01', // Event type [default = 'interaction'] (Optional)
              category: 'Onboarding',
              action: 'Registro',
              label: this.user.email.toLowerCase().trim(),
              noninteraction: false // Optional
            });

            this.$gtm.trackEvent({
              event: 'login-success-step-01', // Event type [default = 'interaction'] (Optional)
              category: 'Onboarding',
              action: 'Registro',
              label: this.user.email.toLowerCase().trim(),
              noninteraction: false // Optional
            });

            if(this.$store.hasModule("referral")) {
              this.$store.dispatch("referral/clearReferrerCode");
            }

            this.nextStep();
          })
          .catch(e => {
            this.toggleShowHideLoaderSpinner();
            if(e.response.status == 409) {
              this.showSnackbar({ message: e.response.data.message });
            } else{
              this.showSnackbar({ message: e.response.data });
            }
            console.log(e);
          })
        }
      },
    },
    beforeMount() {
      if (this.$route.query.hasOwnProperty("referrer_code")) {
        this.user.referral_code = this.$route.query.referrer_code;
      }

      if (this.$route.name === 'referral' && this.$route.query.hasOwnProperty("c")) {
        this.user.referral_code = this.$route.query.c;
      }

      // Proveniente de la landing de NFT
      if (this.$route.query.hasOwnProperty("nft_email")) {
        this.user.email = this.$route.query.nft_email;
      }
    },
    components: {
      FormNameEmail,
      FormPassword,
      FormTerms
    }
  };
</script>

<style scoped>
  @media (min-width: 1024px){
    .border-md-right{
      border-right: 2px dashed rgba(0, 0, 0, .2) !important;
    }
  }
</style>
