<template>
  <v-overlay
    :z-index="9999999"
    :value="uiSpinner"
  >
    <v-progress-circular
      indeterminate
      size="64"
    ></v-progress-circular>
  </v-overlay>
</template>

<script>
  import store from "./store";
  import { mapState } from "vuex";

  export default {
    created() {
      if(!this.$store.hasModule("ui-spinner")) {
        this.$store.registerModule("ui-spinner", store);
      }
    },
    computed: {
      ...mapState(
        "ui-spinner", [
          "uiSpinner"
        ]
      )
    }
  }
</script>

<style scoped>

</style>