<i18n>
{
  "es": {
    "address": "Dirección",
    "errors": {
      "required": "Requerido"
    }
  },
  "en": {
    "address": "Dirección",
    "errors": {
      "required": "Requerido"
    }
  }
}
</i18n>

<template>
  <div>
    <v-combobox
      v-model="selectedAdress"
      :items="items"
      :rules="rules"
      :search-input.sync="search"
      :label="$t('address')"
      item-text="nomenclatura"
      append-icon="mdi-magnify"
      no-filter
      return-object
      hide-no-data
      hide-selected
      hide-details
      data-test-places-gob-input
    >
      <template v-slot:item="{ item }">
        <v-list-item-content>
          <v-list-item-title v-text="item.nomenclatura"></v-list-item-title>
        </v-list-item-content>
      </template>
    </v-combobox>
  </div>
</template>

<script>
import Axios from 'axios';

export default {
  props: ['rules'],
  data() {
    return {
      apiUrl: 'https://apis.datos.gob.ar/georef/api/direcciones?direccion=',
      selectedAdress: null,
      searchTimer: null,
      search: null,
      items: []
    }
  },
  watch: {
    search(v) {
      clearInterval(this.searchTimer);

      if(v) {
        let search = v.trim().split(',')[0];
        this.items = [];
        if(search.length > 2) {
          this.searchTimer = setTimeout(() => this.searchAdress(search), 300);
        }
      }
    },
    selectedAdress(v) {
      if(v) {
        this.$emit('addressSelected', this.selectedAdress);
      }
    }
  },
  methods: {
    searchAdress(v) {
      Axios.get(this.apiUrl + v + '&orden=id&max=1000')
      .then((resp) => {
        if(resp.status === 200 && resp.data) {
          if(resp.data.direcciones && resp.data.direcciones.length > 0) {
            this.items = resp.data.direcciones;
          }
        }
      })
      .catch(function(e) {
        console.log(e);
      });
    }
  }
}
</script>

<style lang="scss" scoped>
::v-deep .v-select {
  &.v-select--is-menu-active {
    .v-input__icon--append {
      .v-icon {
        transform: rotate(0);
      }
    }
  }
}
</style>