<i18n src="./locales/footer.json"></i18n>
<template>
  <v-footer padless>
    <Wrapper mainContainerClass="bgFooter">
      <template slot="content">
        <v-container class="px-md-10 mb-8 mt-2 mt-md-8">
          <v-row>
            <v-col
              cols="12"
              md="3"
              class="d-flex flex-column flex-sm-row justify-sm-center"
            >
              <a href="/">
                <v-img
                  src="../../assets/img/new-logos/new_logo_white.svg"
                  :height="$vuetify.breakpoint.mdAndUp ? '82px' : '60px'"
                  :width="$vuetify.breakpoint.mdAndUp ? '170px' : '120px'"
                  contain
                />
              </a>
              <template v-if="$vuetify.breakpoint.smAndDown">
                <div
                  v-if="$vuetify.breakpoint.sm"
                  class="vertical-grey-line ml-2 mr-1"
                ></div>
                <div
                  class="
                    d-flex
                    align-center
                    justify-space-between justify-sm-center
                    mt-3 mt-sm-0
                  "
                >
                  <a
                    v-for="(item, index) in socialNetworks"
                    :key="index"
                    class="text-decoration-none mx-sm-2"
                    target="_blank"
                    :href="item.link"
                  >
                    <v-img
                      :src="
                        require(`../../assets/img/footer/icons/${item.img}`)
                      "
                      :height="item.height"
                      :width="item.width"
                      :alt="item.alt"
                      contain
                    />
                  </a>
                </div>
              </template>
            </v-col>
            <v-col cols="12" md="3" sm="4" class="pb-0 pb-sm-3">
              <ul class="ListNoStyle">
                <template v-for="(item, index) in sitemap">
                  <li
                    :key="index"
                    :class="lineHeight"
                    class="text-subtitle-2 font-weight-bold"
                  >
                    <a
                      v-if="isExternal(item.link)"
                      :href="handleLink(item.link)"
                    >
                      {{ item.name }}
                    </a>
                    <RouterLink v-else :to="item.link">
                      {{ item.name }}
                    </RouterLink>
                  </li>
                </template>
              </ul>
            </v-col>
            <v-col cols="12" md="3" sm="4" class="pt-0 pt-sm-3">
              <ul class="ListNoStyle">
                <template v-for="(item, index) in other">
                  <li
                    :key="index"
                    :class="lineHeight"
                    class="text-subtitle-2 font-weight-bold"
                  >
                    <a
                      v-if="isExternal(item.link)"
                      :href="handleLink(item.link)"
                      :target="item.target ? item.target : ''"
                    >
                      {{ item.name }}
                    </a>
                    <RouterLink v-else :to="item.link">
                      {{ item.name }}
                    </RouterLink>
                  </li>
                </template>
              </ul>
            </v-col>
            <v-col cols="12" md="3" sm="4" class="text-subtitle-1 px-0 px-md-3">
              <p
                class="mb-1 ml-sm-4 text-center text-sm-left font-weight-bold"
                style="color: #41ffaf"
              >
                {{ $t("download_app") }}
              </p>
              <div
                class="
                  d-flex
                  flex-sm-column
                  justify-space-around justify-sm-start
                "
              >
                <v-card
                  color="white"
                  :width="!$vuetify.breakpoint.smAndDown ? '163px' : '153px'"
                  height="48px"
                  class="d-flex align-center pa-1"
                  rounded="lg"
                  href="https://apps.apple.com/ar/app/sesocio/id1567240124"
                >
                  <v-icon color="black" large>mdi-apple</v-icon>
                  <span class="text-18 ml-3">App Store</span>
                </v-card>
                <v-card
                  color="white"
                  :width="!$vuetify.breakpoint.smAndDown ? '163px' : '153px'"
                  height="48px"
                  class="d-flex align-center pa-1 mt-sm-2"
                  rounded="lg"
                  href="https://play.google.com/store/apps/details?id=com.sesocio.pwa"
                >
                  <v-icon color="black" large>mdi-google-play</v-icon>
                  <span class="text-18 ml-1">Google Play</span>
                </v-card>
              </div>
            </v-col>
          </v-row>
        </v-container>
        <template v-if="$vuetify.breakpoint.mdAndUp">
          <div class="grey-line"></div>
          <v-container class="py-7">
            <v-row>
              <v-col cols="12" class="d-flex align-center justify-center">
                <a
                  v-for="(item, index) in socialNetworks"
                  :key="index"
                  class="mx-1 text-decoration-none"
                  target="_blank"
                  :href="item.link"
                >
                  <v-img
                    :src="require(`../../assets/img/footer/icons/${item.img}`)"
                    :height="item.height"
                    :width="item.width"
                    :alt="item.alt"
                    contain
                  />
                </a>
              </v-col>
            </v-row>
          </v-container>
        </template>
        <div class="grey-line"></div>
        <v-container class="pt-8 pb-5 px-md-10">
          <v-row>
            <v-col
              cols="8"
              md="3"
              class="d-flex text-left text-caption"
              order="2"
              order-md="1"
            >
              {{ $t("trademarks") }}
            </v-col>
            <!-- slot: fiscal-center -->
            <template v-if="hasSlotFiscalCenter">
              <v-col cols="12" md="3" order="3" order-md="2">
                <slot name="fiscal-center"></slot>
              </v-col>
            </template>
            <template v-else>
              <v-col
                v-if="country == 'AR'"
                cols="12"
                md="3"
                class="d-flex justify-md-center"
                order="3"
                order-md="2"
              >
                <a
                  v-if="isExternal('/legal/psp')"
                  :href="handleLink('/legal/psp')"
                >
                  <v-img
                    contain
                    :src="require('../../assets/img/footer/aaip.png')"
                    width="46px"
                    alt="AAIP"
                    class="mr-2"
                  />
                </a>
                <RouterLink v-else to="/legal/psp">
                  <v-img
                    contain
                    :src="require('../../assets/img/footer/aaip.png')"
                    width="46px"
                    alt="AAIP"
                    class="mr-2"
                  />
                </RouterLink>
                <div class="text-caption">
                  Aloca S.A. (SeSocio) es un Proveedor de Servicios de Pago
                  autorizado por el BCRA. No está autorizado para operar como
                  entidad financiera.
                  <a
                    v-if="isExternal('/legal/psp')"
                    :href="handleLink('/legal/psp')"
                    class="font-weight-extrabold"
                    style="color: #f8f3ff"
                    >Más info acá</a
                  >
                  <RouterLink
                    v-else
                    to="/legal/psp"
                    class="font-weight-extrabold"
                    style="color: #f8f3ff"
                    >Más info acá</RouterLink
                  >
                </div>
              </v-col>
            </template>
            <!-- Fin slot: fiscal-center -->
            <v-col
              cols="12"
              :md="country == 'AR' ? 3 : 6"
              class="text-md-center"
              order="4"
              order-md="3"
            >
              <a
                href="http://qr.afip.gob.ar/?qr=E61c5DZy0OV1UnWNQ8aJQQ,,"
                class="mr-2 mr-md-1"
                target="_F960AFIPInfo"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Data Fiscal AFIP ALOCA"
              >
                <img
                  class="img-fiscal"
                  :src="require('../../assets/img/footer/datafiscal.png')"
                  alt="Datafiscal"
                />
              </a>
              <a
                href="http://qr.afip.gob.ar/?qr=pHv5JsmdnWp2wtuYRDmLRA,,"
                class="mr-2 mr-md-1"
                target="_F960AFIPInfo"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Data Fiscal AFIP ESTESOCA"
              >
                <img
                  class="img-fiscal"
                  :src="require('../../assets/img/footer/datafiscal.png')"
                  alt="Datafiscal"
                />
              </a>
              <!--
              <a
                v-if="isExternal('/legal/inscriptions')"
                :href="handleLink('/legal/inscriptions')"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Registro Protección Datos Personales"
              >
                <img
                  class="img-fiscal"
                  :src="require('../../assets/img/footer/pdp.jpg')"
                  alt="Pdp"
                />
              </a>
              <RouterLink
                v-else
                to="/legal/inscriptions"
                data-toggle="tooltip"
                data-placement="top"
                title=""
                data-original-title="Registro Protección Datos Personales"
              >
                <img
                  class="img-fiscal"
                  :src="require('../../assets/img/footer/pdp.jpg')"
                  alt="Pdp"
                />
              </RouterLink>
              -->
            </v-col>
            <v-col cols="12" md="3" class="text-caption" order="1" order-md="4">
              <ul class="ListNoStyle">
                <template v-for="(a, index) in address">
                  <li
                    v-if="a.country == 'all' || a.country == country"
                    :key="index"
                    :class="a.class ? a.class : 'pt-1'"
                  >
                    <strong>{{ a.name }}:</strong> {{ a.phone }} <br />{{
                      a.address
                    }}
                  </li>
                </template>
              </ul>
            </v-col>
          </v-row>
        </v-container>
        <!-- slot: small-letter -->
        <v-container class="px-md-0">
          <v-row>
            <v-col
              cols="12"
              class="black--text overline-3 px-md-0 text-justify"
            >
              <template v-if="hasSlotSmallLetter">
                <slot name="small-letter"></slot>
              </template>
              <template v-else>
                SE SOCIO no proporciona asesoramiento financiero y nada en esta
                web debe interpretarse como tal. La información que aparece en
                estas páginas es para fines de información general y no
                constituye un asesoramiento específico. Tampoco es una
                recomendación para invertir. En caso de tener alguna duda,
                deberás buscar asesoramiento financiero independiente. La
                información publicada en la Web respecto de las distintas
                alternativas de inversión no podrá ser considerada como
                asesoramiento en materia de inversión, teniendo, por tanto, el
                valor de comunicaciones comerciales de carácter general.
                Cualquier decisión adoptada por el Usuario constituirá una
                decisión informada e independiente de los mismos. El Usuario
                deberá realizar las comprobaciones, estudios y análisis que
                consideren pertinentes para adoptar la decisión, de la que Se
                Socio no responderá en ningún caso. El valor de sus inversiones
                puede subir o bajar. La rentabilidad mostrada (u objetivos) no
                son necesariamente indicativos de la verdadera rentabilidad
                futura. Los negocios y emprendimientos publicados en la Web no
                son objeto de autorización ni de supervisión por algùn ente
                regulador. Las previsiones, e información presentadas por los
                emprendedores puede cambiar o no ser certera.
              </template>
            </v-col>
          </v-row>
        </v-container>
        <!-- Fin slot: small-letter -->
      </template>
    </Wrapper>
  </v-footer>
</template>

<script>
import { mapState } from "vuex";
import Wrapper from "../core/Wrapper";

export default {
  components: { Wrapper },
  props: {
    isMinimalist: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapState("core", ["country"]),
    ...mapState("megamenu", ["isPwa", "pwaUrl"]),
    ...mapState("user", ["current"]),
    sitemap() {
      return [
        {
          name: this.$t("sitemap.help"),
          link: process.env.VUE_APP_HELPCENTER_BASE_URL,
        },
        {
          name: this.$t("sitemap.commission_table"),
          link: "/commission_table",
        },
        { name: this.$t("sitemap.exchange_rates"), link: "/exchange_rates" },
        { name: this.$t("sitemap.operate_otc"), link: "/otc" },
        {
          name: this.$t("sitemap.tarifario_tarjetas"),
          link: process.env.VUE_APP_CARD_BASE_URL + "/tariffs",
        },
      ];
    },
    other() {
      return [
        { name: this.$t("others.terms"), link: this.terms },
        { name: this.$t("others.risk"), link: "/investment_risk" },
        { name: this.$t("others.contact"), link: "/contacts/new" },
        { name: this.$t("others.carrers"), link: "/carrers" },
      ];
    },
    socialNetworks() {
      return [
        {
          link: "https://www.facebook.com/SeSociocom-1796199480606293",
          img: "facebook.png",
          alt: "SeSocio Facebook",
          height: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
          width: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
        },
        {
          link: "https://twitter.com/sesociocom",
          img: "twitter.png",
          alt: "SeSocio Twitter",
          height: this.$vuetify.breakpoint.mdAndUp ? "26.3px" : "20px",
          width: this.$vuetify.breakpoint.mdAndUp ? "32.4px" : "23.7px",
        },
        {
          link: "https://t.me/sesociocom",
          img: "telegram.png",
          alt: "SeSocio Telegram",
          height: this.$vuetify.breakpoint.mdAndUp ? "24.8px" : "17.1px",
          width: this.$vuetify.breakpoint.mdAndUp ? "30px" : "20.2px",
        },
        {
          link: "https://www.instagram.com/sesociocom",
          img: "instagram.png",
          alt: "SeSocio Instagram",
          height: this.$vuetify.breakpoint.mdAndUp ? "28.8px" : "21.5px",
          width: this.$vuetify.breakpoint.mdAndUp ? "28.8px" : "21.5px",
        },
        {
          link: "https://www.tiktok.com/@sesocio",
          img: "tiktok.png",
          alt: "SeSocio Tiktok",
          height: this.$vuetify.breakpoint.mdAndUp ? "27.8px" : "20.9px",
          width: this.$vuetify.breakpoint.mdAndUp ? "23.8px" : "18.5px",
        },
        {
          link: "https://www.linkedin.com/company/sesocio.com",
          img: "linkedIn.png",
          alt: "SeSocio LinkedIn",
          height: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
          width: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
        },
        {
          link: "https://medium.com/@SeSocioUX",
          img: "medium.png",
          alt: "SeSocio Medium",
          height: this.$vuetify.breakpoint.mdAndUp ? "25px" : "19.2px",
          width: this.$vuetify.breakpoint.mdAndUp ? "44.4px" : "31px",
        },
        {
          link: "https://open.spotify.com/show/6IsGJ3kBj7YAzv62ZIIpKa",
          img: "spotify.png",
          alt: "SeSocio Spotify",
          height: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
          width: this.$vuetify.breakpoint.mdAndUp ? "29.7px" : "22px",
        },
      ];
    },
    address() {
      return [
        {
          name: "UK",
          phone: "(+44) 871-807-5966",
          address: "",
          country: "all",
        },
        { name: "US", phone: "(+1) 205-900-4141", address: "", country: "all" },
        {
          name: "AR",
          phone: "(+54 11) 5275-7800",
          country: "AR",
        },
        {
          name: "CO",
          phone: "(+57) 1-5086196",
          address: "",
          country: "CO",
        },
        { name: "MX", phone: "(+52) 55-4170-8012", address: "", country: "MX" },
        { name: "PE", phone: "(+51) 1-6409706", address: "", country: "PE" },
        { name: "CL", phone: "(+56) 2-2573-9422", address: "", country: "CL" },
        { name: "ES", phone: "(+34) 910-60-39-59", address: "", country: "ES" },
        {
          name: this.$t("address.support"),
          phone: "arg-support@blockchain.com",
          address: "",
          country: "all",
          class: "pt-3",
        },
      ];
    },
    terms() {
      return this.country === "CO"
        ? "https://legales-sesocio.s3-sa-east-1.amazonaws.com/TC_SeSocio.com_IP_Colombiano_1.pdf"
        : "/terms";
    },
    getLogoByDomain() {
      let domain = this.getDomain();
      let logo = require("../../assets/img/new-logos/new_logo_white.svg");
      if (domain.includes("sesocia.com")) {
        logo = require("../../assets/img/new-logos/new_logo_white.svg");
      }
      return logo;
    },
    hasSlotFiscalCenter() {
      return !!this.$slots["fiscal-center"];
    },
    hasSlotSmallLetter() {
      return !!this.$slots["small-letter"];
    },
    lineHeight() {
      return this.$vuetify.breakpoint.smAndUp ? "lh-px" : "lh-rem";
    },
  },
  methods: {
    getDomain() {
      return window.location.hostname;
    },
    isExternal(link) {
      const ext = /^(https?:|http?:|mailto:|tel:)/;
      if (this.isPwa) {
        if (ext.test(link)) {
          return true;
        }
        return false;
      }
      return true;
    },
    handleLink(link) {
      if (this.isExternal(link) && link.startsWith("/")) {
        // Elimina la "/" del link
        return this.pwaUrl + link.substring(1);
      }
      return link;
    },
  },
};
</script>

<style lang="scss" scoped>
.bgFooter {
  background-image: linear-gradient(to bottom, #8b66fa, 72%, #46337d);
  color: white;
}

::v-deep .fill-height {
  height: auto;
}

.text-18 {
  font-size: 18px;
}

.img-fiscal {
  display: inline;
  max-height: 60px;
  padding: 2px;
  width: auto;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

.ListNoStyle {
  list-style: none;
  padding: 0;
  & li a {
    text-decoration: none;
    color: inherit;
  }
}

.lh-px {
  line-height: 29px !important;
}
.lh-rem {
  line-height: 2.5rem !important;
}

.grey-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #f8f3ff;
    left: 0;
    top: 0;
  }
}

.vertical-grey-line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border-left: 1px solid #f8f3ff;
    height: 60%;
    left: 0;
    top: 20%;
  }
}
</style>
