<i18n>
{
  "es": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  },
  "es-AR": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  },
  "en": {
    "home": {
      "address": "Dirección",
      "address_number": "Número",
      "city": "Localidad",
      "state": "Provincia",
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid.custom"
  >
    <v-row
      no-gutters
      class="pb-6"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-0 pt-md-2 pb-0"
          elevation="0"
        >
          <v-row>
            <v-col
              cols="12"
              sm="6"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.street"
                append-icon="mdi-magnify"
                :rules="[rules.required, rules.max(35, home.street)]"
                :label="$t('home.address')"
                @input="updateAddress"
                data-test-address
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.street_number"
                :rules="[rules.required, rules.max(10, home.street_number)]"
                :label="$t('home.address_number')"
                @input="updateAddress"
                data-test-address-number
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.postal_code"
                :rules="[rules.required, rules.max(8, home.postal_code)]"
                :label="$t('home.postal_code')"
                data-test-postal-code
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.floor"
                :rules="[rules.max(2, home.floor)]"
                :label="$t('home.floor')"
                data-test-floor
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.apartment"
                :rules="[rules.max(15, home.apartment)]"
                :label="$t('home.apartment')"
                data-test-apartment
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.city"
                :label="$t('home.city')"
                :rules="[rules.required, rules.max(25, home.city)]"
                @input="updateAddress"
                data-test-localidad
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-autocomplete
                v-model="home.state"
                item-text="nombre"
                item-value="nombre"
                :items="states"
                :rules="[rules.required]"
                :label="$t('home.state')"
                data-test-state
              ></v-autocomplete>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import Axios from 'axios';

  export default {
    props: {
      valid: {
        required: true,
        type: Object
      },
      home: {
        required: true,
        type: Object
      },
    },
    data() {
      return {
        states: [],
        statesApiUrl: 'https://apis.datos.gob.ar/georef/api/provincias?campos=nombre',
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          address: (value) => !!value && value.hasOwnProperty('description') || this.$t("errors.required"),
          calle: (value) => !!value && value.hasOwnProperty('calle') || this.$t("errors.required"),
          max: (max, value) => value.length <= max || this.$t("errors.max", {max: max}),
        }
      };
    },
    methods: {
      getStates() {
        Axios.get(this.statesApiUrl).then((resp) => {
          if(resp.status === 200 && resp.data) {
            if(resp.data.provincias && resp.data.provincias.length > 0) {
              this.states = resp.data.provincias;
              this.states.sort((a, b) => (a.nombre > b.nombre) ? 1 : -1)
            }
          }
        })
        .catch(function(e) {
          console.log(e);
        });
      },
      updateAddress() {
        this.home.address = this.home.street + ' ' + this.home.street_number;
        this.home.address += ', ' + this.home.city;
        this.home.address += ', ' + this.home.state;
      }
    },
    watch: {
      "home.state": function (v) {
        if(v) {
          this.updateAddress();
        }
      }
    },
    created() {
      this.home.provider = 'datos.gob.ar';
      this.getStates();
    }
  }
</script>