<i18n>
{
  "es": {
    "home": {
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "custom_address": "¿No encontrás tu dirección?",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  },
  "es-AR": {
    "home": {
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "custom_address": "¿No encontrás tu dirección?",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  },
  "en": {
    "home": {
      "postal_code": "Código postal",
      "floor": "Piso",
      "apartment": "Departamento"
    },
    "custom_address": "¿No encontrás tu dirección? ",
    "errors": {
      "required": "Requerido",
      "max": "La longitud máxima son {max} caracteres"
    }
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid.form"
  >
    <v-row
      no-gutters
      class="pb-6"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-0 pt-md-2 pb-0"
          elevation="0"
        >
          <v-row>
            <v-col
              cols="12"
              sm="6"
              class="pb-0 pb-md-3"
            >
              <google-autocomplete
                v-if="autocompleteProvider === 'google'"
                :rules="[
                  rules.required,
                ]"
                @addressSelected="addressSelected"
                data-test-google
              >
              </google-autocomplete>
              <places-autocomplete
                v-else
                :rules="[
                  rules.required,
                  rules.calle
                ]"
                @addressSelected="addressSelected"
                data-test-places-gob
              >
              </places-autocomplete>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.postal_code"
                :rules="[rules.required, rules.max(8, home.postal_code)]"
                :label="$t('home.postal_code')"
                data-test-postal-code
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.floor"
                :label="$t('home.floor')"
                :rules="[rules.max(2, home.floor)]"
                data-test-floot
              ></v-text-field>
            </v-col>
            <v-col
              cols="12"
              sm="3"
              class="pb-0 pb-md-3"
            >
              <v-text-field
                v-model="home.apartment"
                :label="$t('home.apartment')"
                :rules="[rules.max(15, home.apartment)]"
                data-test-apartment
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
              class="py-0"
            >
              <a
                @click="addCustomAddress"
                v-text="$t('custom_address')"
                class="text-subtitle-2 text-decoration-underline"
              ></a><span class="pl-1 text-subtitle-2">Prueba escribiéndola</span>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import PlacesAutocomplete from '../../../../misc/address-components/gob-ar/PlacesAutocomplete';
  import GoogleAutocomplete from '../../../../misc/address-components/google/GoogleAutocomplete';

  export default {
    props: {
      valid: {
        required: true,
        type: Object
      },
      home: {
        required: true,
        type: Object
      },
    },
    data() {
      return {
        autocompleteProvider: process.env.VUE_APP_AUTOCOMPLETE_PROVIDER,
        shippingSeletedAddress: null,
        rules: {
          required: (value) => !!value || this.$t("errors.required"),
          address: (value) => !!value && value.hasOwnProperty('description') || this.$t("errors.required"),
          calle: (value) => !!value && value.hasOwnProperty('calle') || this.$t("errors.required"),
          max: (max, value) => value.length <= max || this.$t("errors.max", {max: max})
        },
      };
    },
    mounted() {
      this.home.provider = this.autocompleteProvider;
    },
    methods: {
      addCustomAddress() {
        this.$emit('addCustomAddress');
      },
      getPostalCode(value){
        this.home.postal_code = ''
        if (value.hasOwnProperty('address_components')) {
          for (let i = 0; i < value.address_components.length; i++) {
            const item = value.address_components[i];
            for (let x = 0; x < item.types.length; x++) {
              const type = item.types[x];
              if (type == 'postal_code') {
                this.home.postal_code = item.long_name.substring(1);
                break;
              } else {
                this.home.postal_code = ''
              }
            }
          }
        }
      },
      addressSelected(value) {
        let auxReturn = false
        delete value["adr_address"];
        delete value["icon"];
        delete value["url"];

        for (let i = 0; i < value.address_components.length; i++) {
          const item = value.address_components[i];
          if(item.types[0] === 'street_number') {
            auxReturn = true;
            break;
          }
        }
        if (auxReturn) {
          this.home.address = value.hasOwnProperty('calle') || value.hasOwnProperty('name') ? value : null;
          this.getPostalCode(value);
        } else {
          // this.home.address = null
          this.home.address = value.hasOwnProperty('calle') || value.hasOwnProperty('name') ? value : null;
          this.getPostalCode(value);
        }
      }
    },
    components: {
      PlacesAutocomplete,
      GoogleAutocomplete
    }
  };
</script>

<style scoped>
</style>
