<i18n>
{
  "es": {
    "title": "Bienvenido a SeSocio",
    "do_it_later": "Prefiero hacerlo luego",
    "validate_account": "Validá tu identidad"
  },
  "es-AR": {
    "title": "Bienvenido a SeSocio",
    "do_it_later": "Prefiero hacerlo luego",
    "validate_account": "Validá tu identidad"
  },
  "en": {
    "title": "Bienvenido a SeSocio",
    "do_it_later": "Prefiero hacerlo luego",
    "validate_account": "Validá tu identidad"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="content-bg-color pt-4"
      justify="center"
    >
      <v-col
        cols="12"
        sm="9"
        md="7"
      >
        <v-card
          class="px-6 pt-0 pb-0 text-center content-bg-color"
          elevation="0"
        >
          <p
            class="text-h4 font-weight-black black--text pt-6 pl-1 my-auto"
            v-text="$t('title')"
          ></p>
          <img
            src="../../../../../../../../../assets/onboarding/images/image-sesocio-welcome.svg"
            class="mt-0 align-self-start"
          />
          <welcome-account-info
            v-if="!loading && bankAccount != null"
          >
          </welcome-account-info>
          <welcome-validate-loader
            v-else
          >
          </welcome-validate-loader>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      justify="center"
      class="content-bg-color mt-0"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center content-bg-color"
          elevation="0"
        >
          <v-btn
            :disabled="loading"
            outlined
            color="primary"
            class="ma-2 px-6 font-weight-black custom-close-button"
            @click="closeOnboardingDialog()"
            v-text="$t('do_it_later')"
            data-test-do-it-later
          ></v-btn>
          <v-btn
            :disabled="loading"
            color="primary"
            class="ma-2 px-6 font-weight-black"
            @click="nextStep()"
            v-text="$t('validate_account')"
            data-test-validate-account
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import WelcomeValidateLoader from "./loader/WelcomeValidateLoader"
  import WelcomeAccountInfo from "./account-info/WelcomeAccountInfo"

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        loading: true
      }
    },
    computed: {
      ...mapState(
        "user", [
          'current',
        ]
      ),
      ...mapState(
        "onboarding", [
          'current_step',
          'bankAccount'
        ]
      )
    },
    watch: {
      current_step(value){
        if (value == 7) {
          this.gtm_track_event();
          this.get_bank_account_info();
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "getBankAccountInfo"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      async get_bank_account_info() {
        this.loading = true;
        await this.getBankAccountInfo()
        .then(response => {})
        .catch(e => {
          console.log(e);
        })
        this.loading = false;
      },
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'welcome-validate-step-06', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
    },
    components: {
      WelcomeValidateLoader,
      WelcomeAccountInfo
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
  .text-nobreak{
    word-break: normal;
  }
  .custom-close-button{
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 2px;
  }
</style>
