<template>
  <v-row
    no-gutters
  >
    <v-col
      class="d-flex justify-center align-center my-16"
      cols="12"
    >
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data() {
      return {
      };
    }
  };
</script>

<style scoped>
</style>
