<template>
  <v-snackbar
    v-model="snackbar.visible"
    max-width="300"
    timeout="6000"
    :class="'snackbar-' + type"
    :bottom="position.includes('bottom')"
    :right="position.includes('right')"
    :top="position.includes('top')"
    :left="position.includes('left')"
    :centered="position.includes('center')"
    @input="hideSnackbar"
  >
    <div class="d-flex align-start">
      <div class="icon-container mr-3 pa-1">
        <v-icon size="20" v-if="icon">
          {{ icon }}
        </v-icon>
      </div>

      <div class="message-container d-inline-block">
        <span class="subtitle-2" v-if="snackbar.title">
          <strong>{{ snackbar.title }}</strong>
          <br />
        </span>
        <span class="body-1" v-html="snackbar.message"></span>
      </div>

    </div>
      <template
        v-slot:action="{ attrs }"
        v-if="dismiss"
      >
        <v-btn
          icon
          v-bind="attrs"
          @click="hideSnackbar()"
        >
          <v-icon size="20">mdi-close</v-icon>
        </v-btn>
      </template>
  </v-snackbar>
</template>

<script>
import store from "./store";
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState("snackbar", ["snackbar"]),
    position() {
      return this.snackbar.position || this.$vuetify.breakpoint.xsOnly ? 'top center' : 'top right';
    },
    type() {
      return this.snackbar.type || 'error';
    },
    dismiss() {
      return !(this.snackbar.dismiss === false);
    },
    icon() {
      if(this.snackbar.icon === false) return false;
      if(this.snackbar.icon) {
        return this.snackbar.icon;
      } else {
        return this.snackbar.type === 'success' ? 'mdi-check' : 'mdi-close';
      }
    }
  },
  methods: {
    ...mapActions("snackbar", ["hideSnackbar"])
  },
  created() {
    if(!this.$store.hasModule("snackbar")) {
      this.$store.registerModule("snackbar", store);
    }
  }
}
</script>

<style lang="scss">
  .body-1 {
    line-height: 20px !important;
  }

  .v-snack__action {
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
    margin-right: 0 !important;
  }

  .icon-container {
    background: white;
    border-radius: 50%;
    width: 29px;
    min-width: 29px;
    height: 29px;
    min-height: 29px;
  }

  .snackbar-error {
    .v-sheet {
      background-color: #e8473f !important;

      .icon-container {
        i {
          color: #e8473f !important;
        }
      }

      .message-container {
        a {
          color: white !important;
        }
      }
    }
  }

  .snackbar-success {
    .v-sheet {
      background-color: #00b554 !important;

      .icon-container {
        i {
          color: #00b554 !important;
        }
      }
    }
  }

  .snackbar-warning {
  }

  .snackbar-info {
  }
</style>