<i18n>
{
  "es": {
    "address": "Dirección",
    "errors": {
      "required": "Requerido"
    }
  },
  "en": {
    "address": "Address",
    "errors": {
      "required": "Required"
    }
  }
}
</i18n>

<template>
  <div>
    <v-autocomplete
      v-model="selectedAddress"
      :items="googlePredictions"
      :loading="isLoading"
      :rules="rules"
      :search-input.sync="search"
      :label="$t('address')"
      item-text="description"
      append-icon="mdi-magnify"
      clearable
      no-filter
      return-object
      hide-no-data
      hide-selected
      data-test-google-autocomplete-input
    >
      <template v-slot:no-data>
        <v-list-item>
          <v-list-item-title>
            Ingresa tu dirección
          </v-list-item-title>
        </v-list-item>
      </template>
      <template v-slot:item="{ item }">
        <v-list-item-content>
          <v-list-item-title v-text="item.description"></v-list-item-title>
        </v-list-item-content>
      </template>
    </v-autocomplete>
    <ul id="ulAutocomplete"></ul>
    <!-- <v-combobox
      v-model="selectedAdress"
      :items="items"
      :rules="rules"
      :search-input.sync="search"
      :label="$t('address')"
      :hint="$t('custom_address')"
      item-text="description"
      append-icon="mdi-magnify"
      no-filter
      return-object
      hide-no-data
      hide-selected
      persistent-hint
    >
      <template v-slot:item="{ item }">
        <v-list-item-content>
          <v-list-item-title v-text="item.description"></v-list-item-title>
        </v-list-item-content>
      </template>
      <template v-slot:message="{ message, key }">
        <a @click="hintClicked" v-html="message"></a>
      </template>
    </v-combobox>
    <ul id="ulAutocomplete"></ul> -->
  </div>
</template>

<script>
  import store from "./store";
  import { mapState, mapActions } from 'vuex';
  import { Loader } from '@googlemaps/js-api-loader';

  export default {
    props: ['rules'],
    data: function () {
      return {
        loader: null,
        loaderOptions: {
          apiKey: process.env.VUE_APP_GOOGLE_MAPS_API_KEY,
          version: "weekly",
          libraries: ["places"]
        },
        search: '',
        selectedAddress: null,
        isLoading: false,
        placeService: null
      }
    },
    computed: {
      ...mapState(
        'google_autocomplete', [
          'googlePredictions'
        ]
      )
    },
    watch: {
      search(val){
        if (val && val != '') {
          this.get_predictions(val);
        }
      },
      selectedAddress(val) {
        if (val && val != '') {
          this.placeService.getDetails({
            placeId: val.place_id
          }, (address) => {
            console.log(address);
            this.$emit('addressSelected', address);
          });
        }
      }
    },
    created() {
      if (!this.$store.hasModule("google_autocomplete")) {
        this.$store.registerModule("google_autocomplete", store);
      }
    },
    mounted(){
      this.initAutocomplete();
    },
    methods: {
      ...mapActions(
        'google_autocomplete', [
          'setPredictions'
        ]
      ),
      initAutocomplete(){
        this.loader = new Loader(this.loaderOptions);
        this.loader
          .load()
          .then(() => {})
          .catch(e => {
            console.log(e);
          });
      },
      async get_predictions(val){
        const autocomplete = new google.maps.places.AutocompleteService()
        this.placeService  = new google.maps.places.PlacesService(document.getElementById('ulAutocomplete'));
        autocomplete.getPlacePredictions({
          input: val,
          componentRestrictions: { country: 'ar' }
        }, this.set_predictions)
      },
      set_predictions(predictions, status) {
        if (status != google.maps.places.PlacesServiceStatus.OK || !predictions) {
          return;
        }
        this.setPredictions(predictions)
      },
      hintClicked() {
        this.$emit('hintClicked');
      }
    }
  }
</script>

<style lang="scss" scoped>
::v-deep .v-select {
  &.v-select--is-menu-active {
    .v-input__icon--append {
      .v-icon {
        transform: rotate(0);
      }
    }
  }
}
</style>