<i18n>
{
  "es": {
    "title": "¿Cumples con alguna de estas condiciones?",
    "subtitle": "Ten en cuenta que <span class='font-weight-bold'>esto es una declaración jurada.</span> Por favor, completala con datos reales.",
    "skip": "Omitir",
    "finish": "Finalizar"
  },
  "es-AR": {
    "title": "¿Cumplís con alguna de estas condiciones?",
    "subtitle": "Tené en cuenta que <span class='font-weight-bold'>esto es una declaración jurada.</span> Por favor, completala con datos reales.",
    "skip": "Omitir",
    "finish": "Finalizar"
  },
  "en": {
    "title": "¿Cumplís con alguna de estas condiciones?",
    "subtitle": "Tené en cuenta que <span class='font-weight-bold'>esto es una declaración jurada.</span> Por favor, completala con datos reales.",
    "skip": "Omitir",
    "finish": "Finalizar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
    ref="parent"
  >
    <v-row
      no-gutters
      class="pt-6"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-0 pb-0"
          elevation="0"
        >
          <div
            class="pb-8 d-inline-flex"
          >
            <img
              src="../../../../../../../assets/onboarding/icons/icon-attach.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
              <p
                class="text-subtitle-2 pl-1 pt-1 my-auto"
                v-html="$t('subtitle')"
              ></p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <show-sworn-declaration-form
      :valid="valid"
      :declaration="declaration"
    >
    </show-sworn-declaration-form>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            @click="goToStep(9)"
            v-text="$t('skip')"
          ></v-btn>
          <v-btn
            :disabled="!(valid.form)"
            color="primary"
            class="ma-2 px-16"
            @click="submit()"
            v-text="$t('finish')"
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapActions } from 'vuex';

  import ShowSwornDeclarationForm from './forms/ShowSwornDeclarationForm';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        valid: {
          form: false,
        },
        declaration: {
          obligatedSubject: false,
          politicallyExposed: false,
          facta: false,
        },
      };
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "goToStep",
          "nextStep",
          "sendDeclaration"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      async submit() {
        this.valid.form = this.$refs.parent.$children[1].$refs.form.validate()

        if (this.valid.form) {
          await this.sendDeclaration(this.declaration)
          .then(response => {
            this.nextStep();
          })
          .catch(e => {
            console.log(e);
          })
        }
      },
    },
    components: {
      ShowSwornDeclarationForm
    }
  };
</script>

<style scoped>
</style>
