<i18n>
{
  "es": {
    "headline": {
      "back": {
        "ar": "DNI Dorso",
        "mx": "Número de pasaporte/CURP - Dorso",
        "cl": "RUT - Dorso",
        "co": "Documento de identidad - Dorso",
        "default": "Documento de identidad - Dorso"
      },
      "front": {
        "ar": "DNI Frente",
        "mx": "Número de pasaporte/CURP - Frente",
        "cl": "RUT - Frente",
        "co": "Documento de identidad - Frente",
        "default": "Documento de identidad - Frente"
      },
      "selfie": {
        "ar": "Selfie + DNI",
        "mx": "Selfie + Número de pasaporte/CURP",
        "cl": "Selfie + RUT",
        "co": "Selfie + Documento de identidad",
        "default": "Selfie + Documento de identidad"
      }
    },
    "subheadline": {
      "back": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "front": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "selfie": "Por último tomate una selfie con tu DNI <span class='font-weight-bold'>sin tapar tu cara.</span>"
    }
  },
  "es-AR": {
    "headline": {
      "back": {
        "ar": "DNI Dorso",
        "mx": "Número de pasaporte/CURP - Dorso",
        "cl": "RUT - Dorso",
        "co": "Documento de identidad - Dorso",
        "default": "Documento de identidad - Dorso"
      },
      "front": {
        "ar": "DNI Frente",
        "mx": "Número de pasaporte/CURP - Frente",
        "cl": "RUT - Frente",
        "co": "Documento de identidad - Frente",
        "default": "Documento de identidad - Frente"
      },
      "selfie": {
        "ar": "Selfie + DNI",
        "mx": "Selfie + Número de pasaporte/CURP",
        "cl": "Selfie + RUT",
        "co": "Selfie + Documento de identidad",
        "default": "Selfie + Documento de identidad"
      }
    },
    "subheadline": {
      "back": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "front": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "selfie": "Por último tomate una selfie con tu DNI <span class='font-weight-bold'>sin tapar tu cara.</span>"
    }
  },
  "en": {
    "headline": {
      "back": {
        "ar": "DNI Dorso",
        "mx": "Número de pasaporte/CURP - Dorso",
        "cl": "RUT - Dorso",
        "co": "Documento de identidad - Dorso",
        "default": "Documento de identidad - Dorso"
      },
      "front": {
        "ar": "DNI Frente",
        "mx": "Número de pasaporte/CURP - Frente",
        "cl": "RUT - Frente",
        "co": "Documento de identidad - Frente",
        "default": "Documento de identidad - Frente"
      },
      "selfie": {
        "ar": "Selfie + DNI",
        "mx": "Selfie + Número de pasaporte/CURP",
        "cl": "Selfie + RUT",
        "co": "Selfie + Documento de identidad",
        "default": "Selfie + Documento de identidad"
      }
    },
    "subheadline": {
      "back": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "front": "Tomate unos segundos, necesitamos que la <span class='font-weight-bold'>foto sea clara.</span>",
      "selfie": "Por último tomate una selfie con tu DNI <span class='font-weight-bold'>sin tapar tu cara.</span>"
    }
  }
}
</i18n>

<template>
  <v-form>
    <v-row
      no-gutters
      class="pb-6"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
          elevation="0"
        >
          <v-row
            class="pb-6"
            justify="center"
          >
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <template
                v-if="['AR', 'CL', 'CO', 'MX'].includes(current.country)"
              >
                <upload-image
                  :headline="$t(`headline.back.${current.country.toLowerCase()}`)"
                  :subheadline="$t('subheadline.back')"
                  :image="images.back"
                  :error="error"
                >
                </upload-image>
              </template>
              <template
                v-else
              >
                <upload-image
                  :headline="$t(`headline.back.default`)"
                  :subheadline="$t('subheadline.back')"
                  :image="images.back"
                  :error="error"
                  data-test-upload-back
                >
                </upload-image>
              </template>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <template
                v-if="['AR', 'CL', 'CO', 'MX'].includes(current.country)"
              >
                <upload-image
                  :headline="$t(`headline.front.${current.country.toLowerCase()}`)"
                  :subheadline="$t('subheadline.front')"
                  :image="images.front"
                  :error="error"
                  data-test-upload-front
                >
                </upload-image>
              </template>
              <template
                v-else
              >
                <upload-image
                  :headline="$t(`headline.front.default`)"
                  :subheadline="$t('subheadline.front')"
                  :image="images.front"
                  :error="error"
                  data-test-upload-front
                >
                </upload-image>
              </template>
            </v-col>
            <v-col
              cols="12"
              sm="6"
              md="4"
            >
              <template
                v-if="['AR', 'CL', 'CO', 'MX'].includes(current.country)"
              >
                <upload-image
                  :headline="$t(`headline.selfie.${current.country.toLowerCase()}`)"
                  :subheadline="$t('subheadline.selfie')"
                  :image="images.selfie"
                  :error="error"
                  data-test-selfie
                >
                </upload-image>
              </template>
              <template
                v-else
              >
                <upload-image
                  :headline="$t(`headline.selfie.default`)"
                  :subheadline="$t('subheadline.selfie')"
                  :image="images.selfie"
                  :error="error"
                  data-test-selfie
                >
                </upload-image>
              </template>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import UploadImage from './cards/UploadImage';

  export default {
    props: {
      images: {
        type: Object,
        required: true
      },
      error: {
        type: Object,
        required: true
      }
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ]
      ),
    },
    components: {
      UploadImage
    }
  };
</script>

<style scoped>
</style>
