<i18n>
{
  "es": {
    "title": "Te enviamos un mail para validar tu cuenta",
    "subtitle": "Lo recibirás en <span class='text-no-wrap font-weight-bold'>{email}</span>",
    "remainder": "Recuerda revisar <span class='font-weight-bold'>el correo no deseado</span>, a veces llega ahí.",
    "cancel": "Cancelar",
    "resend": "Reenviar"
  },
  "es-AR": {
    "title": "Te enviamos un mail para validar tu cuenta",
    "subtitle": "Lo recibirás en <span class='text-no-wrap font-weight-bold'>{email}</span>",
    "remainder": "Recordá revisar <span class='font-weight-bold'>el correo no deseado</span>, a veces llega ahí.",
    "cancel": "Cancelar",
    "resend": "Reenviar"
  },
  "en": {
    "title": "Te enviamos un mail para validar tu cuenta",
    "subtitle": "Lo recibirás en <span class='text-no-wrap font-weight-bold'>{email}</span>",
    "remainder": "Recordá revisar <span class='font-weight-bold'>el correo no deseado</span>, a veces llega ahí.",
    "cancel": "Cancelar",
    "resend": "Reenviar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="content-bg-color pt-4"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0 text-center content-bg-color"
          elevation="0"
        >
          <p
            class="text-h6 font-weight-bold pt-0 pl-1 my-auto"
            v-text="$t('title')"
          ></p>
          <v-card-text
            v-if="isLoggedIn"
            v-html="$t('subtitle', {'email': current.email})"
          ></v-card-text>
          <img
            src="../../../../../../../assets/onboarding/images/image-plane.svg"
            class="my-6"
          />
          <v-card-text
            class=""
            v-html="$t('remainder')"
          ></v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row
      no-gutters
      justify="center"
      class="content-bg-color mt-0"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center content-bg-color"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            @click="close_onboarding_dialog()"
            v-text="$t('cancel')"
          ></v-btn>
          <v-btn
            color="primary"
            class="ma-2 px-16"
            @click="resendEmail()"
            v-text="$t('resend')"
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    props: {
      step: {
        required: false,
        type: Number
      },
    },
    data(){
      return {
        interval: null,
      }
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      ...mapState(
        "user", [
          "current",
          "isLoggedIn"
        ]
      ),
    },
    watch: {
      current_step(value){
        if (value == 2) {
          this.interval = setInterval(() => this.checkEmailValid(), 3000);
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "checkConfirmedAt",
          "sendValidateEmail"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      close_onboarding_dialog(){
        clearInterval(this.interval);
        this.closeOnboardingDialog();
      },
      async checkEmailValid(){
        await this.checkConfirmedAt()
        .then(response => {
          if (this.current.confirmed_at != null) {
            clearInterval(this.interval);
            this.nextStep();
          }
        })
        .catch(e => {
          console.log(e);
        })
      },
      async resendEmail(){
        await this.sendValidateEmail()
        .then(response => {
          this.toggleShowHideLoaderSpinner();
        })
        .catch(e => {
          this.toggleShowHideLoaderSpinner();
          console.log(e);
        })
      },
    },
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
