<i18n>
{
  "es": {
    "obligated_subject": {
      "question": "¿Sos sujeto obligado?",
      "info": "Un sujeto obligado es aquella persona que debe presentar declaraciones juradas ante la UIF (Unidad de Información Financiera). Es una Persona Física o Jurídica que la legislación considera vulnerable para el Lavado de Activos y Financiación de Terrorismo."
    },
    "politically_exposed": {
      "question": "¿Sos una persona políticamente expuesta?",
      "info": "Persona Expuesta Políticamente (PEP) es aquella que es o ha sido encomendada a una función pública prominente o tiene relación de parentesco en alguna de ellas."
    },
    "facta": {
      "question": "¿Estás  alcanzado por la ley FACTA?",
      "info": "FACTA (Foreign Account Tax Complience Act / Ley de cumplimiento tributario de cuentas extranjeras) es una normativa que tiene como objetivo promover la transparencia fiscal y el cumplimiento de las obligaciones fiscales de los ciudadanos y residentes estadounidenses así como también las personas jurídicas constituidas bajo la legislación de los Estados Unidos."
    }
  },
  "es-AR": {
    "obligated_subject": {
      "question": "¿Sos sujeto obligado?",
      "info": "Un sujeto obligado es aquella persona que debe presentar declaraciones juradas ante la UIF (Unidad de Información Financiera). Es una Persona Física o Jurídica que la legislación considera vulnerable para el Lavado de Activos y Financiación de Terrorismo."
    },
    "politically_exposed": {
      "question": "¿Sos una persona políticamente expuesta?",
      "info": "Persona Expuesta Políticamente (PEP) es aquella que es o ha sido encomendada a una función pública prominente o tiene relación de parentesco en alguna de ellas."
    },
    "facta": {
      "question": "¿Estás  alcanzado por la ley FACTA?",
      "info": "FACTA (Foreign Account Tax Complience Act / Ley de cumplimiento tributario de cuentas extranjeras) es una normativa que tiene como objetivo promover la transparencia fiscal y el cumplimiento de las obligaciones fiscales de los ciudadanos y residentes estadounidenses así como también las personas jurídicas constituidas bajo la legislación de los Estados Unidos."
    }
  },
  "en": {
    "obligated_subject": {
      "question": "¿Sos sujeto obligado?",
      "info": "Un sujeto obligado es aquella persona que debe presentar declaraciones juradas ante la UIF (Unidad de Información Financiera). Es una Persona Física o Jurídica que la legislación considera vulnerable para el Lavado de Activos y Financiación de Terrorismo."
    },
    "politically_exposed": {
      "question": "¿Sos una persona políticamente expuesta?",
      "info": "Persona Expuesta Políticamente (PEP) es aquella que es o ha sido encomendada a una función pública prominente o tiene relación de parentesco en alguna de ellas."
    },
    "facta": {
      "question": "¿Estás  alcanzado por la ley FACTA?",
      "info": "FACTA (Foreign Account Tax Complience Act / Ley de cumplimiento tributario de cuentas extranjeras) es una normativa que tiene como objetivo promover la transparencia fiscal y el cumplimiento de las obligaciones fiscales de los ciudadanos y residentes estadounidenses así como también las personas jurídicas constituidas bajo la legislación de los Estados Unidos."
    }
  }
}
</i18n>

<template>
  <v-form
    ref="form"
    v-model="valid.form"
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-12 pb-0"
          elevation="0"
        >
          <v-row
            class="pb-6"
            justify="center"
          >
            <v-col
              cols="12"
              md="4"
              class="border-md-right"
            >
              <v-card
                class="pt-0"
                elevation="0"
              >
                <v-card-title
                  class="subtitle-2 text-nobreak pt-0"
                  v-text="$t('obligated_subject.question')"
                ></v-card-title>
                <v-card-text
                  class="py-0"
                >
                  <v-radio-group
                    v-model="declaration.obligatedSubject"
                    row
                  >
                    <v-radio
                      label="NO"
                      :value="false"
                    ></v-radio>
                    <v-radio
                      label="SI"
                      :value="true"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
                <v-card-text
                  class="py-0 caption"
                  v-text="$t('obligated_subject.info')"
                ></v-card-text>
              </v-card>
            </v-col>
            <v-col
              cols="12"
              md="4"
              class="border-md-right"
            >
              <v-card
                class="pt-0"
                elevation="0"
              >
                <v-card-title
                  class="subtitle-2 text-nobreak pt-0"
                  v-text="$t('politically_exposed.question')"
                ></v-card-title>
                <v-card-text
                  class="py-0"
                >
                  <v-radio-group
                    v-model="declaration.politicallyExposed"
                    row
                  >
                    <v-radio
                      label="NO"
                      :value="false"
                    ></v-radio>
                    <v-radio
                      label="SI"
                      :value="true"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
                <v-card-text
                  class="py-0 caption"
                  v-text="$t('politically_exposed.info')"
                ></v-card-text>
              </v-card>
            </v-col>
            <v-col
              cols="12"
              md="4"
            >
              <v-card
                class="pt-0"
                elevation="0"
              >
                <v-card-title
                  class="subtitle-2 text-nobreak pt-0"
                  v-text="$t('facta.question')"
                >
                  ¿Estás  alcanzado por la ley FACTA?
                </v-card-title>
                <v-card-text
                  class="py-0"
                >
                  <v-radio-group
                    v-model="declaration.facta"
                    row
                  >
                    <v-radio
                      label="NO"
                      :value="false"
                    ></v-radio>
                    <v-radio
                      label="SI"
                      :value="true"
                    ></v-radio>
                  </v-radio-group>
                </v-card-text>
                <v-card-text
                  class="py-0 caption"
                >
                  FACTA (Foreign Account Tax Complience Act / Ley de cumplimiento tributario de cuentas extranjeras) es una normativa que tiene como objetivo promover la transparencia fiscal y el cumplimiento de las obligaciones fiscales de los ciudadanos y residentes estadounidenses así como también las personas jurídicas constituidas bajo la legislación de los Estados Unidos.
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
  export default {
    props: {
      valid: {
        type: Object,
        required: true
      },
      declaration: {
        type: Object,
        required: true
      }
    },
  };
</script>

<style scoped>
  .text-nobreak{
    word-break: normal;
  }
  @media (min-width: 1024px){
    .border-md-right{
      border-right: 2px solid rgba(0, 0, 0, .2) !important;
    }
  }
</style>