<i18n>
{
  "es": {
    "title": "Sólo algunos datos más",
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "es-AR": {
    "title": "Sólo algunos datos más",
    "cancel": "Cancelar",
    "submit": "Enviar"
  },
  "en": {
    "title": "Sólo algunos datos más",
    "cancel": "Cancelar",
    "submit": "Enviar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
    ref="parent"
  >
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-6 pb-0"
          elevation="0"
        >
          <div
            class="pb-8 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-place.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-3 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <v-window v-model="formType">
      <v-window-item :value="1">
        <show-user-address-form
          :valid="valid"
          :home="home"
          ref="form"
          @addCustomAddress="addCustomAddress"
        >
        </show-user-address-form>
      </v-window-item>

      <v-window-item :value="2">
        <show-user-address-custom-form
          :valid="valid"
          :home="home"
          ref="customForm"
        >
        </show-user-address-custom-form>
      </v-window-item>
    </v-window>

    <v-row
      v-if="error.showCustomAddressMessage"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6">
          Lo sentimos, ocurrió un error con los datos de tu domicilio. Hace
            <a href="#" @click.prevent="addCustomAddress" class="px-0" data-test-custom-form>click aqui</a>
          para volver a intentarlo.
        </v-alert>
      </v-col>
    </v-row>

    <v-row
      v-if="error.message != ''"
      justify="center"
    >
      <v-col
        cols="12"
        sm="8"
        md="8"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6" v-html="error.message" />
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center"
          elevation="0"
        >
          <v-btn
            v-if="!persistent"
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            v-text="$t('cancel')"
            @click="closeOnboardingDialog()"
            data-test-cancel
          ></v-btn>
          <v-btn
            :disabled="submitDisabled"
            color="primary"
            class="ma-2 px-16"
            v-text="$t('submit')"
            @click="submit()"
            :loading="loading"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import ShowUserAddressForm from './forms/ShowUserAddressForm';
  import ShowUserAddressCustomForm from './forms/ShowUserAddressCustomForm';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      },
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        loading: false,
        formType: 1,
        valid: {
          form: false
        },
        home: {},
        emptyHome: {
          address: "",
          street: "",
          street_number: "",
          postal_code: "",
          floor: "",
          apartment: "",
          city: "",
          state: "",
          provider: ""
        },
        error: {
          message: '',
          showCustomAddressMessage: false
        },
        customAddressErrorsCode: ['RQT11', 'RQT12', 'RQT13', 'RQT14', 'RQT15']
      };
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ],
      ),
      ...mapState(
        "onboarding", [
          'current_step',
        ]
      ),
      submitDisabled() {
        return this.formType === 1 ? !this.home.address || !(this.valid.form) : !this.home.address || !(this.valid.custom);
      }
    },
    watch: {
      current_step(value){
        if (value == 6) {
          if (this.current.country == 'AR') {
            if (this.current.address != '') {
              this.nextStep();
            }else {
              this.gtm_track_event();
            }
          }else {
            this.nextStep();
          }
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "saveUserAddress"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
          "getCardStatus"
        ]
      ),
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'user-address-step-06', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      addCustomAddress() {
        this.error.message = '';
        this.error.showCustomAddressMessage = false;
        this.formType = 2;
        this.home = {...this.emptyHome};
      },
      async submit() {
        let form = this.formType === 1 ? 'form' : 'customForm';
        this.valid.form = this.$refs[form].$refs.form.validate();

        if(this.valid.form && this.home.address) {
          this.loading = true;
          this.error.message = '';
          this.error.showCustomAddressMessage = false;
          await this.saveUserAddress(this.home)
          .then(response => {
            this.nextStep();
          })
          .catch(e => {
            if(e.response.status == 422) {
              for(let i = 0; i < e.response.data.errors.length; i++) {
                const responseError = e.response.data.errors[i];
                if (this.customAddressErrorsCode.includes(responseError.code)) {
                  this.error.message = '';
                  this.error.showCustomAddressMessage = true;
                }else{
                  this.error.showCustomAddressMessage = false;
                  this.error.message = 'Ocurrio un error, vuelva a intentarlo';
                }
                break
              }
            } else {
              this.error.message = 'Ocurrio un error, vuelva a intentarlo';
            }
            console.log(e);
          })
          this.loading = false;
        }
      }
    },
    created() {
      this.home = {...this.emptyHome};
    },
    components: {
      ShowUserAddressForm,
      ShowUserAddressCustomForm
    }
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
