<i18n>
{
  "es": {
    "title": "Necesitamos los siguientes datos para validar tu identidad",
    "subtitle": "Necesitamos unos últimos datos para <span class='font-weight-bold'>validar tu identidad.</span>",
    "cancel": "Cancelar",
    "continue": "Continuar"
  },
  "es-AR": {
    "title": "Necesitamos los siguientes datos para validar tu identidad",
    "subtitle": "Necesitamos unos últimos datos para <span class='font-weight-bold'>validar tu identidad.</span>",
    "cancel": "Cancelar",
    "continue": "Continuar"
  },
  "en": {
    "title": "Necesitamos los siguientes datos para validar tu identidad",
    "subtitle": "Necesitamos unos últimos datos para <span class='font-weight-bold'>validar tu identidad.</span>",
    "cancel": "Cancelar",
    "continue": "Continuar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
    ref="parent"
  >
    <v-row
      no-gutters
      class="pt-4"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
          elevation="0"
        >
          <div
            class="pb-4 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-id.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-1 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
              <!-- <p
                class="text-subtitle-2 pl-1 pt-1 my-auto"
                v-html="$t('subtitle')"
              ></p> -->
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      no-gutters
    >
      <v-col
        cols="12"
      >
        <v-card
          class="elevation-0"
          color="transparent"
        >
          <v-form
            ref="form"
            v-model="valid.form"
          >
            <show-general-details-form
              v-if="!loading"
              :valid="valid"
              :user="user"
            >
            </show-general-details-form>
            <show-general-details-loader
              v-else
            >
            </show-general-details-loader>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto mt-10 mt-md-0"
      >
        <v-card
          class="ma-6 text-center"
          elevation="0"
        >
          <v-btn
            v-if="!persistent"
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            @click="closeOnboardingDialog()"
            v-text="$t('cancel')"
            data-test-cancel
          ></v-btn>
          <v-btn
            :disabled="!(valid.form)"
            color="primary"
            class="ma-2 px-16"
            @click="submit()"
            v-text="$t('continue')"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
    <request-user-confirmation
      :modals="modals"
      :user="user"
      :formValues="formValues"
    >
    </request-user-confirmation>
  </v-stepper-content>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  import ShowGeneralDetailsForm from './forms/ShowGeneralDetailsForm';
  import ShowGeneralDetailsLoader from './loader/ShowGeneralDetailsLoader';
  import RequestUserConfirmation from './dialog/RequestUserConfirmation';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      },
      persistent: {
        required: false,
        default: false,
        type: Boolean
      }
    },
    data() {
      return {
        valid: {
          form: false,
        },
        modals: {
          openRequestUserConfirmation: false,
          openContactUs: false
        },
        user: {
          document: "",
          rut: "",
          cuit: "",
          gender: "",
          country: "",
          activeCountry: { iso2: '' },
          state: "",
          city: "",
          address: "",
          declarant: "",
          birthdate: null,
          occupation: "",
          civilStatus: "",
          legalEntity: false,
          facta: false,
          politicallyExposed: false,
          obligatedSubject: false
        },
        formValues: {
          "facta": false,
          "politicallyExposed": false
        },
        loading: true
      };
    },
    computed: {
      ...mapState(
        "onboarding", [
          'current_step',
          'gender_by_name'
        ]
      ),
      ...mapState(
        "user", [
          "current"
        ]
      ),
      ...mapState(
        "core", [
          "country"
        ]
      ),
    },
    watch: {
      current_step(value){
        if (value == 5) {
          this.get_gender_by_name();
          if (this.current.country == 'AR') {
            if (this.checkData(
              [{
                document: null
              }, {
                gender: null
              }, {
                birthdate: null
              }, {
                country: null
              }, {
                cuit: null
              }]
            )) {
              this.nextStep();
            }
          }else if (this.current.country == 'CO') {
            if (this.checkData(
              [{
                document: null
              }, {
                gender: null
              }, {
                birthdate: null
              }, {
                country: null
              }, {
                rut: null
              }, {
                state: null
              }, {
                city: null
              }, {
                address: null
              }, {
                declarant: null
              }]
            )) {
              this.nextStep();
            }
          }else {
            if (this.checkData(
              [{
                document: null
              }, {
                gender: null
              }, {
                birthdate: null
              }, {
                country: null
              }]
            )) {
              this.nextStep();
            }
          }
          this.gtm_track_event();
          this.init_user_data();
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "nextStep",
          "goToStep",
          "sendGeneralDetails",
          "getGenderByName"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      ...mapActions(
        "snackbar", [
          "showSnackbar"
        ]
      ),
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'others-user-data-step-05', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      checkData(data){
        let auxReturn = true
        for (let i = 0; i < data.length; i++) {
          const column = data[i]
          const key = Object.keys(column)[0]
          if (this.current[key] == column[key]) {
            auxReturn = false;
            break
          }
        }
        return auxReturn;
      },
      init_user_data(){
        this.user.document = (this.current.document != null) ? this.current.document : '';
        this.user.rut = (this.current.rut != null) ? this.current.rut : '';
        this.user.cuit = (this.current.cuit != null) ? this.current.cuit : '';
        this.user.gender = (this.current.gender != null) ? this.current.gender : '';
        this.user.state = (this.current.state != null) ? this.current.state : '';
        this.user.city = (this.current.city != null) ? this.current.city : '';
        this.user.address = (this.current.address != null) ? this.current.address : '';
        this.user.declarant = (this.current.declarant != null) ? this.current.declarant : '';
        this.user.country = (this.current.country != null) ? this.current.country : this.country;
        this.user.occupation = (this.current.occupation != null) ? this.current.occupation : '';
        this.user.civilStatus = (this.current.civil_status != null) ? this.current.civil_status : '';
        this.user.legalEntity = (this.current.legal_entity != null) ? this.current.legal_entity : false;
        this.user.facta = (this.current.facta != null) ? this.current.facta : false;
        this.user.politicallyExposed = (this.current.politically_exposed != null) ? this.current.politically_exposed : false;
        this.user.obligatedSubject = (this.current.obligated_subject != null) ? this.current.obligated_subject : false;

        if (this.current.birthdate != null) {
          var date = new Date(this.current.birthdate);
          this.user.birthdate = date.toISOString().substr(0, 10);
        }
      },
      async get_gender_by_name(){
        this.loading = true
        await this.getGenderByName(this.current.firstname)
        .then(response => {
          if (!(this.current.gender != null && this.current.all_documents_approved)) {
            this.user.gender = this.gender_by_name;
          }
        })
        .catch(e => {
          console.log(e);
        })
        this.loading = false
      },
      async submit() {
        this.valid.form = this.$refs.form.validate()

        if (this.valid.form) {
          if (
            this.user.facta ||
            this.user.politicallyExposed
          ) {
            this.modals.openRequestUserConfirmation = true;
            this.formValues.facta = this.user.facta;
            this.user.facta = false;
            this.user.legalEntity = false
            this.user.obligatedSubject = false
            this.formValues.politicallyExposed = this.user.politicallyExposed;
            this.user.politicallyExposed = false;
          } else {
            await this.sendGeneralDetails(this.user)
            .then(response => {
              this.toggleShowHideLoaderSpinner();
              if (this.user.country == "AR") {
                this.nextStep();
              }else {
                this.goToStep(7);
              }
            })
            .catch(e => {
              this.toggleShowHideLoaderSpinner();
              let errors = '', parseErrors = JSON.parse(e.response.errors)
              parseErrors.forEach(parseError => {
                errors += `${parseError}<br>`;
              });
              this.showSnackbar({ message: errors });
              console.log(e);
            })
          }
        }
      },
    },
    components: {
      ShowGeneralDetailsForm,
      ShowGeneralDetailsLoader,
      RequestUserConfirmation
    },
  };
</script>

<style scoped>
  .content-bg-color{
    background-color: #41ffaf;
  }
</style>
