<i18n>
{
  "es": {
    "title": "¡Validemos tu identidad!",
    "subtitle": "Por <span class='font-weight-bold'>razones de seguridad</span>, necesitamos que nos adjuntes fotos de tu documento.",
    "skip": "Omitir",
    "continue": "Continuar"
  },
  "es-AR": {
    "title": "¡Validemos tu identidad!",
    "subtitle": "Por <span class='font-weight-bold'>razones de seguridad</span>, necesitamos que nos adjuntes fotos de tu documento.",
    "skip": "Omitir",
    "continue": "Continuar"
  },
  "en": {
    "title": "¡Validemos tu identidad!",
    "subtitle": "Por <span class='font-weight-bold'>razones de seguridad</span>, necesitamos que nos adjuntes fotos de tu documento.",
    "skip": "Omitir",
    "continue": "Continuar"
  }
}
</i18n>

<template>
  <v-stepper-content
    :step="step"
    class="pa-0"
  >
    <v-row
      no-gutters
      class="pt-4"
    >
      <v-col
        cols="12"
      >
        <v-card
          class="px-6 px-sm-8 px-md-16 pt-3 pb-0"
          elevation="0"
        >
          <div
            class="pb-4 d-inline-flex"
          >
            <img
              v-show="$vuetify.breakpoint.mdAndUp"
              src="../../../../../../../../../assets/onboarding/icons/icon-attach.svg"
              class="mt-0 align-self-start"
            />
            <div>
              <p
                class="text-h6 font-weight-bold pt-2 pl-1 my-auto"
                v-text="$t('title')"
              ></p>
              <p
                class="text-subtitle-2 pl-1 pt-1 my-auto"
                v-html="$t('subtitle')"
              ></p>
            </div>
          </div>
        </v-card>
      </v-col>
    </v-row>

    <show-validate-identity-form
      :images="images"
      :error="error"
    >
    </show-validate-identity-form>

    <v-row
      v-if="error.message != ''"
      justify="center"
    >
      <v-col
        cols="12"
        sm="6"
        class="px-6 px-sm-8 px-md-16 mx-auto"
      >
        <v-alert dense outlined type="error" class="mb-0 mt-6" v-html="error.message" />
      </v-col>
    </v-row>

    <v-row
      justify="center"
    >
      <v-col
        cols="12"
        class="mx-auto"
      >
        <v-card
          class="pa-6 text-center"
          elevation="0"
        >
          <v-btn
            outlined
            color="primary"
            class="ma-2 px-16 border-4"
            @click="goToStep(9)"
            v-text="$t('skip')"
            data-test-skip
          ></v-btn>
          <v-btn
            :disabled="!valid_form"
            color="primary"
            class="ma-2 px-16"
            @click="submit()"
            v-text="$t('continue')"
            data-test-continue
          ></v-btn>
        </v-card>
      </v-col>
    </v-row>
  </v-stepper-content>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  import ShowValidateIdentityForm from './forms/ShowValidateIdentityForm';

  export default {
    props: {
      step: {
        required: true,
        type: Number
      }
    },
    data() {
      return {
        images: {
          back: {
            filename: '',
            file: '',
            status: "",
            rejection_detail: "",
            type: "id_back"
          },
          front: {
            filename: '',
            file: '',
            status: "",
            rejection_detail: "",
            type: "id_front"
          },
          selfie: {
            filename: '',
            file: '',
            status: "",
            rejection_detail: "",
            type: "selfie"
          },
        },
        error: {
          message: ''
        }
      };
    },
    computed: {
      ...mapState(
        "user", [
          "current"
        ]
      ),
      ...mapState(
        "onboarding", [
          'current_step'
        ]
      ),
      valid_form(){
        let flagOne = this.images.back.file != '';
        let flagTwo = this.images.front.file != '';
        let flagThree = this.images.selfie.file != '';

        return (flagOne && flagTwo && flagThree)
      },
    },
    watch: {
      async current_step(value){
        if (value == 8) {
          if (this.current.all_documents_approved == true) {
            this.goToStep(9);
          }else{
            this.gtm_track_event();
            await this.get_document_status();
          }
        }
      }
    },
    methods: {
      ...mapActions(
        "onboarding", [
          "goToStep",
          "nextStep",
          "getDocumentStatus"
        ],
      ),
      ...mapActions(
        "onboarding_dialog", [
          "closeOnboardingDialog",
        ]
      ),
      ...mapActions(
        "core", [
          "toggleShowHideLoaderSpinner",
        ]
      ),
      gtm_track_event(){
        this.$gtm.trackEvent({
          event: 'documentation-step-07', // Event type [default = 'interaction'] (Optional)
          category: 'Onboarding',
          action: 'Registro',
          label: this.current.email.toLowerCase().trim(),
          noninteraction: false // Optional
        });
      },
      async get_document_status(){
        this.toggleShowHideLoaderSpinner();
        await this.getDocumentStatus()
        .then(response => {
          this.toggleShowHideLoaderSpinner();
          this.error.message = '';
          this.images.back.file = response.data.fields.id_back.file
          this.images.back.status = response.data.fields.id_back.status
          this.images.front.file = response.data.fields.id_front.file
          this.images.front.status = response.data.fields.id_front.status
          this.images.selfie.file = response.data.fields.selfie.file
          this.images.selfie.status = response.data.fields.selfie.status

          if (response.data.fields.id_back.file != '' && response.data.fields.id_front.file != '' && response.data.fields.selfie.file != '') {
            this.goToStep(9);
          }
        })
        .catch(e => {
          this.toggleShowHideLoaderSpinner();
          this.error.message = e.response.data.message;
          console.log(e);
        })
      },
      async submit() {
        if (this.valid_form) {
          this.nextStep();
        }
      },
    },
    components: {
      ShowValidateIdentityForm
    }
  };
</script>

<style scoped>
</style>
