<i18n>
{
  "es": {
    "title": "Login",
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas",
    "image": "#ElFuturoDeTuPlata"
  },
  "en": {
    "title": "Login",
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas",
    "image": "#ElFuturoDeTuPlata"
  }
}
</i18n>

<template>
  <v-container
    fluid
    class="fill-height pa-0 align-start"
  >
    <v-sheet
      color="black"
      width="100%"
      height="100%"
    >
      <v-container
        class="py-12 inner-container fill-height"
      >
        <v-row
          class="justify-center"
        >
          <v-col
            v-if="current_step_dialog == 1"
            cols="12"
            md="5"
            lg="6"
            class="d-none d-md-block"
          >
            <div
              class="composition"
              :class="{'small': $vuetify.breakpoint.mdAndDown}"
            >
              <img :src="require('../../../assets/onboarding/images/login/world.png')" class="world" />

              <div
                v-show="!$vuetify.breakpoint.mdAndDown"
                class="sphere-container"
              >
                <div class="wrap">
                  <div class="c" v-for="n in 350" />
                </div>
              </div>

              <div class="particles">
                <div
                  class="twinkling"
                  :style="{background: 'transparent url(' + require('../../../assets/onboarding/images/login/twinkling.png') + ') repeat'}"
                ></div>
                <img :src="require('../../../assets/onboarding/images/login/particles.png')" />
              </div>

              <img :src="require('../../../assets/onboarding/images/login/phone.png')" class="phone" />
              <img :src="require('../../../assets/onboarding/images/login/glow.png')" class="glow" />
              <img :src="require('../../../assets/onboarding/images/login/grid.png')" class="grid" />

              <img :src="require('../../../assets/onboarding/images/login/coin-btc.png')" class="coin-btc floating animate-delay-1" />
              <img :src="require('../../../assets/onboarding/images/login/coin-eth.png')" class="coin-eth floating animate-delay-16" />
              <img :src="require('../../../assets/onboarding/images/login/coin-ada.png')" class="coin-ada floating animate-delay-8" />
              <img :src="require('../../../assets/onboarding/images/login/coin-1.png')" class="coin-1 floating animate-delay-12" />
              <img :src="require('../../../assets/onboarding/images/login/coin-2.png')" class="coin-2 floating animate-delay-1" />
              <img :src="require('../../../assets/onboarding/images/login/coin-3.png')" class="coin-3 floating animate-delay-19" />

              <img :src="require('../../../assets/onboarding/images/login/icon-ltc.png')" class="icon-ltc floating animate-delay-6" />
              <img :src="require('../../../assets/onboarding/images/login/icon-binance.png')" class="icon-binance floating animate-delay-1" />
              <img :src="require('../../../assets/onboarding/images/login/icon-1.png')" class="icon-1 floating animate-delay-19" />
              <img :src="require('../../../assets/onboarding/images/login/icon-2.png')" class="icon-2 floating animate-delay-14" />

              <img :src="require('../../../assets/onboarding/images/login/circle.png')" class="circle-1 floating animate-delay-18" />
              <img :src="require('../../../assets/onboarding/images/login/circle.png')" class="circle-2 floating animate-delay-10" />
              <img :src="require('../../../assets/onboarding/images/login/circle.png')" class="circle-3 floating animate-delay-1" />

              <img :src="require('../../../assets/onboarding/images/login/dot.png')" class="dot-1 floating animate-delay-1" />
              <img :src="require('../../../assets/onboarding/images/login/dot.png')" class="dot-2 floating animate-delay-8" />
              <img :src="require('../../../assets/onboarding/images/login/dot.png')" class="dot-3 floating animate-delay-16" />

              <span
                class="legend poppins dianthus-primary--text"
                v-html="$t('image')"
              ></span>
            </div>

            <!--<v-img
              :src="require('../../../assets/onboarding/images/login-background.png')"
              :lazy-src="require('../../../assets/onboarding/images/login-background.png?lazy')"
              position="left center mt-6"
              width="100%"
              contain
            ></v-img>-->
          </v-col>
          <v-col
            cols="12"
            :sm="current_step_dialog == 1 ? 8 : 12"
            :md="current_step_dialog == 1 ? 7 : 12"
            :lg="current_step_dialog == 1 ? 6 : 12"
          >
            <v-row
              no-gutters
            >
              <v-col
                cols="12"
                style="transition: all 0.1s"
              >
                <onboarding-stepper
                  :persistentModal="false"
                  :initialStep="1"
                >
                </onboarding-stepper>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-sheet>
  </v-container>
</template>

<script>
  import { mapState } from "vuex";
  import OnboardingStepper from "../components/onboarding/stepper/OnboardingStepper.vue"

  export default {
    head: {
      title: function () {
        return {
          inner: this.$t('title'),
          separator: '-',
          complement: 'SeSocio'
        }
      }
    },
    data() {
      return {}
    },
    computed: {
      ...mapState(
        "onboarding_dialog", [
          "current_step_dialog"
        ]
      ),
      ...mapState(
        "user", [
          "isLoggedIn",
          "current"
        ]
      )
    },
    mounted() {
      if (this.isLoggedIn) {
        this.$router.push('/')
      }
    },
    components: {
      OnboardingStepper
    }
  }
</script>

<style lang="scss" scoped>
  @media (min-width: 1904px) {
    .inner-container {
      max-width: 1185px;
    }
  }

  .composition {
    position: relative;
    height: 488px;
    width: 100%;
    z-index: 0;

    &.small {
      margin-top: 100px;
      height: 306px;

      .legend {
        font-size: 18px;
      }
    }

    img {
      position: absolute;
      max-width: 100%;
    }

    .world {
      top: 10%;
      width: 42%;
      z-index: 200;
      left: 35%;
    }

    .particles {
      position: absolute;
      top: 12%;
      left: 19%;
      width: 79%;
      height: 100%;
      opacity: .8;

      .twinkling {
        width:10000px;
        height: 100%;
        background-size: 100px 100px !important;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        animation: move-background 200s linear infinite;
      }
    }

    .phone {
      top: 62%;
      z-index: 100;
    }

    .glow {
      z-index: 150;
      top: 27.3%;
      left: 16.6%;
      width: 75%;
      animation: glow 6s linear infinite;
    }

    .grid {
      z-index: 50;
      width: 83%;
      top: 71%;
      left: 9%;
    }

    .legend {
      position: absolute;
      font-size: 26px;
      left: 30%;
      top: 75%;
      z-index: 250;
    }

    .coin-btc {
      top: 37%;
      left: 53%;
      z-index: 250;
      width: 9%;
    }

    .coin-eth {
      top: 21%;
      left: 67%;
      z-index: 250;
      width: 11%;
    }

    .coin-ada {
      top: 29%;
      left: 58%;
      z-index: 250;
      width: 4%;
    }

    .coin-1 {
      top: 28%;
      left: 41%;
      z-index: 250;
      width: 7%;
    }

    .coin-2 {
      top: 30%;
      left: 81%;
      z-index: 250;
      width: 5%;
    }

    .coin-3 {
      top: 20%;
      left: 30%;
      z-index: 250;
      width: 4%;
    }

    .icon-binance {
      top: 56%;
      left: 38%;
      z-index: 250;
      width: 8%;
    }

    .icon-ltc {
      top: 18%;
      left: 80%;
      z-index: 250;
      width: 6%;
    }

    .icon-1 {
      top: 55%;
      left: 65%;
      z-index: 250;
      width: 8%;
    }

    .icon-2 {
      top: 39%;
      left: 28%;
      z-index: 250;
      width: 7%;
    }

    .circle-1 {
      top: 47%;
      left: 69%;
      z-index: 250;
      width: 4%;
    }

    .circle-2 {
      top: 53%;
      left: 35%;
      z-index: 250;
      width: 2.7%;
      opacity: .8;
    }

    .circle-3 {
      top: 43%;
      left: 79%;
      z-index: 250;
      width: 2%;
      opacity: .6;
    }

    .dot-1 {
      top: 55%;
      left: 81%;
      z-index: 250;
      width: 1.2%;
    }

    .dot-2 {
      top: 31%;
      left: 27%;
      z-index: 250;
      width: 1.2%;
    }

    .dot-3 {
      top: 43%;
      left: 87%;
      z-index: 250;
      width: 0.8%;
    }
  }

  $total: 350; // total particles
  $orb-size: 123px;
  $particle-size: 3px;
  $time: 40s;

  .sphere-container {
    animation: rotation-fix $time infinite linear; // rotate orb
    position: relative;
    z-index: 210;
    top: 33%;
    left: 55.5%;
    width: 0;
    height: 0;
  }

  @keyframes glow {
    from {
      opacity: 0.5;
    }
    4% {
      opacity: 0.7;
    }
    8% {
      opacity: 0.45;
    }
    12% {
      opacity: 0.65;
    }
    16% {
      opacity: 0.30;
    }
    20% {
      opacity: 0.5;
    }
    24% {
      opacity: 0.6;
    }
    28% {
      opacity: 0.25;
    }
    32% {
      opacity: 0.30;
    }
    36% {
      opacity: 0.55;
    }
    40% {
      opacity: 0.4;
    }
    44% {
      opacity: 0.6;
    }
    48% {
      opacity: 0.35;
    }
    52% {
      opacity: 0.20;
    }
    56% {
      opacity: 0.70;
    }
    60% {
      opacity: 0.5;
    }
    64% {
      opacity: 0.65;
    }
    68% {
      opacity: .35;
    }
    72% {
      opacity: 0.5;
    }
    76% {
      opacity: 0.4;
    }
    80% {
      opacity: .65;
    }
    84% {
      opacity: 0.40;
    }
    88% {
      opacity: 0.35;
    }
    92% {
      opacity: 0.6;
    }
    96% {
      opacity: 0.3;
    }
    to {
      opacity: 0.5;
    }
  }

  @keyframes move-background {
    from {
      transform: translate3d(0px, 0px, 0px);
    }
    to { 
      transform: translate3d(1000px, 0px, 0px);
    }
  }

  @keyframes rotation-fix {
    0% {
      transform: translate(-8px, 15px);
    }
    20% {
      transform: translate(-5px, 20px);
    }
    40% {
      transform: translate(9px, 14px);
    }
    60% {
      transform: translate(-12px, -6px);
    }
    80% {
      transform: translate(9px, -11px);
    }
  }

  .wrap {
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: rotate $time infinite linear; // rotate orb
  }

  @keyframes rotate {
    100% {
      transform: rotateY(360deg) rotateX(360deg);
    }
  }

  .c {
    position: absolute;
    width: $particle-size;
    height: $particle-size;
    border-radius: 50%;
    opacity: 0; 
  }

  @for $i from 1 through $total {
    $z: (random(360) * 1deg); // random angle to rotateZ
    $y: (random(360) * 1deg); // random to rotateX
    
    .c:nth-child(#{$i}){ // grab the nth particle
      animation: orbit#{$i} $time infinite;
      animation-delay: ($i * .01s); 
      background-color: white;
    }

    @keyframes orbit#{$i}{
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1; // fade in
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
      }
      90% {
        transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 20-90
        opacity: 1; // hold opacity 20-80
      }
      100% {
         transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3
      }
    }
  }

  .floating {
    opacity: 0;
    transform: translateY(40px);
    transform-origin: top center;
    animation: slide-up .8s cubic-bezier(0.65, 0, 0.35, 1) forwards, floating 4s ease-in-out .8s infinite;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    20% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes floating {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  @for $i from 0 through 20 {
    .animate-delay-#{$i + 1} { animation-delay: #{$i/10}s; }
  }
</style>
