<i18n>
{
  "es": {
    "title": "Registro",
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas"
  },
  "en": {
    "title": "Registro",
    "headline-welcome-back": "¡Hola! Nos alegra que vuelvas"
  }
}
</i18n>

<template>
  <v-container
    fluid
    class="fill-height pa-0 align-start"
  >
    <v-sheet
      color="black"
      width="100%"
      height="100%"
    >
      <v-img
        :src="require('../../../assets/onboarding/images/register-background.png')"
        :lazy-src="require('../../../assets/onboarding/images/register-background.png?lazy')"
        position="center top"
        width="100%"
        height="100%"
        contain
      >
      <v-container
          class="py-12 fill-height"
        >
          <v-row
            class="justify-center"
          >
            <v-col
              cols="12"
              :sm="current_step_dialog == 1 ? 8 : 12"
              :md="current_step_dialog == 1 ? 7 : 12"
              :lg="current_step_dialog == 1 ? 6 : 12"
              :xl="current_step_dialog == 1 ? 4 : 12"
              style="transition: all 0.1s"
            >
              <v-row
                no-gutters
              >
                <v-col
                  v-if="current_step_dialog == 1"
                  cols="12"
                  class="d-block d-md-none"
                >
                  <h3
                    class="text-h5 pb-4"
                  >
                    <span
                      v-text="$t('headline-welcome-back')"
                      class="font-weight-bold poppins white--text"
                    ></span>
                  </h3>
                </v-col>
                <v-col
                  cols="12"
                >
                  <onboarding-stepper
                    :persistentModal="false"
                    :initialStep="2"
                  >
                  </onboarding-stepper>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-img>
    </v-sheet>
  </v-container>
</template>

<script>
  import { mapState } from "vuex";
  import OnboardingStepper from "../components/onboarding/stepper/OnboardingStepper.vue"

  export default {
    head: {
      title: function () {
        return {
          inner: this.$t('title'),
          separator: '-',
          complement: 'SeSocio'
        }
      }
    },
    data() {
      return {}
    },
    computed: {
      ...mapState(
        "onboarding_dialog", [
          "current_step_dialog"
        ]
      )
    },
    components: {
      OnboardingStepper
    }
  }
</script>

<style scoped>
  
</style>